{{if not .DisableNewPullMirrors}}
<div class="inline field">
	<label>{{ctx.Locale.Tr "Migration Options"}}</label>
	<div class="ui checkbox">
		<input id="mirror" name="mirror" type="checkbox" {{if .mirror}} checked{{end}}>
		<label>{{ctx.Locale.Tr "This repository will be a mirror"}}</label>
	</div>
</div>
{{end}}
{{if .LFSActive}}
<div class="inline field">
	<label></label>
	<div class="ui checkbox">
		<input id="lfs" name="lfs" type="checkbox" {{if .lfs}} checked{{end}}>
		<label>{{ctx.Locale.Tr "Migrate LFS files"}}</label>
	</div>
	<span id="lfs_settings" class="tw-hidden">(<a id="lfs_settings_show" href="#">{{ctx.Locale.Tr "Advanced Settings"}}</a>)</span>
</div>
<div id="lfs_endpoint" class="tw-hidden">
	<span class="help">{{ctx.Locale.Tr "Migration will attempt to use your Git remote to <a target=\"_blank\" rel=\"noopener noreferrer\" href=\"%s\">determine the LFS server</a>. You can also specify a custom endpoint if the repository LFS data is stored somewhere else." "https://github.com/git-lfs/git-lfs/blob/main/docs/api/server-discovery.md#server-discovery"}}{{if .ContextUser.CanImportLocal}} {{ctx.Locale.Tr "A local server path is supported too."}}{{end}}</span>
	<div class="inline field {{if .Err_LFSEndpoint}}error{{end}}">
		<label>{{ctx.Locale.Tr "LFS Endpoint"}}</label>
		<input name="lfs_endpoint" value="{{.lfs_endpoint}}" placeholder="{{ctx.Locale.Tr "If left blank, the endpoint will be derived from the clone URL."}}">
	</div>
</div>
{{end}}
