{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content {{if .IsRepo}}repository{{end}}">
	{{if .IsRepo}}{{template "repo/header" .}}{{end}}
	<div class="ui container">
		{{template "base/alert" .}}
		<div class="status-page-error">
			<div class="status-page-error-title">404 Not Found</div>
			<div class="tw-text-center">
				<div class="tw-my-4">{{if .NotFoundPrompt}}{{.NotFoundPrompt}}{{else}}{{ctx.Locale.Tr "The page you are trying to reach either <strong>does not exist</strong> or <strong>you are not authorized</strong> to view it."}}{{end}}</div>
				{{if .NotFoundGoBackURL}}
					<a class="tw-block tw-my-4" href="{{.NotFoundGoBackURL}}">{{ctx.Locale.Tr "Go Back"}}</a>
				{{end}}
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
