<h4 class="ui top attached header">
	{{ctx.Locale.Tr "Manage OpenID Addresses"}}
</h4>
<div class="ui attached segment">
	<div class="flex-list">
		<div class="flex-item">
			{{ctx.Locale.Tr "OpenID lets you delegate authentication to an external provider."}}
		</div>
		{{range .OpenIDs}}
			<div class="flex-item tw-items-center">
				<div class="flex-item-leading">
					{{svg "fontawesome-openid" 20}}
				</div>
				<div class="flex-item-main">
					<div class="flex-item-title">{{.URI}}</div>
				</div>
				<div class="flex-item-trailing">
					<form action="{{AppSubUrl}}/user/settings/security/openid/toggle_visibility" method="post">
						{{$.CsrfTokenHtml}}
						<input name="id" type="hidden" value="{{.ID}}">
						{{if .Show}}
							<button class="ui tiny button">
							{{svg "octicon-eye" 16 "icon"}}
							{{ctx.Locale.Tr "Hide from profile"}}
							</button>
						{{else}}
							<button class="ui tiny button">
							{{svg "octicon-eye-closed" 16 "icon"}}
							{{ctx.Locale.Tr "Show on profile"}}
							</button>
						{{end}}
					</form>
					<button class="ui red tiny button delete-button" data-modal-id="delete-openid" data-url="{{AppSubUrl}}/user/settings/security/openid/delete" data-id="{{.ID}}">
						{{ctx.Locale.Tr "Remove"}}
					</button>
				</div>
			</div>
		{{end}}
	</div>
</div>
<div class="ui bottom attached segment">
	<form class="ui form" action="{{AppSubUrl}}/user/settings/security/openid" method="post">
		{{.CsrfTokenHtml}}
		<div class="required field {{if .Err_OpenID}}error{{end}}">
			<label for="openid">{{ctx.Locale.Tr "Add New OpenID URI"}}</label>
			<input id="openid" name="openid" type="text" required>
		</div>
		<button class="ui primary button">
			{{ctx.Locale.Tr "Add OpenID URI"}}
		</button>
	</form>

	<div class="ui g-modal-confirm delete modal" id="delete-openid">
		<div class="header">
			{{svg "octicon-trash"}}
			{{ctx.Locale.Tr "Remove OpenID Address"}}
		</div>
		<div class="content">
			<p>{{ctx.Locale.Tr "Removing this OpenID address from your account will prevent you from signing in with it. Continue?"}}</p>
		</div>
		{{template "base/modal_actions_confirm" .}}
	</div>
</div>
