{{template "admin/layout_head" (dict "ctxData" . "pageClass" "admin user")}}
	<div class="admin-setting-content">
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "User Account Management"}} ({{ctx.Locale.Tr "Total: %d" .Total}})
			<div class="ui right">
				<a class="ui primary tiny button" href="{{AppSubUrl}}/-/admin/users/new">{{ctx.Locale.Tr "Create User Account"}}</a>
			</div>
		</h4>
		<div class="ui attached segment">
			<form class="ui form ignore-dirty flex-text-block" id="user-list-search-form">
				<div class="tw-flex-1">
					{{template "shared/search/combo" dict "Value" .Keyword "Placeholder" (ctx.Locale.Tr "Search users…")}}
				</div>
				<!-- Right Menu -->
				<div class="ui secondary menu tw-m-0">
					<!-- Status Filter Menu Item -->
					<div class="ui dropdown type jump item">
						<span class="text">{{ctx.Locale.Tr "Filter"}}</span>
						{{svg "octicon-triangle-down" 14 "dropdown icon"}}
						<div class="menu flex-items-menu">
							<a class="item j-reset-status-filter">{{ctx.Locale.Tr "Reset"}}</a>
							<div class="divider"></div>
							<label class="item"><input type="radio" name="status_filter[is_admin]" value="1"> {{ctx.Locale.Tr "Admin"}}</label>
							<label class="item"><input type="radio" name="status_filter[is_admin]" value="0"> {{ctx.Locale.Tr "Not Admin"}}</label>
							<div class="divider"></div>
							<label class="item"><input type="radio" name="status_filter[is_active]" value="1"> {{ctx.Locale.Tr "Active"}}</label>
							<label class="item"><input type="radio" name="status_filter[is_active]" value="0"> {{ctx.Locale.Tr "Inactive"}}</label>
							<div class="divider"></div>
							<label class="item"><input type="radio" name="status_filter[is_restricted]" value="0"> {{ctx.Locale.Tr "Not Restricted"}}</label>
							<label class="item"><input type="radio" name="status_filter[is_restricted]" value="1"> {{ctx.Locale.Tr "Restricted"}}</label>
							<div class="divider"></div>
							<label class="item"><input type="radio" name="status_filter[is_prohibit_login]" value="0"> {{ctx.Locale.Tr "Allow Login"}}</label>
							<label class="item"><input type="radio" name="status_filter[is_prohibit_login]" value="1"> {{ctx.Locale.Tr "Prohibit Login"}}</label>
							<div class="divider"></div>
							<label class="item"><input type="radio" name="status_filter[is_2fa_enabled]" value="1"> {{ctx.Locale.Tr "2FA Enabled"}}</label>
							<label class="item"><input type="radio" name="status_filter[is_2fa_enabled]" value="0"> {{ctx.Locale.Tr "2FA Disabled"}}</label>
						</div>
					</div>

					<!-- Sort Menu Item -->
					<div class="ui dropdown type jump item">
						<span class="text">
							{{ctx.Locale.Tr "Sort"}}
						</span>
						{{svg "octicon-triangle-down" 14 "dropdown icon"}}
						<div class="menu">
							<button class="item" name="sort" value="oldest">{{ctx.Locale.Tr "Oldest"}}</button>
							<button class="item" name="sort" value="newest">{{ctx.Locale.Tr "Newest"}}</button>
							<button class="item" name="sort" value="alphabetically">{{ctx.Locale.Tr "Alphabetically"}}</button>
							<button class="item" name="sort" value="reversealphabetically">{{ctx.Locale.Tr "Reverse alphabetically"}}</button>
							<button class="item" name="sort" value="recentupdate">{{ctx.Locale.Tr "Most recently updated"}}</button>
							<button class="item" name="sort" value="leastupdate">{{ctx.Locale.Tr "Least recently updated"}}</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="ui attached table segment">
			<table class="ui very basic striped selectable table unstackable">
				<thead>
					<tr>
						<th data-sortt-asc="oldest" data-sortt-desc="newest">ID{{SortArrow "oldest" "newest" .SortType false}}</th>
						<th data-sortt-asc="alphabetically" data-sortt-desc="reversealphabetically" data-sortt-default="true">
							{{ctx.Locale.Tr "Username"}}
							{{SortArrow "alphabetically" "reversealphabetically" $.SortType true}}
						</th>
						<th>{{ctx.Locale.Tr "Email Address"}}</th>
						<th>{{ctx.Locale.Tr "Activated"}}</th>
						<th>{{ctx.Locale.Tr "Restricted"}}</th>
						<th>{{ctx.Locale.Tr "2FA"}}</th>
						<th>{{ctx.Locale.Tr "Created"}}</th>
						<th data-sortt-asc="lastlogin" data-sortt-desc="reverselastlogin">
							{{ctx.Locale.Tr "Last Sign-In"}}
							{{SortArrow "lastlogin" "reverselastlogin" $.SortType false}}
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{range .Users}}
						<tr>
							<td>{{.ID}}</td>
							<td>
								<a href="{{.HomeLink}}">{{.Name}}</a>
								{{if .IsAdmin}}
									<span class="ui mini label">{{ctx.Locale.Tr "Admin"}}</span>
								{{else if eq 2 .Type}}{{/* Reserved user */}}
									<span class="ui mini label">{{ctx.Locale.Tr "Reserved"}}</span>
								{{else if eq 4 .Type}}{{/* Bot "user" */}}
									<span class="ui mini label">{{ctx.Locale.Tr "Bot"}}</span>
								{{else if eq 5 .Type}}{{/* Remote user */}}
									<span class="ui mini label">{{ctx.Locale.Tr "Remote"}}</span>
								{{end}}
							</td>
							<td class="gt-ellipsis tw-max-w-48">{{.Email}}</td>
							<td>{{svg (Iif .IsActive "octicon-check" "octicon-x")}}</td>
							<td>{{svg (Iif .IsRestricted "octicon-check" "octicon-x")}}</td>
							<td>{{svg (Iif (index $.UsersTwoFaStatus .ID) "octicon-check" "octicon-x")}}</td>
							<td>{{DateUtils.AbsoluteShort .CreatedUnix}}</td>
							{{if .LastLoginUnix}}
								<td>{{DateUtils.AbsoluteShort .LastLoginUnix}}</td>
							{{else}}
								<td><span>{{ctx.Locale.Tr "Never Signed In"}}</span></td>
							{{end}}
							<td>
								<div class="tw-flex tw-gap-2">
									<a href="{{$.Link}}/{{.ID}}" data-tooltip-content="{{ctx.Locale.Tr "User Details"}}">{{svg "octicon-person"}}</a>
									<a href="{{$.Link}}/{{.ID}}/edit" data-tooltip-content="{{ctx.Locale.Tr "Edit"}}">{{svg "octicon-pencil"}}</a>
								</div>
							</td>
						</tr>
					{{else}}
						<tr class="no-results-row"><td class="tw-text-center" colspan="9">{{ctx.Locale.Tr "No results found."}}</td></tr>
					{{end}}
				</tbody>
			</table>
		</div>

		{{template "base/paginate" .}}
	</div>
{{template "admin/layout_footer" .}}
