{{template "admin/layout_head" (dict "ctxData" . "pageClass" "admin view user")}}

<div class="admin-setting-content">
	<div class="admin-responsive-columns">
		<div class="tw-flex-1">
			<h4 class="ui top attached header">
				{{.Title}}
				<div class="ui right">
					<a class="ui primary tiny button" href="{{.Link}}/edit">{{ctx.Locale.Tr "Edit"}}</a>
				</div>
			</h4>
			<div class="ui attached segment">
				{{template "admin/user/view_details" .}}
			</div>
		</div>
		<div class="tw-flex-1">
			<h4 class="ui top attached header">
				{{ctx.Locale.Tr "User Email Addresses"}} ({{ctx.Locale.Tr "Total: %d" .EmailsTotal}})
			</h4>
			<div class="ui attached segment">
				{{template "admin/user/view_emails" .}}
			</div>
		</div>
	</div>
	<h4 class="ui top attached header">
		{{ctx.Locale.Tr "Repositories"}} ({{ctx.Locale.Tr "Total: %d" .ReposTotal}})
	</h4>
	<div class="ui attached segment">
		{{template "shared/repo/list" .}}
	</div>
	<h4 class="ui top attached header">
		{{ctx.Locale.Tr "Organizations"}} ({{ctx.Locale.Tr "Total: %d" .OrgsTotal}})
	</h4>
	<div class="ui attached segment">
		{{template "explore/user_list" .}}
	</div>
</div>

{{template "admin/layout_footer" .}}
