<div class="flex-list">
	{{range .Emails}}
		<div class="flex-item">
			<div class="flex-item-main">
				<div class="flex-text-block">
					<a href="mailto:{{.Email}}">{{.Email}}</a>
					{{if .IsPrimary}}
						<div class="ui primary label">{{ctx.Locale.Tr "Primary"}}</div>
					{{end}}
					{{if .IsActivated}}
						<div class="ui green label">{{ctx.Locale.Tr "Activated"}}</div>
					{{else}}
						<div class="ui label">{{ctx.Locale.Tr "Requires activation"}}</div>
					{{end}}
				</div>
			</div>
		</div>
	{{end}}
</div>
