{{template "admin/layout_head" (dict "ctxData" . "pageClass" "admin")}}
	<div class="admin-setting-content">
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "Repository Management"}} ({{ctx.Locale.Tr "Total: %d" .Total}})
			<div class="ui right">
				<a class="ui primary tiny button" href="{{AppSubUrl}}/-/admin/repos/unadopted">{{ctx.Locale.Tr "Unadopted Repositories"}}</a>
			</div>
		</h4>
		<div class="ui attached segment">
			{{template "shared/repo/search" .}}
		</div>
		<div class="ui attached table segment">
			<table class="ui very basic striped table selectable unstackable">
				<thead>
					<tr>
						<th data-sortt-asc="oldest" data-sortt-desc="newest">ID{{SortArrow "oldest" "newest" $.SortType false}}</th>
						<th>{{ctx.Locale.Tr "Owner"}}</th>
						<th data-sortt-asc="alphabetically" data-sortt-desc="reversealphabetically">
							{{ctx.Locale.Tr "Name"}}
							{{SortArrow "alphabetically" "reversealphabetically" $.SortType false}}
						</th>
						<th>{{ctx.Locale.Tr "Watchers"}}</th>
						<th  data-sortt-asc="moststars" data-sortt-desc="feweststars">
							{{ctx.Locale.Tr "Stars"}}
							{{SortArrow "moststars" "feweststars" $.SortType false}}
						</th>
						<th  data-sortt-asc="mostforks" data-sortt-desc="fewestforks">
							{{ctx.Locale.Tr "Forks"}}
							{{SortArrow "mostforks" "fewestforks" $.SortType false}}
						</th>
						<th>{{ctx.Locale.Tr "Issues"}}</th>
						<th  data-sortt-asc="gitsize" data-sortt-desc="reversegitsize">
							{{ctx.Locale.Tr "Size"}}
							{{SortArrow "gitsize" "reversegitsize" $.SortType false}}
						</th>
						<th  data-sortt-asc="lfssize" data-sortt-desc="reverselfssize">
							{{ctx.Locale.Tr "LFS Size"}}
							{{SortArrow "lfssize" "reverselfssize" $.SortType false}}
						</th>
						<th>{{ctx.Locale.Tr "Updated"}}</th>
						<th>{{ctx.Locale.Tr "Created"}}</th>
						<th>{{ctx.Locale.Tr "Op."}}</th>
					</tr>
				</thead>
				<tbody>
					{{range .Repos}}
						<tr>
							<td>{{.ID}}</td>
							<td>
								<a class="tw-break-anywhere" href="{{.Owner.HomeLink}}">{{.Owner.Name}}</a>
								{{if .Owner.Visibility.IsPrivate}}
									<span class="text gold">{{svg "octicon-lock"}}</span>
								{{end}}
							</td>
							<td>
								<a class="tw-break-anywhere" href="{{.Link}}">{{.Name}}</a>
								{{if .IsArchived}}
									<span class="ui basic label">{{ctx.Locale.Tr "Archived"}}</span>
								{{end}}
								{{if .IsPrivate}}
									<span class="ui basic label">{{ctx.Locale.Tr "Private"}}</span>
								{{else}}
									{{if .Owner.Visibility.IsPrivate}}
										<span class="ui basic label">{{ctx.Locale.Tr "Internal"}}</span>
									{{end}}
								{{end}}
								{{if .IsTemplate}}
									<span class="ui basic label">{{ctx.Locale.Tr "Template"}}</span>
								{{end}}
								{{if eq .ObjectFormatName "sha256"}}
									<span class="ui basic label">{{ctx.Locale.Tr "SHA256"}}</span>
								{{end}}
								{{if .IsMirror}}
									{{svg "octicon-mirror"}}
								{{else if .IsFork}}
									{{svg "octicon-repo-forked"}}
								{{end}}
							</td>
							<td>{{.NumWatches}}</td>
							<td>{{.NumStars}}</td>
							<td>{{.NumForks}}</td>
							<td>{{.NumIssues}}</td>
							<td>{{FileSize .GitSize}}</td>
							<td>{{FileSize .LFSSize}}</td>
							<td>{{DateUtils.AbsoluteShort .UpdatedUnix}}</td>
							<td>{{DateUtils.AbsoluteShort .CreatedUnix}}</td>
							<td>
								<a class="text red show-modal" href data-modal="#admin-repo-delete-modal"
									data-modal-form.action="{{$.Link}}/delete?page={{$.Page.Paginater.Current}}&sort={{$.SortType}}&id={{.ID}}"
									data-modal-repo-name="{{.Name}}"
								>{{svg "octicon-trash"}}</a>
							</td>
						</tr>
					{{else}}
						<tr><td class="tw-text-center" colspan="12">{{ctx.Locale.Tr "No results found."}}</td></tr>
					{{end}}
				</tbody>
			</table>
		</div>

		{{template "base/paginate" .}}
	</div>

<form class="ui small modal form-fetch-action" id="admin-repo-delete-modal" method="post">
	{{.CsrfTokenHtml}}
	<div class="header">{{svg "octicon-trash"}} {{ctx.Locale.Tr "Delete This Repository"}}</div>
	<div class="content">
		<p>{{ctx.Locale.Tr "Deleting a repository is permanent and cannot be undone."}}</p>
		{{ctx.Locale.Tr "- This operation will permanently delete the <strong>%s</strong> repository, including code, issues, comments, wiki data and collaborator settings." (HTMLFormat `<span class="%s"></span>` "repo-name")}}<br>
		{{ctx.Locale.Tr "- Forks of this repository will become independent after deletion."}}<br>
	</div>
	{{template "base/modal_actions_confirm" .}}
</form>

{{template "admin/layout_footer" .}}
