{{if .Permission.CanRead ctx.Consts.RepoUnitTypeCode}}
	<div id="repo-code-frequency-chart"
		data-locale-loading-title="{{ctx.Locale.Tr "Loading %s…" (ctx.Locale.Tr "code frequency")}}"
		data-locale-loading-title-failed="{{ctx.Locale.Tr "Could not load %s" (ctx.Locale.Tr "code frequency")}}"
		data-locale-loading-info="{{ctx.Locale.Tr "This might take a bit…"}}"
		data-locale-component-failed-to-load="{{ctx.Locale.Tr "An unexpected error happened."}}"
	>
	</div>
{{end}}
