<h4 class="ui top attached header commits-table tw-flex tw-items-center tw-justify-between">
	<div class="commits-table-left tw-flex tw-items-center">
		{{if or .PageIsCommits (gt .CommitCount 0)}}
			{{.CommitCount}} {{ctx.Locale.Tr "Commits"}}
		{{else if .IsNothingToCompare}}
			{{ctx.Locale.Tr "These branches are equal."}}
		{{else}}
			{{ctx.Locale.Tr "No commits in common. \"%s\" and \"%s\" have entirely different histories." $.BaseBranch $.HeadBranch}}
		{{end}}
	</div>
	{{if .IsDiffCompare}}
		<div class="commits-table-right tw-whitespace-nowrap">
			<a href="{{$.CommitRepoLink}}/commit/{{.BeforeCommitID | PathEscape}}" class="ui green sha label tw-mx-0">{{if not .BaseIsCommit}}{{if .BaseIsBranch}}{{svg "octicon-git-branch"}}{{else if .BaseIsTag}}{{svg "octicon-tag"}}{{end}}{{.BaseBranch}}{{else}}{{ShortSha .BaseBranch}}{{end}}</a>
			...
			<a href="{{$.CommitRepoLink}}/commit/{{.AfterCommitID | PathEscape}}" class="ui green sha label tw-mx-0">{{if not .HeadIsCommit}}{{if .HeadIsBranch}}{{svg "octicon-git-branch"}}{{else if .HeadIsTag}}{{svg "octicon-tag"}}{{end}}{{.HeadBranch}}{{else}}{{ShortSha .HeadBranch}}{{end}}</a>
		</div>
	{{end}}
</h4>

{{if .PageIsCommits}}
	<div class="ui attached segment">
		<form class="ignore-dirty" action="{{.RepoLink}}/commits/{{.RefTypeNameSubURL}}/search">
			<div class="ui small fluid action input">
				{{template "shared/search/input" dict "Value" .Keyword "Placeholder" (ctx.Locale.Tr "Search commits…")}}
				{{template "repo/commits_search_dropdown" .}}
				{{template "shared/search/button" dict "Tooltip" (ctx.Locale.Tr "You can prefix keywords with \"author:\", \"committer:\", \"after:\", or \"before:\", e.g. \"revert author:Alice before:2019-01-13\".")}}
			</div>
		</form>
	</div>
{{end}}

{{if and .Commits (gt .CommitCount 0)}}
	{{template "repo/commits_list" .}}
{{end}}

{{template "base/paginate" .}}
