<div class="ui small dropdown selection">
	<input name="all" type="hidden" value="{{.All}}">{{svg "octicon-triangle-down" 14 "dropdown icon"}}
	<div class="text">{{if .All}}{{ctx.Locale.Tr "All Branches"}}{{else}}{{ctx.Locale.Tr "This Branch"}}{{end}}</div>
	<div class="menu">
		<div class="item" data-value="false">{{ctx.Locale.Tr "This Branch"}}</div>
		<div class="item" data-value="true">{{ctx.Locale.Tr "All Branches"}}</div>
	</div>
</div>
