{{if .Permission.CanRead ctx.Consts.RepoUnitTypeCode}}
	<div id="repo-contributors-chart"
		data-repo-link="{{.RepoLink}}"
		data-repo-default-branch-name="{{.Repository.DefaultBranch}}"
		data-locale-filter-label="{{ctx.Locale.Tr "Contribution type:"}}"
		data-locale-contribution-type-commits="{{ctx.Locale.Tr "Commits"}}"
		data-locale-contribution-type-additions="{{ctx.Locale.Tr "Additions"}}"
		data-locale-contribution-type-deletions="{{ctx.Locale.Tr "Deletions"}}"
		data-locale-loading-title="{{ctx.Locale.Tr "Loading %s…" (ctx.Locale.Tr "contributions")}}"
		data-locale-loading-title-failed="{{ctx.Locale.Tr "Could not load %s" (ctx.Locale.Tr "contributions")}}"
		data-locale-loading-info="{{ctx.Locale.Tr "This might take a bit…"}}"
		data-locale-component-failed-to-load="{{ctx.Locale.Tr "An unexpected error happened."}}"
	>
	</div>
{{end}}
