{{if not $.DisableMigrations}}
	<p class="ui center">{{ctx.Locale.Tr "A repository contains all project files, including revision history. Already hosting one elsewhere? <a href=\"%s\">Migrate repository.</a>" (print AppSubUrl "/repo/migrate")}}</p>
{{end}}
