{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository quickstart">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="ui grid">
			<div class="sixteen wide column content">
				{{template "base/alert" .}}
				{{if .Repository.IsArchived}}
					<div class="ui warning message tw-text-center">
						{{if .Repository.ArchivedUnix.IsZero}}
							{{ctx.Locale.Tr "This repo is archived. You can view files and clone it. You cannot open issues or pull requests or push a commit."}}
						{{else}}
							{{ctx.Locale.Tr "This repository has been archived on %s. You can view files and clone it. You cannot open issues or pull requests or push a commit." (DateUtils.AbsoluteLong .Repository.ArchivedUnix)}}
						{{end}}
					</div>
				{{end}}

				{{if .Repository.IsBroken}}
					<div class="ui segment center">{{ctx.Locale.Tr "The Git data underlying this repository cannot be read. Contact the administrator of this instance or delete this repository."}}</div>
				{{else if .RepoHasContentsWithoutBranch}}
					<div class="ui segment center">{{ctx.Locale.Tr "This repository doesn't have any branches."}}</div>
				{{else if .CanWriteCode}}
					<h4 class="ui top attached header">{{ctx.Locale.Tr "Quick Guide"}}</h4>
					<div class="ui attached guide table segment empty-repo-guide">
						<div class="item">
							<h3>{{ctx.Locale.Tr "Clone this repository"}} <small>{{ctx.Locale.Tr "Need help cloning? Visit <a target=\"_blank\" rel=\"noopener noreferrer\" href=\"%s\">Help</a>." "http://git-scm.com/book/en/v2/Git-Basics-Getting-a-Git-Repository"}}</small></h3>

							<div class="repo-button-row">
								{{if and .CanWriteCode (not .Repository.IsArchived)}}
									<a class="ui small button" href="{{.RepoLink}}/_new/{{.BranchName | PathEscapeSegments}}/">
										{{ctx.Locale.Tr "New File"}}
									</a>
									{{if .RepositoryUploadEnabled}}
									<a class="ui small button" href="{{.RepoLink}}/_upload/{{.BranchName | PathEscapeSegments}}/">
										{{ctx.Locale.Tr "Upload File"}}
									</a>
									{{end}}
								{{end}}
								{{template "repo/clone_buttons" .}}
							</div>
						</div>

						{{if not .Repository.IsArchived}}
							<div class="divider tw-my-0"></div>

							<div class="item">
								<h3>{{ctx.Locale.Tr "Creating a new repository on the command line"}}</h3>
								<div class="markup">
									{{$gitRemoteName := $.SystemConfig.Repository.GitGuideRemoteName.Value ctx}}
									<pre><code>touch README.md
git init{{if ne .Repository.ObjectFormatName "sha1"}} --object-format={{.Repository.ObjectFormatName}}{{end}}{{/* for sha256 repo, it needs to set "object-format" explicitly*/}}
{{if ne .Repository.DefaultBranch "master"}}git checkout -b {{.Repository.DefaultBranch}}{{end}}
git add README.md
git commit -m "first commit"
git remote add {{$gitRemoteName}} <span class="js-clone-url">{{$.CloneButtonOriginLink.HTTPS}}</span>
git push -u {{$gitRemoteName}} {{.Repository.DefaultBranch}}</code></pre>
								</div>
							</div>
							<div class="divider"></div>

							<div class="item">
								<h3>{{ctx.Locale.Tr "Pushing an existing repository from the command line"}}</h3>
								<div class="markup">
									<pre><code>git remote add {{$gitRemoteName}} <span class="js-clone-url">{{$.CloneButtonOriginLink.HTTPS}}</span>
git push -u {{$gitRemoteName}} {{.Repository.DefaultBranch}}</code></pre>
								</div>
							</div>
						{{end}}
					</div>
				{{else}}
					<div class="ui segment center">{{ctx.Locale.Tr "This repository does not have any content."}}</div>
				{{end}}
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
