<div class="file-info tw-font-mono">
	{{if .FileIsSymlink}}
		<div class="file-info-entry">
			{{ctx.Locale.Tr "Symbolic link"}}
		</div>
	{{end}}
	{{if ne .NumLines nil}}
		<div class="file-info-entry">
			{{.NumLines}} {{ctx.Locale.TrN .NumLines "line" "lines"}}
		</div>
	{{end}}
	{{if ne .FileSize nil}}
		<div class="file-info-entry">
			<span class="file-info-size">{{FileSize .FileSize}}</span>{{if .IsLFSFile}}<span class="ui label">LFS</span>{{end}}
		</div>
	{{end}}
	{{if .LFSLock}}
		<div class="file-info-entry" data-tooltip-content="{{.LFSLockHint}}">
			{{svg "octicon-lock" 16 "tw-mr-1"}}
			<a href="{{.LFSLockOwnerHomeLink}}">{{.LFSLockOwner}}</a>
		</div>
	{{end}}
	{{if .LexerName}}
		<div class="file-info-entry">
			{{.LexerName}}
		</div>
	{{end}}
	{{if .IsExecutable}}
		<div class="file-info-entry">
			{{ctx.Locale.Tr "Executable File"}}
		</div>
	{{end}}
	{{if .IsVendored}}
		<div class="file-info-entry">
			{{ctx.Locale.Tr "Vendored"}}
		</div>
	{{end}}
	{{if .IsGenerated}}
		<div class="file-info-entry">
			{{ctx.Locale.Tr "Generated"}}
		</div>
	{{end}}
	{{if .ImageSize}}
		<div class="file-info-entry">
			{{.ImageSize}}
		</div>
	{{end}}
</div>
