<h2 class="ui header activity-header">
	<span>{{DateUtils.AbsoluteLong .DateFrom}} - {{DateUtils.AbsoluteLong .DateUntil}}</span>
	<!-- Period -->
	<div class="ui floating dropdown jump">
		<div class="ui basic compact button">
			{{ctx.Locale.Tr "Period:"}} <strong>{{.PeriodText}}</strong>
			{{svg "octicon-triangle-down" 14 "dropdown icon"}}
		</div>
		<div class="left menu">
			<a class="{{if eq .Period "daily"}}active {{end}}item" href="{{$.RepoLink}}/activity/daily">{{ctx.Locale.Tr "1 day"}}</a>
			<a class="{{if eq .Period "halfweekly"}}active {{end}}item" href="{{$.RepoLink}}/activity/halfweekly">{{ctx.Locale.Tr "3 days"}}</a>
			<a class="{{if eq .Period "weekly"}}active {{end}}item" href="{{$.RepoLink}}/activity/weekly">{{ctx.Locale.Tr "1 week"}}</a>
			<a class="{{if eq .Period "monthly"}}active {{end}}item" href="{{$.RepoLink}}/activity/monthly">{{ctx.Locale.Tr "1 month"}}</a>
			<a class="{{if eq .Period "quarterly"}}active {{end}}item" href="{{$.RepoLink}}/activity/quarterly">{{ctx.Locale.Tr "3 months"}}</a>
			<a class="{{if eq .Period "semiyearly"}}active {{end}}item" href="{{$.RepoLink}}/activity/semiyearly">{{ctx.Locale.Tr "6 months"}}</a>
			<a class="{{if eq .Period "yearly"}}active {{end}}item" href="{{$.RepoLink}}/activity/yearly">{{ctx.Locale.Tr "1 year"}}</a>
		</div>
	</div>
</h2>

{{if (or (.Permission.CanRead ctx.Consts.RepoUnitTypeIssues) (.Permission.CanRead ctx.Consts.RepoUnitTypePullRequests))}}
<h4 class="ui top attached header">{{ctx.Locale.Tr "Overview"}}</h4>
<div class="ui attached segment two column grid">
	{{if .Permission.CanRead ctx.Consts.RepoUnitTypePullRequests}}
		<div class="column">
			{{if gt .Activity.ActivePRCount 0}}
			<div class="stats-table">
				{{if gt .Activity.MergedPRPerc 0}}
					<a href="#merged-pull-requests" class="table-cell tiny tw-bg-purple" style="width: {{.Activity.MergedPRPerc}}%"></a>
				{{end}}
				<a href="#proposed-pull-requests" class="table-cell tiny tw-bg-green"></a>
			</div>
			{{else}}
			<div class="stats-table">
				<a class="table-cell tiny tw-bg-grey"></a>
			</div>
			{{end}}
			{{ctx.Locale.TrN .Activity.ActivePRCount "<strong>%d</strong> Active Pull Request" "<strong>%d</strong> Active Pull Requests" .Activity.ActivePRCount}}
		</div>
	{{end}}
	{{if .Permission.CanRead ctx.Consts.RepoUnitTypeIssues}}
		<div class="column">
			{{if gt .Activity.ActiveIssueCount 0}}
			<div class="stats-table">
				{{if gt .Activity.ClosedIssuePerc 0}}
					<a href="#closed-issues" class="table-cell tiny tw-bg-red" style="width: {{.Activity.ClosedIssuePerc}}%"></a>
				{{end}}
				<a href="#new-issues" class="table-cell tiny tw-bg-green"></a>
			</div>
			{{else}}
			<div class="stats-table">
				<a class="table-cell tiny tw-bg-grey"></a>
			</div>
			{{end}}
			{{ctx.Locale.TrN .Activity.ActiveIssueCount "<strong>%d</strong> Active Issue" "<strong>%d</strong> Active Issues" .Activity.ActiveIssueCount}}
		</div>
	{{end}}
</div>
<div class="ui attached segment horizontal segments">
	{{if .Permission.CanRead ctx.Consts.RepoUnitTypePullRequests}}
		<a href="#merged-pull-requests" class="ui attached segment text center">
			<span class="text purple">{{svg "octicon-git-pull-request"}}</span> <strong>{{.Activity.MergedPRCount}}</strong><br>
			{{ctx.Locale.TrN .Activity.MergedPRCount "Merged Pull Request" "Merged Pull Requests"}}
		</a>
		<a href="#proposed-pull-requests" class="ui attached segment text center">
			<span class="text green">{{svg "octicon-git-branch"}}</span> <strong>{{.Activity.OpenedPRCount}}</strong><br>
			{{ctx.Locale.TrN .Activity.OpenedPRCount "Proposed Pull Request" "Proposed Pull Requests"}}
		</a>
	{{end}}
	{{if .Permission.CanRead ctx.Consts.RepoUnitTypeIssues}}
		<a href="#closed-issues" class="ui attached segment text center">
			<span class="text red">{{svg "octicon-issue-closed"}}</span> <strong>{{.Activity.ClosedIssueCount}}</strong><br>
			{{ctx.Locale.TrN .Activity.ClosedIssueCount "Closed Issue" "Closed Issues"}}
		</a>
		<a href="#new-issues" class="ui attached segment text center">
			<span class="text green">{{svg "octicon-issue-opened"}}</span> <strong>{{.Activity.OpenedIssueCount}}</strong><br>
			{{ctx.Locale.TrN .Activity.OpenedIssueCount "New Issue" "New Issues"}}
		</a>
	{{end}}
</div>
{{end}}

{{if .Permission.CanRead ctx.Consts.RepoUnitTypeCode}}
	{{if eq .Activity.Code.CommitCountInAllBranches 0}}
		<div class="ui tw-text-center segment">
		<h4 class="ui header">{{ctx.Locale.Tr "There has been no commit activity in this period."}}</h4>
		</div>
	{{end}}
	{{if gt .Activity.Code.CommitCountInAllBranches 0}}
		<div class="ui attached segment horizontal segments">
			<div class="ui attached segment text">
				{{ctx.Locale.Tr "Excluding merges,"}}
				<strong>{{ctx.Locale.TrN .Activity.Code.AuthorCount "%d author" "%d authors" .Activity.Code.AuthorCount}}</strong>
				{{ctx.Locale.TrN .Activity.Code.AuthorCount "has pushed" "have pushed"}}
				<strong>{{ctx.Locale.TrN .Activity.Code.CommitCount "%d commit" "%d commits" .Activity.Code.CommitCount}}</strong>
				{{ctx.Locale.Tr "to %s and" .Repository.DefaultBranch}}
				<strong>{{ctx.Locale.TrN .Activity.Code.CommitCountInAllBranches "%d commit" "%d commits" .Activity.Code.CommitCountInAllBranches}}</strong>
				{{ctx.Locale.Tr "to all branches."}}
				{{ctx.Locale.Tr "On %s," .Repository.DefaultBranch}}
				<strong>{{ctx.Locale.TrN .Activity.Code.ChangedFiles "%d file" "%d files" .Activity.Code.ChangedFiles}}</strong>
				{{ctx.Locale.TrN .Activity.Code.ChangedFiles "has changed" "have changed"}}
				{{ctx.Locale.Tr "and there have been"}}
				<strong class="text green">{{ctx.Locale.TrN .Activity.Code.Additions "%d addition" "%d additions" .Activity.Code.Additions}}</strong>
				{{ctx.Locale.Tr "and"}}
				<strong class="text red">{{ctx.Locale.TrN .Activity.Code.Deletions "%d deletion" "%d deletions" .Activity.Code.Deletions}}</strong>.
			</div>
			<div class="ui attached segment">
				<div id="repo-activity-top-authors-chart"></div>
			</div>
		</div>
	{{end}}
{{end}}

{{if gt .Activity.PublishedReleaseCount 0}}
	<h4 class="divider divider-text" id="published-releases">
		{{svg "octicon-tag" 16 "tw-mr-2"}}
		{{ctx.Locale.Tr "%s published by %s"
			(ctx.Locale.TrN .Activity.PublishedReleaseCount "%d Release" "%d Releases" .Activity.PublishedReleaseCount)
			(ctx.Locale.TrN .Activity.PublishedReleaseAuthorCount "%d user" "%d users" .Activity.PublishedReleaseAuthorCount)
		}}
	</h4>
	<div class="list">
		{{range .Activity.PublishedReleases}}
			<p class="desc">
				<span class="ui green label">{{ctx.Locale.Tr "Published"}}</span>
				{{.TagName}}
				{{if not .IsTag}}
					<a class="title" href="{{$.RepoLink}}/src/{{.TagName | PathEscapeSegments}}">{{.Title | ctx.RenderUtils.RenderIssueSimpleTitle}}</a>
				{{end}}
				{{DateUtils.TimeSince .CreatedUnix}}
			</p>
		{{end}}
	</div>
{{end}}

{{if gt .Activity.MergedPRCount 0}}
	<h4 class="divider divider-text" id="merged-pull-requests">
		{{svg "octicon-git-pull-request" 16 "tw-mr-2"}}
		{{ctx.Locale.Tr "%s merged by %s"
			(ctx.Locale.TrN .Activity.MergedPRCount "%d Pull request" "%d Pull requests" .Activity.MergedPRCount)
			(ctx.Locale.TrN .Activity.MergedPRAuthorCount "%d user" "%d users" .Activity.MergedPRAuthorCount)
		}}
	</h4>
	<div class="list">
		{{range .Activity.MergedPRs}}
			<p class="desc">
				<span class="ui purple label">{{ctx.Locale.Tr "Merged"}}</span>
				#{{.Index}} <a class="title" href="{{$.RepoLink}}/pulls/{{.Index}}">{{.Issue.Title | ctx.RenderUtils.RenderIssueSimpleTitle}}</a>
				{{DateUtils.TimeSince .MergedUnix}}
			</p>
		{{end}}
	</div>
{{end}}

{{if gt .Activity.OpenedPRCount 0}}
	<h4 class="divider divider-text" id="proposed-pull-requests">
		{{svg "octicon-git-branch" 16 "tw-mr-2"}}
		{{ctx.Locale.Tr "%s proposed by %s"
			(ctx.Locale.TrN .Activity.OpenedPRCount "%d Pull request" "%d Pull requests" .Activity.OpenedPRCount)
			(ctx.Locale.TrN .Activity.OpenedPRAuthorCount "%d user" "%d users" .Activity.OpenedPRAuthorCount)
		}}
	</h4>
	<div class="list">
		{{range .Activity.OpenedPRs}}
			<p class="desc">
				<span class="ui green label">{{ctx.Locale.Tr "Proposed"}}</span>
				#{{.Index}} <a class="title" href="{{$.RepoLink}}/pulls/{{.Index}}">{{.Issue.Title | ctx.RenderUtils.RenderIssueSimpleTitle}}</a>
				{{DateUtils.TimeSince .Issue.CreatedUnix}}
			</p>
		{{end}}
	</div>
{{end}}

{{if gt .Activity.ClosedIssueCount 0}}
	<h4 class="divider divider-text" id="closed-issues">
		{{svg "octicon-issue-closed" 16 "tw-mr-2"}}
		{{ctx.Locale.Tr "%s closed from %s"
			(ctx.Locale.TrN .Activity.ClosedIssueCount "%d Issue" "%d Issues" .Activity.ClosedIssueCount)
			(ctx.Locale.TrN .Activity.ClosedIssueAuthorCount "%d user" "%d users" .Activity.ClosedIssueAuthorCount)
		}}
	</h4>
	<div class="list">
		{{range .Activity.ClosedIssues}}
			<p class="desc">
				<span class="ui red label">{{ctx.Locale.Tr "Closed"}}</span>
				#{{.Index}} <a class="title" href="{{$.RepoLink}}/issues/{{.Index}}">{{.Title | ctx.RenderUtils.RenderIssueSimpleTitle}}</a>
				{{DateUtils.TimeSince .ClosedUnix}}
			</p>
		{{end}}
	</div>
{{end}}

{{if gt .Activity.OpenedIssueCount 0}}
	<h4 class="divider divider-text" id="new-issues">
		{{svg "octicon-issue-opened" 16 "tw-mr-2"}}
		{{ctx.Locale.Tr "%s created by %s"
			(ctx.Locale.TrN .Activity.OpenedIssueCount "%d Issue" "%d Issues" .Activity.OpenedIssueCount)
			(ctx.Locale.TrN .Activity.OpenedIssueAuthorCount "%d user" "%d users" .Activity.OpenedIssueAuthorCount)
		}}
	</h4>
	<div class="list">
		{{range .Activity.OpenedIssues}}
			<p class="desc">
				<span class="ui green label">{{ctx.Locale.Tr "Opened"}}</span>
				#{{.Index}} <a class="title" href="{{$.RepoLink}}/issues/{{.Index}}">{{.Title | ctx.RenderUtils.RenderIssueSimpleTitle}}</a>
				{{DateUtils.TimeSince .CreatedUnix}}
			</p>
		{{end}}
	</div>
{{end}}

{{if gt .Activity.UnresolvedIssueCount 0}}
	<h4 class="divider divider-text" id="unresolved-conversations" data-tooltip-content="{{ctx.Locale.Tr "These recently changed issues and pull requests have not been resolved yet."}}">
		{{svg "octicon-comment-discussion" 16 "tw-mr-2"}}
		{{ctx.Locale.TrN .Activity.UnresolvedIssueCount "%d Unresolved Conversation" "%d Unresolved Conversations" .Activity.UnresolvedIssueCount}}
	</h4>
	<div class="list">
		{{range .Activity.UnresolvedIssues}}
			<p class="desc">
				<span class="ui green label">{{ctx.Locale.Tr "Open"}}</span>
				#{{.Index}}
				{{if .IsPull}}
				<a class="title" href="{{$.RepoLink}}/pulls/{{.Index}}">{{.Title | ctx.RenderUtils.RenderIssueSimpleTitle}}</a>
				{{else}}
				<a class="title" href="{{$.RepoLink}}/issues/{{.Index}}">{{.Title | ctx.RenderUtils.RenderIssueSimpleTitle}}</a>
				{{end}}
				{{DateUtils.TimeSince .UpdatedUnix}}
			</p>
		{{end}}
	</div>
{{end}}
