<div
	class="ui dropzone"
	data-link-url="{{.UploadLinkUrl}}"
	data-upload-url="{{.UploadUrl}}"
	data-remove-url="{{.UploadRemoveUrl}}"
	data-accepts="{{.UploadAccepts}}"
	data-max-file="{{.UploadMaxFiles}}"
	data-max-size="{{.UploadMaxSize}}"
	data-default-message="{{ctx.Locale.Tr "Drop files or click here to upload."}}"
	data-invalid-input-type="{{ctx.Locale.Tr "You cannot upload files of this type."}}"
	data-file-too-big="{{ctx.Locale.Tr "File size ({{filesize}} MB) exceeds the maximum size of ({{maxFilesize}} MB)."}}"
	data-remove-file="{{ctx.Locale.Tr "Remove file"}}"
>
	<div class="files"></div>
</div>
