<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta Name="format-detection" content="telephone=no,date=no,address=no,email=no,url=no">
	<title>{{.locale.Tr "%s, please verify your email address" (.DisplayName|DotEscape)}}</title>
</head>

{{$activate_url := printf "%suser/activate_email?code=%s&email=%s" AppUrl (QueryEscape .Code) (QueryEscape .Email)}}
<body>
	<p>{{.locale.Tr "Hi <b>%s</b>," (.DisplayName|DotEscape)}}</p><br>
	<p>{{.locale.Tr "Please click the following link to verify your email address within <b>%s</b>:" .ActiveCodeLives}}</p><p><a href="{{$activate_url}}">{{$activate_url}}</a></p><br>
	<p>{{.locale.Tr "Not working? Try copying and pasting it to your browser."}}</p>

	<p>© <a href="{{AppUrl}}">{{AppName}}</a></p>
</body>
</html>
