<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{.Subject}}</title>
</head>

<body>
	<p>{{.locale.Tr "You have been added as a collaborator of repository:"}} <code>{{.RepoName}}</code></p>
	<div style="font-size:small; color:#666;">
		<p>
			---
			<br>
			<a href="{{.Link}}">{{.locale.Tr "View it on %s" AppName}}</a>.
		</p>
	</div>
</body>
</html>
