{{if eq .HookType "dingtalk"}}
	<p>{{ctx.Locale.Tr "Integrate <a target=\"_blank\" rel=\"noreferrer\" href=\"%s\">%s</a> into your repository." "https://dingtalk.com" (ctx.Locale.Tr "DingTalk")}}</p>
	<form class="ui form" action="{{.BaseLink}}/dingtalk/{{or .Webhook.ID "new"}}" method="post">
		{{.CsrfTokenHtml}}
		<div class="required field {{if .Err_PayloadURL}}error{{end}}">
			<label for="payload_url">{{ctx.Locale.Tr "Target URL"}}</label>
			<input id="payload_url" name="payload_url" type="url" value="{{.Webhook.URL}}" autofocus required>
		</div>
		{{/* FIXME: support authorization header or not? */}}
		{{template "repo/settings/webhook/settings" dict "BaseLink" .BaseLink "Webhook" .Webhook "UseAuthorizationHeader" "optional"}}
	</form>
{{end}}
