{{if eq .HookType "feishu"}}
	<p>
		{{ctx.Locale.Tr "Integrate <a target=\"_blank\" rel=\"noreferrer\" href=\"%s\">%s</a> into your repository." "https://feishu.cn" (ctx.Locale.Tr "Feishu")}}
		{{ctx.Locale.Tr "Integrate <a target=\"_blank\" rel=\"noreferrer\" href=\"%s\">%s</a> into your repository." "https://larksuite.com" (ctx.Locale.Tr "Lark Suite")}}
	</p>
	<form class="ui form" action="{{.BaseLink}}/feishu/{{or .Webhook.ID "new"}}" method="post">
		{{.CsrfTokenHtml}}
		<div class="required field {{if .Err_PayloadURL}}error{{end}}">
			<label for="payload_url">{{ctx.Locale.Tr "Target URL"}}</label>
			<input id="payload_url" name="payload_url" type="url" value="{{.Webhook.URL}}" autofocus required>
		</div>
		{{template "repo/settings/webhook/settings" dict "BaseLink" .BaseLink "Webhook" .Webhook "UseRequestSecret" "optional"}}
	</form>
{{end}}
