<div id="repo-action-view"
		data-run-index="{{.RunIndex}}"
		data-job-index="{{.JobIndex}}"
		data-actions-url="{{.ActionsURL}}"

		data-locale-approve="{{ctx.Locale.Tr "Approve"}}"
		data-locale-cancel="{{ctx.Locale.Tr "Cancel workflow run"}}"
		data-locale-rerun="{{ctx.Locale.Tr "Re-run"}}"
		data-locale-rerun-all="{{ctx.Locale.Tr "Re-run all jobs"}}"
		data-locale-runs-scheduled="{{ctx.Locale.Tr "Scheduled"}}"
		data-locale-runs-commit="{{ctx.Locale.Tr "Commit"}}"
		data-locale-runs-pushed-by="{{ctx.Locale.Tr "pushed by"}}"
		data-locale-status-unknown="{{ctx.Locale.Tr "Unknown"}}"
		data-locale-status-waiting="{{ctx.Locale.Tr "Waiting"}}"
		data-locale-status-running="{{ctx.Locale.Tr "Running"}}"
		data-locale-status-success="{{ctx.Locale.Tr "Success"}}"
		data-locale-status-failure="{{ctx.Locale.Tr "Failure"}}"
		data-locale-status-cancelled="{{ctx.Locale.Tr "Canceled"}}"
		data-locale-status-skipped="{{ctx.Locale.Tr "Skipped"}}"
		data-locale-status-blocked="{{ctx.Locale.Tr "Blocked"}}"
		data-locale-artifacts-title="{{ctx.Locale.Tr "Artifacts"}}"
		data-locale-artifact-expired="{{ctx.Locale.Tr "Expired"}}"
		data-locale-confirm-delete-artifact="{{ctx.Locale.Tr "Are you sure you want to delete the artifact '%s'?"}}"
		data-locale-show-timestamps="{{ctx.Locale.Tr "Show timestamps"}}"
		data-locale-show-log-seconds="{{ctx.Locale.Tr "Show seconds"}}"
		data-locale-show-full-screen="{{ctx.Locale.Tr "Show full screen"}}"
		data-locale-download-logs="{{ctx.Locale.Tr "Download logs"}}"
		data-locale-logs-always-auto-scroll="{{ctx.Locale.Tr "Always auto scroll logs"}}"
		data-locale-logs-always-expand-running="{{ctx.Locale.Tr "Always expand running logs"}}"
>
</div>
