{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository wiki pages">
	{{template "repo/header" .}}
	<div class="ui container">
		<h2 class="ui header tw-flex tw-items-center tw-justify-between">
			<span>{{ctx.Locale.Tr "Pages"}}</span>
			<span>
				{{if and .CanWriteWiki (not .Repository.IsMirror)}}
					<a class="ui small primary button" href="{{.RepoLink}}/wiki?action=_new">{{ctx.Locale.Tr "New Page"}}</a>
				{{end}}
			</span>
		</h2>
		{{if $.Permission.IsAdmin}}<div>{{ctx.Locale.Tr "Default Branch"}}: {{.Repository.DefaultWikiBranch}}</div>{{end}}
		<table class="ui table selectable wiki-pages-list">
			<tbody>
				{{range .Pages}}
					<tr>
						<td>
							{{svg "octicon-file"}}
							<a href="{{$.RepoLink}}/wiki/{{.SubURL}}">{{.Name}}</a>
							<a class="wiki-git-entry" href="{{$.RepoLink}}/wiki/{{.GitEntryName | PathEscape}}" data-tooltip-content="{{ctx.Locale.Tr "View original Git file instead of using friendly link."}}">{{svg "octicon-chevron-right"}}</a>
						</td>
						{{$timeSince := DateUtils.TimeSince .UpdatedUnix}}
						<td class="tw-text-right">{{ctx.Locale.Tr "Last updated %s" $timeSince}}</td>
					</tr>
				{{end}}
			</tbody>
		</table>
	</div>
</div>
{{template "base/footer" .}}
