{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content oauth2-authorize-application-box">
	<div class="ui container tw-max-w-[500px]">
		<h1 class="ui top attached header">
			{{ctx.Locale.Tr "Authorization failed"}}
		</h1>
		<h3 class="ui attached segment">{{.Error.ErrorDescription}}</h3>
		<div class="ui attached segment">
			<p>{{ctx.Locale.Tr "The authorization failed because we detected an invalid request. Please contact the maintainer of the app you tried to authorize."}}</p>
		</div>
	</div>
</div>
{{template "base/footer" .}}
