{{if and .Issue.PullRequest.HasMerged (not .IsPullBranchDeletable)}}
{{/* Then the merge box will not be displayed because this page already contains enough information */}}
{{else}}
<div class="timeline-item comment pull-merge-box"
	data-global-init="initRepoPullMergeBox"
	{{if .PullMergeBoxReloadingInterval}}
		data-pull-merge-box-reloading-interval="{{.PullMergeBoxReloadingInterval}}"
		data-pull-link="{{.Issue.Link}}"
	{{end}}
>
	<div class="timeline-avatar text {{if .Issue.PullRequest.HasMerged}}purple
	{{- else if .Issue.IsClosed}}grey
	{{- else if .IsPullWorkInProgress}}grey
	{{- else if .IsFilesConflicted}}grey
	{{- else if .IsPullRequestBroken}}red
	{{- else if .IsBlockedByApprovals}}red
	{{- else if .IsBlockedByRejection}}red
	{{- else if .IsBlockedByOfficialReviewRequests}}red
	{{- else if .IsBlockedByOutdatedBranch}}red
	{{- else if .IsBlockedByChangedProtectedFiles}}red
	{{- else if and .EnableStatusCheck (or .RequiredStatusCheckState.IsFailure .RequiredStatusCheckState.IsError)}}red
	{{- else if and .EnableStatusCheck (or (not $.LatestCommitStatus) .RequiredStatusCheckState.IsPending .RequiredStatusCheckState.IsWarning)}}yellow
	{{- else if and .AllowMerge .RequireSigned (not .WillSign)}}red
	{{- else if .Issue.PullRequest.IsChecking}}yellow
	{{- else if .Issue.PullRequest.IsEmpty}}grey
	{{- else if .Issue.PullRequest.CanAutoMerge}}green
	{{- else}}red{{end}}">{{svg "octicon-git-merge" 40}}</div>
	<div class="content">
		{{if .LatestCommitStatus}}
		<div class="ui attached segment fitted">
		{{template "repo/pulls/status" (dict
			"CommitStatus" .LatestCommitStatus
			"CommitStatuses" .LatestCommitStatuses
			"ShowHideChecks" true
			"StatusCheckData" .StatusCheckData
		)}}
		</div>
		{{end}}
		{{$showGeneralMergeForm := false}}
		<div class="ui attached segment merge-section {{if not $.LatestCommitStatus}}avatar-content-left-arrow{{end}} flex-items-block">
			{{if .Issue.PullRequest.HasMerged}}
				{{if .IsPullBranchDeletable}}
					<div class="item item-section text tw-flex-1">
						<div class="item-section-left">
							<h3 class="tw-mb-2">
								{{ctx.Locale.Tr "Pull request successfully merged and closed"}}
							</h3>
							<div class="merge-section-info">
								{{ctx.Locale.Tr "The branch %s can now be deleted." (HTMLFormat "<code>%s</code>" .HeadTarget)}}
							</div>
						</div>
						<div class="item-section-right">
							<button class="ui button link-action delete-branch-after-merge" data-url="{{.DeleteBranchLink}}">{{ctx.Locale.Tr "Delete Branch"}}</button>
						</div>
					</div>
				{{end}}
			{{else if .Issue.IsClosed}}
				<div class="item item-section text tw-flex-1">
					<div class="item-section-left">
						<h3 class="tw-mb-2">{{ctx.Locale.Tr "Pull request closed"}}</h3>
						<div class="merge-section-info">
							{{if .IsPullRequestBroken}}
								{{ctx.Locale.Tr "This pull request cannot be reopened because the branch was deleted."}}
							{{else}}
								{{ctx.Locale.Tr "Please reopen this pull request to perform a merge."}}
							{{end}}
						</div>
					</div>
					{{if and .IsPullBranchDeletable (not .IsPullRequestBroken)}}
						<div class="item-section-right">
							<button class="ui button link-action delete-branch-after-merge" data-url="{{.DeleteBranchLink}}">{{ctx.Locale.Tr "Delete Branch"}}</button>
						</div>
					{{end}}
				</div>
			{{else if .IsPullFilesConflicted}}
				<div class="item">
					{{svg "octicon-x"}}
					{{ctx.Locale.Tr "This pull request has changes conflicting with the target branch."}}
				</div>
				<ul>
					{{range .ConflictedFiles}}
					<li>{{.}}</li>
					{{end}}
				</ul>
			{{else if .IsPullRequestBroken}}
				<div class="item">
					{{svg "octicon-x"}}
					{{ctx.Locale.Tr "This pull request is broken due to missing fork information."}}
				</div>
			{{else if .IsPullWorkInProgress}}
				<div class="item">
					<div class="item-section-left flex-text-inline tw-flex-1">
						{{svg "octicon-x"}}
						{{ctx.Locale.Tr "This pull request is marked as a work in progress."}}
					</div>
					{{if or .HasIssuesOrPullsWritePermission .IsIssuePoster}}
						<button class="ui compact button" data-global-init="initPullRequestWipToggle" data-title="{{.Issue.Title}}" data-wip-prefix="{{.WorkInProgressPrefix}}" data-update-url="{{.Issue.Link}}/title">
							{{ctx.Locale.Tr "Remove <strong>%s</strong> prefix" .WorkInProgressPrefix}}
						</button>
					{{end}}
				</div>
				{{template "repo/issue/view_content/update_branch_by_merge" $}}
			{{else if .Issue.PullRequest.IsChecking}}
				<div class="item">
					{{svg "gitea-running" 16 "rotate-clockwise"}}
					{{ctx.Locale.Tr "Checking for merge conflicts…"}}
				</div>
			{{else if .Issue.PullRequest.IsAncestor}}
				<div class="item">
					{{svg "octicon-alert"}}
					{{ctx.Locale.Tr "This branch is already included in the target branch. There is nothing to merge."}}
				</div>
			{{else if or .Issue.PullRequest.CanAutoMerge .Issue.PullRequest.IsEmpty}}
				{{if .IsBlockedByApprovals}}
					<div class="item">
						{{svg "octicon-x"}}
						{{if .RequireApprovalsWhitelist}}
							{{ctx.Locale.Tr "This pull request doesn't have enough required approvals yet. %d of %d approvals granted from users or teams on the allowlist." .GrantedApprovals .ProtectedBranch.RequiredApprovals}}
						{{else}}
							{{ctx.Locale.Tr "This pull request doesn't have enough required approvals yet. %d of %d official approvals granted." .GrantedApprovals .ProtectedBranch.RequiredApprovals}}
						{{end}}
					</div>
				{{else if .IsBlockedByRejection}}
					<div class="item">
						{{svg "octicon-x"}}
					{{ctx.Locale.Tr "This pull request has changes requested by an official reviewer."}}
					</div>
				{{else if .IsBlockedByOfficialReviewRequests}}
					<div class="item">
						{{svg "octicon-x"}}
					{{ctx.Locale.Tr "This pull request has official review requests."}}
					</div>
				{{else if .IsBlockedByOutdatedBranch}}
					<div class="item">
						{{svg "octicon-x"}}
						{{ctx.Locale.Tr "This pull request is blocked because it's outdated."}}
					</div>
				{{else if .IsBlockedByChangedProtectedFiles}}
					<div class="item">
						{{svg "octicon-x"}}
						{{ctx.Locale.TrN $.ChangedProtectedFilesNum "This pull request is blocked because it changes a protected file:" "This pull request is blocked because it changes protected files:"}}
					</div>
					<ul>
						{{range .ChangedProtectedFiles}}
						<li>{{.}}</li>
						{{end}}
					</ul>
				{{else if and .EnableStatusCheck (or .RequiredStatusCheckState.IsError .RequiredStatusCheckState.IsFailure)}}
					<div class="item">
						{{svg "octicon-x"}}
						{{ctx.Locale.Tr "Some required checks were not successful."}}
					</div>
				{{else if and .EnableStatusCheck (not .RequiredStatusCheckState.IsSuccess)}}
					<div class="item">
						{{svg "octicon-x"}}
						{{ctx.Locale.Tr "Some required checks are missing."}}
					</div>
				{{else if and .AllowMerge .RequireSigned (not .WillSign)}}
					<div class="item">
						{{svg "octicon-x"}}
						{{ctx.Locale.Tr "The branch requires signed commits but this merge will not be signed"}}
					</div>
					<div class="item">
						{{svg "octicon-unlock"}}
						{{ctx.Locale.Tr (printf "repo.signing.wont_sign.%s" .WontSignReason)}}
					</div>
				{{end}}

				{{$notAllOverridableChecksOk := or .IsBlockedByApprovals .IsBlockedByRejection .IsBlockedByOfficialReviewRequests .IsBlockedByOutdatedBranch .IsBlockedByChangedProtectedFiles (and .EnableStatusCheck (not .RequiredStatusCheckState.IsSuccess))}}

				{{/* admin can merge without checks, writer can merge when checks succeed */}}
				{{$canMergeNow := and (or (and (not $.ProtectedBranch.BlockAdminMergeOverride) $.IsRepoAdmin) (not $notAllOverridableChecksOk)) (or (not .AllowMerge) (not .RequireSigned) .WillSign)}}
				{{/* admin and writer both can make an auto merge schedule */}}

				{{if $canMergeNow}}
					{{if $notAllOverridableChecksOk}}
						<div class="item">
							{{svg "octicon-dot-fill"}}
							{{ctx.Locale.Tr "As an administrator, you may still merge this pull request."}}
						</div>
					{{else}}
						<div class="item">
							{{svg "octicon-check"}}
							{{ctx.Locale.Tr "This pull request can be merged automatically."}}
						</div>
					{{end}}
					{{if .WillSign}}
						<div class="item">
							{{svg "octicon-lock" 16 "text green"}}
							{{ctx.Locale.Tr "This commit will be signed with key \"%s\"." .SigningKeyMergeDisplay}}
						</div>
					{{else if .IsSigned}}
						<div class="item">
							{{svg "octicon-unlock"}}
							{{ctx.Locale.Tr (printf "repo.signing.wont_sign.%s" .WontSignReason)}}
						</div>
					{{end}}
				{{end}}

				{{template "repo/issue/view_content/update_branch_by_merge" $}}

				{{if .Issue.PullRequest.IsEmpty}}
					<div class="divider"></div>
					<div class="item">
						{{svg "octicon-alert"}}
						{{ctx.Locale.Tr "The changes on this branch are already on the target branch. This will be an empty commit."}}
					</div>
				{{end}}

				{{if .AllowMerge}} {{/* user is allowed to merge */}}
					{{$prUnit := .Repository.MustGetUnit ctx ctx.Consts.RepoUnitTypePullRequests}}
					{{if or $prUnit.PullRequestsConfig.AllowMerge $prUnit.PullRequestsConfig.AllowRebase $prUnit.PullRequestsConfig.AllowRebaseMerge $prUnit.PullRequestsConfig.AllowSquash $prUnit.PullRequestsConfig.AllowFastForwardOnly}}
						{{$hasPendingPullRequestMergeTip := ""}}
						{{if .HasPendingPullRequestMerge}}
							{{$createdPRMergeStr := DateUtils.TimeSince .PendingPullRequestMerge.CreatedUnix}}
							{{$hasPendingPullRequestMergeTip = ctx.Locale.Tr "%[1]s scheduled this pull request to auto merge when all checks succeed %[2]s." .PendingPullRequestMerge.Doer.Name $createdPRMergeStr}}
						{{end}}
						<div class="divider"></div>
						<script type="module">
							const defaultMergeTitle = {{.DefaultMergeMessage}};
							const defaultSquashMergeTitle = {{.DefaultSquashMergeMessage}};
							const defaultMergeMessage = {{.DefaultMergeBody}};
							const defaultSquashMergeMessage = {{.DefaultSquashMergeBody}};
							const mergeForm = {
								'baseLink': {{.Issue.Link}},
								'textCancel': {{ctx.Locale.Tr "Cancel"}},
								'textDeleteBranch': {{ctx.Locale.Tr "Delete Branch \"%s\"" .HeadTarget}},
								'textAutoMergeButtonWhenSucceed': {{ctx.Locale.Tr "(When checks succeed)"}},
								'textAutoMergeWhenSucceed': {{ctx.Locale.Tr "Auto merge when all checks succeed"}},
								'textAutoMergeCancelSchedule': {{ctx.Locale.Tr "Cancel auto merge"}},
								'textClearMergeMessage': {{ctx.Locale.Tr "Clear merge message"}},
								'textClearMergeMessageHint': {{ctx.Locale.Tr "Clearing the merge message will only remove the commit message content and keep generated git trailers such as \"Co-Authored-By…\"."}},
								'textMergeCommitId': {{ctx.Locale.Tr "The merge commit ID"}},

								'canMergeNow': {{$canMergeNow}},
								'allOverridableChecksOk': {{not $notAllOverridableChecksOk}},
								'emptyCommit': {{.Issue.PullRequest.IsEmpty}},
								'pullHeadCommitID': {{.PullHeadCommitID}},
								'isPullBranchDeletable': {{.IsPullBranchDeletable}},
								'defaultMergeStyle': {{.MergeStyle}},
								'defaultDeleteBranchAfterMerge': {{$prUnit.PullRequestsConfig.DefaultDeleteBranchAfterMerge}},
								'mergeMessageFieldPlaceHolder': {{ctx.Locale.Tr "Add an optional extended description…"}},
								'defaultMergeMessage': defaultMergeMessage,

								'hasPendingPullRequestMerge': {{.HasPendingPullRequestMerge}},
								'hasPendingPullRequestMergeTip': {{$hasPendingPullRequestMergeTip}},
							};

							const generalHideAutoMerge = mergeForm.canMergeNow && mergeForm.allOverridableChecksOk; // if this pr can be merged now, then hide the auto merge
							mergeForm['mergeStyles'] = [
								{
									'name': 'merge',
									'allowed': {{$prUnit.PullRequestsConfig.AllowMerge}},
									'textDoMerge': {{ctx.Locale.Tr "Create merge commit"}},
									'mergeTitleFieldText': defaultMergeTitle,
									'mergeMessageFieldText': defaultMergeMessage,
									'hideAutoMerge': generalHideAutoMerge,
								},
								{
									'name': 'rebase',
									'allowed': {{$prUnit.PullRequestsConfig.AllowRebase}},
									'textDoMerge': {{ctx.Locale.Tr "Rebase, then fast-forward"}},
									'hideMergeMessageTexts': true,
									'hideAutoMerge': generalHideAutoMerge,
								},
								{
									'name': 'rebase-merge',
									'allowed': {{$prUnit.PullRequestsConfig.AllowRebaseMerge}},
									'textDoMerge': {{ctx.Locale.Tr "Rebase, then create merge commit"}},
									'mergeTitleFieldText': defaultMergeTitle,
									'mergeMessageFieldText': defaultMergeMessage,
									'hideAutoMerge': generalHideAutoMerge,
								},
								{
									'name': 'squash',
									'allowed': {{$prUnit.PullRequestsConfig.AllowSquash}},
									'textDoMerge': {{ctx.Locale.Tr "Create squash commit"}},
									'mergeTitleFieldText': defaultSquashMergeTitle,
									'mergeMessageFieldText': {{.GetCommitMessages}} + defaultSquashMergeMessage,
									'hideAutoMerge': generalHideAutoMerge,
								},
								{
									'name': 'fast-forward-only',
									'allowed': {{and $prUnit.PullRequestsConfig.AllowFastForwardOnly (eq .Issue.PullRequest.CommitsBehind 0)}},
									'textDoMerge': {{ctx.Locale.Tr "Fast-forward only"}},
									'hideMergeMessageTexts': true,
									'hideAutoMerge': generalHideAutoMerge,
								},
								{
									'name': 'manually-merged',
									'allowed': {{$prUnit.PullRequestsConfig.AllowManualMerge}},
									'textDoMerge': {{ctx.Locale.Tr "Manually merged"}},
									'hideMergeMessageTexts': true,
									'hideAutoMerge': true,
								}
							];
							window.config.pageData.pullRequestMergeForm = mergeForm;
						</script>

						{{$showGeneralMergeForm = true}}
						<div id="pull-request-merge-form"></div>
					{{else}}
						{{/* no merge style was set in repo setting: not or ($prUnit.PullRequestsConfig.AllowMerge ...) */}}
						<div class="divider"></div>
						<div class="item text red">
							{{svg "octicon-x"}}
							{{ctx.Locale.Tr "This pull request cannot be merged because all repository merge options are disabled."}}
						</div>
						<div class="item">
							{{svg "octicon-info"}}
							{{ctx.Locale.Tr "Enable merge options in the repository settings or merge the pull request manually."}}
						</div>
					{{end}} {{/* end if the repo was set to use any merge style */}}
				{{else}}
					{{/* user is not allowed to merge */}}
					<div class="divider"></div>
					<div class="item">
						{{svg "octicon-info"}}
						{{ctx.Locale.Tr "You are not authorized to merge this pull request."}}
					</div>
				{{end}} {{/* end if user is allowed to merge or not */}}
			{{else}}
				{{/* Merge conflict without specific file. Suggest manual merge, only if all reviews and status checks OK. */}}
				{{if .IsBlockedByApprovals}}
					<div class="item text red">
						{{svg "octicon-x"}}
						{{ctx.Locale.Tr "This pull request doesn't have enough required approvals yet. %d of %d official approvals granted." .GrantedApprovals .ProtectedBranch.RequiredApprovals}}
					</div>
				{{else if .IsBlockedByRejection}}
					<div class="item text red">
						{{svg "octicon-x"}}
						{{ctx.Locale.Tr "This pull request has changes requested by an official reviewer."}}
					</div>
				{{else if .IsBlockedByOfficialReviewRequests}}
					<div class="item text red">
						{{svg "octicon-x"}}
						{{ctx.Locale.Tr "This pull request has official review requests."}}
					</div>
				{{else if .IsBlockedByOutdatedBranch}}
					<div class="item text red">
						{{svg "octicon-x"}}
						{{ctx.Locale.Tr "This pull request is blocked because it's outdated."}}
					</div>
				{{else if .IsBlockedByChangedProtectedFiles}}
					<div class="item text red">
						{{svg "octicon-x"}}
						{{ctx.Locale.TrN $.ChangedProtectedFilesNum "This pull request is blocked because it changes a protected file:" "This pull request is blocked because it changes protected files:"}}
					</div>
					<ul>
						{{range .ChangedProtectedFiles}}
						<li>{{.}}</li>
						{{end}}
					</ul>
				{{else if and .EnableStatusCheck (not .RequiredStatusCheckState.IsSuccess)}}
					<div class="item text red">
						{{svg "octicon-x"}}
						{{ctx.Locale.Tr "Some required checks were not successful."}}
					</div>
				{{else if and .RequireSigned (not .WillSign)}}
					<div class="item text red">
						{{svg "octicon-x"}}
						{{ctx.Locale.Tr "The branch requires signed commits but this merge will not be signed"}}
					</div>
				{{else}}
					<div class="item text red">
						{{svg "octicon-x"}}
						{{ctx.Locale.Tr "This pull request cannot be merged automatically due to conflicts."}}
					</div>
					<div class="item">
						{{svg "octicon-info"}}
						{{ctx.Locale.Tr "Merge manually to resolve the conflicts."}}
					</div>
				{{end}}
			{{end}}{{/* end if: pull request status */}}

			{{/* Manually Merged is not a well-known feature, it is used to mark a non-mergeable PR (already merged, conflicted) as merged
			To test it:
			* Enable "Manually Merged" feature in the Repository Settings
			* Create a pull request, either:
			* - Merge the pull request branch locally and push the merged commit to Gitea
			* - Make some conflicts between the base branch and the pull request branch
			* Then the Manually Merged form will be shown in the merge form
			*/}}
			{{if and $.StillCanManualMerge (not $showGeneralMergeForm)}}
				<div class="divider"></div>
				<form class="ui form form-fetch-action" action="{{.Issue.Link}}/merge" method="post">{{/* another similar form is in PullRequestMergeForm.vue*/}}
					{{.CsrfTokenHtml}}
					<div class="field">
						<input type="text" name="merge_commit_id" placeholder="{{ctx.Locale.Tr "The merge commit ID"}}">
					</div>
					<button class="ui red button" type="submit" name="do" value="manually-merged">
						{{ctx.Locale.Tr "Manually merged"}}
					</button>
				</form>
			{{end}}

			{{if and .Issue.PullRequest.HeadRepo (not .Issue.PullRequest.HasMerged) (not .Issue.IsClosed)}}
				{{template "repo/issue/view_content/pull_merge_instruction" dict "PullRequest" .Issue.PullRequest "ShowMergeInstructions" .ShowMergeInstructions}}
			{{end}}
		</div>
	</div>
</div>
{{end}}
