{{if and (gt $.Issue.PullRequest.CommitsBehind 0) (not $.Issue.IsClosed) (not $.Issue.PullRequest.IsChecking) (not $.IsPullFilesConflicted) (not $.IsPullRequestBroken)}}
	<div class="divider"></div>
	<div class="item item-section">
		<div class="item-section-left flex-text-inline">
			{{svg "octicon-alert"}}
			{{ctx.Locale.Tr "This branch is out-of-date with the base branch"}}
		</div>
		<div class="item-section-right">
			{{if and $.UpdateAllowed $.UpdateByRebaseAllowed}}
				<div class="tw-inline-block">
					<div id="update-pr-branch-with-base" class="ui buttons">
						<button class="ui button" data-do="{{$.Issue.Link}}/update" data-redirect="{{$.Issue.Link}}">
							<span class="button-text">
								{{ctx.Locale.Tr "Update branch by merge"}}
							</span>
						</button>
						<div class="ui dropdown icon button">
							{{svg "octicon-triangle-down"}}
							<div class="menu">
								<a class="item active selected" data-do="{{$.Issue.Link}}/update">{{ctx.Locale.Tr "Update branch by merge"}}</a>
								<a class="item" data-do="{{$.Issue.Link}}/update?style=rebase">{{ctx.Locale.Tr "Update branch by rebase"}}</a>
							</div>
						</div>
					</div>
				</div>
			{{end}}
			{{if and $.UpdateAllowed (not $.UpdateByRebaseAllowed)}}
				<form action="{{$.Issue.Link}}/update" method="post" class="ui update-branch-form">
					{{$.CsrfTokenHtml}}
					<button class="ui compact button">
						<span class="ui text">{{ctx.Locale.Tr "Update branch by merge"}}</span>
					</button>
				</form>
			{{end}}
		</div>
	</div>
{{end}}
