{{if .diff.EscapeStatus.HasInvisible}}{{ctx.Locale.Tr "This line has invisible unicode characters"}} {{end -}}
{{- if .diff.EscapeStatus.HasAmbiguous}}{{ctx.Locale.Tr "This line has ambiguous unicode characters"}}{{end}}
