{{template "user/settings/layout_head" (dict "ctxData" . "pageClass" "user settings applications")}}
	<div class="user-setting-content">
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "Manage Access Tokens"}}
		</h4>
		<div class="ui attached segment">
			<div class="flex-list">
				<div class="flex-item">
					{{ctx.Locale.Tr "These tokens grant access to your account using the Gitea API."}}
				</div>
				{{range .Tokens}}
					<div class="flex-item">
						<div class="flex-item-leading">
							<span class="text {{if .HasRecentActivity}}green{{end}}" {{if .HasRecentActivity}}data-tooltip-content="{{ctx.Locale.Tr "This token has been used in the last 7 days"}}"{{end}}>
								{{svg "fontawesome-send" 32}}
							</span>
						</div>
						<div class="flex-item-main">
							<details>
								<summary><span class="flex-item-title">{{.Name}}</span></summary>
								<p class="tw-my-1">
									{{ctx.Locale.Tr "Repository and Organization Access"}}:
									{{if .DisplayPublicOnly}}
										{{ctx.Locale.Tr "Public only"}}
									{{else}}
										{{ctx.Locale.Tr "All (public, private, and limited)"}}
									{{end}}
								</p>
								<p class="tw-my-1">{{ctx.Locale.Tr "Permissions:"}}</p>
								<ul class="tw-my-1">
								{{range .Scope.StringSlice}}
									{{if (ne . $.AccessTokenScopePublicOnly)}}
										<li>{{.}}</li>
									{{end}}
								{{end}}
								</ul>
							</details>
							<div class="flex-item-body">
								<i>{{ctx.Locale.Tr "Added on %s" (DateUtils.AbsoluteShort .CreatedUnix)}} — {{svg "octicon-info"}} {{if .HasUsed}}{{ctx.Locale.Tr "Last used on"}} <span {{if .HasRecentActivity}}class="text green"{{end}}>{{DateUtils.AbsoluteShort .UpdatedUnix}}</span>{{else}}{{ctx.Locale.Tr "No recent activity"}}{{end}}</i>
							</div>
						</div>
						<div class="flex-item-trailing">
								<button class="ui red tiny button delete-button" data-modal-id="delete-token" data-url="{{$.Link}}/delete" data-id="{{.ID}}">
									{{svg "octicon-trash" 16 "tw-mr-1"}}
									{{ctx.Locale.Tr "Delete"}}
								</button>
						</div>
					</div>
				{{end}}
			</div>
		</div>
		<div class="ui bottom attached segment">
			<details {{if or .name (not .Tokens)}}open{{end}}>
				<summary><h4 class="ui header tw-inline-block tw-my-2">{{ctx.Locale.Tr "Generate New Token"}}</h4></summary>
				<form class="ui form ignore-dirty" action="{{.Link}}" method="post">
					{{.CsrfTokenHtml}}
					<div class="field {{if .Err_Name}}error{{end}}">
						<label for="name">{{ctx.Locale.Tr "Token Name"}}</label>
						<input id="name" name="name" value="{{.name}}" required maxlength="255">
					</div>
					<div class="field">
						<div class="tw-my-2">{{ctx.Locale.Tr "Repository and Organization Access"}}</div>
						<label class="gt-checkbox">
							<input type="radio" name="scope-public-only" value="{{$.AccessTokenScopePublicOnly}}"> {{ctx.Locale.Tr "Public only"}}
						</label>
						<label class="gt-checkbox">
							<input type="radio" name="scope-public-only" value="" checked> {{ctx.Locale.Tr "All (public, private, and limited)"}}
						</label>
					</div>
					<div>
						<div class="tw-my-2">{{ctx.Locale.Tr "Selected token permissions limit authorization only to the corresponding <a %s>API</a> routes. Read the <a %s>documentation</a> for more information." (HTMLFormat `href="%s/api/swagger" target="_blank"` AppSubUrl) (HTMLFormat `href="%s" target="_blank"` "https://docs.gitea.com/development/oauth2-provider#scopes")}}</div>
						<table class="ui table unstackable tw-my-2">
						{{range $category := .TokenCategories}}
							<tr>
								<td>{{$category}}</td>
								<td><label class="gt-checkbox"><input type="radio" name="scope-{{$category}}" value="" checked> {{ctx.Locale.Tr "No Access"}}</label></td>
								<td><label class="gt-checkbox"><input type="radio" name="scope-{{$category}}" value="read:{{$category}}"> {{ctx.Locale.Tr "Read"}}</label></td>
								<td><label class="gt-checkbox"><input type="radio" name="scope-{{$category}}" value="write:{{$category}}"> {{ctx.Locale.Tr "Read and Write"}}</label></td>
							</tr>
						{{end}}
						</table>
					</div>
					<button class="ui primary button">
						{{ctx.Locale.Tr "Generate Token"}}
					</button>
				</form>
			</details>
		</div>

		{{if .EnableOAuth2}}
			{{template "user/settings/grants_oauth2" .}}
			{{template "user/settings/applications_oauth2" .}}
		{{end}}
	</div>

<div class="ui g-modal-confirm delete modal" id="delete-token">
	<div class="header">
		{{svg "octicon-trash"}}
		{{ctx.Locale.Tr "Delete Access Token"}}
	</div>
	<div class="content">
		<p>{{ctx.Locale.Tr "Deleting a token will revoke access to your account for applications using it. This cannot be undone. Continue?"}}</p>
	</div>
	{{template "base/modal_actions_confirm"}}
</div>

{{template "user/settings/layout_footer" .}}
