{{if .AllowPrincipals}}
	<h4 class="ui top attached header">
		{{ctx.Locale.Tr "Manage SSH Certificate Principals"}}
		<div class="ui right">
		{{if not .DisableSSH}}
			<button class="ui primary tiny show-panel button" data-panel="#add-ssh-principal-panel">{{ctx.Locale.Tr "Add Principal"}}</button>
		{{else}}
			<button class="ui primary tiny button disabled">{{ctx.Locale.Tr "SSH Disabled"}}</button>
		{{end}}
		</div>
	</h4>
	<div class="ui attached segment">
		<div class="flex-list">
			<div class="flex-item">
				{{ctx.Locale.Tr "These SSH certificate principals are associated with your account and allow full access to your repositories."}}
			</div>
			{{range .Principals}}
				<div class="flex-item">
					<div class="flex-item-leading">
						<span class="text {{if .HasRecentActivity}}green{{end}}" {{if .HasRecentActivity}}data-tooltip-content="{{ctx.Locale.Tr "This principal has been used in the last 7 days"}}"{{end}}>{{svg "octicon-key" 32}}</span>
					</div>
					<div class="flex-item-main">
						<div class="flex-item-title">{{.Name}}</div>
						<div class="flex-item-body">
							<i>{{ctx.Locale.Tr "Added on %s" (DateUtils.AbsoluteShort .CreatedUnix)}} —  {{svg "octicon-info" 16}} {{if .HasUsed}}{{ctx.Locale.Tr "Last used on"}} <span {{if .HasRecentActivity}}class="green"{{end}}>{{DateUtils.AbsoluteShort .UpdatedUnix}}</span>{{else}}{{ctx.Locale.Tr "No recent activity"}}{{end}}</i>
						</div>
					</div>
					<div class="flex-item-trailing">
						<button class="ui red tiny button delete-button" data-modal-id="delete-principal" data-url="{{$.Link}}/delete?type=principal" data-id="{{.ID}}">
							{{ctx.Locale.Tr "Remove"}}
						</button>
					</div>
				</div>
			{{end}}
		</div>
	</div>
	<br>

	<div {{if not .HasPrincipalError}}class="tw-hidden"{{end}} id="add-ssh-principal-panel">
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "Add Principal"}}
		</h4>
		<div class="ui attached segment">
			<form class="ui form" action="{{.Link}}" method="post">
				{{.CsrfTokenHtml}}
				<div class="field {{if .Err_Content}}error{{end}}">
					<label for="ssh-principal-content">{{ctx.Locale.Tr "Content"}}</label>
					<input id="ssh-principal-content" name="content" value="{{.content}}" autofocus required>
				</div>
				<input name="title" type="hidden" value="principal">
				<input name="type" type="hidden" value="principal">
				<button class="ui primary button">
					{{ctx.Locale.Tr "Add Principal"}}
				</button>
			</form>
		</div>
	</div>

	<div class="ui g-modal-confirm delete modal" id="delete-principal">
		<div class="header">
			{{svg "octicon-trash"}}
			{{ctx.Locale.Tr "Remove SSH Certificate Principal"}}
		</div>
		<div class="content">
			<p>{{ctx.Locale.Tr "Removing an SSH Certificate Principal revokes its access to your account. Continue?"}}</p>
		</div>
		{{template "base/modal_actions_confirm" .}}
	</div>
{{end}}
