<div class="flex-container-nav">
	<div class="ui fluid vertical menu">
		<div class="header item">{{ctx.Locale.Tr "User Settings"}}</div>
		<a class="{{if .PageIsSettingsProfile}}active {{end}}item" href="{{AppSubUrl}}/user/settings">
			{{ctx.Locale.Tr "Profile"}}
		</a>
		{{if not ($.UserDisabledFeatures.Contains "manage_credentials" "deletion")}}
		<a class="{{if .PageIsSettingsAccount}}active {{end}}item" href="{{AppSubUrl}}/user/settings/account">
			{{ctx.Locale.Tr "Account"}}
		</a>
		{{end}}
		{{if $.EnableNotifyMail}}
		<a class="{{if .PageIsSettingsNotifications}}active {{end}}item" href="{{AppSubUrl}}/user/settings/notifications">
			{{ctx.Locale.Tr "Notifications"}}
		</a>
		{{end}}
		<a class="{{if .PageIsSettingsAppearance}}active {{end}}item" href="{{AppSubUrl}}/user/settings/appearance">
			{{ctx.Locale.Tr "Appearance"}}
		</a>
		{{if not ($.UserDisabledFeatures.Contains "manage_mfa" "manage_credentials")}}
		<a class="{{if .PageIsSettingsSecurity}}active {{end}}item" href="{{AppSubUrl}}/user/settings/security">
			{{ctx.Locale.Tr "Security"}}
		</a>
		{{end}}
		<a class="{{if .PageIsSettingsBlockedUsers}}active {{end}}item" href="{{AppSubUrl}}/user/settings/blocked_users">
			{{ctx.Locale.Tr "Blocked users"}}
		</a>
		<a class="{{if .PageIsSettingsApplications}}active {{end}}item" href="{{AppSubUrl}}/user/settings/applications">
			{{ctx.Locale.Tr "Applications"}}
		</a>
		{{if not ($.UserDisabledFeatures.Contains "manage_ssh_keys" "manage_gpg_keys")}}
		<a class="{{if .PageIsSettingsKeys}}active {{end}}item" href="{{AppSubUrl}}/user/settings/keys">
			{{ctx.Locale.Tr "SSH / GPG Keys"}}
		</a>
		{{end}}
		{{if .EnableActions}}
		<details class="item toggleable-item" {{if or .PageIsSharedSettingsRunners .PageIsSharedSettingsSecrets .PageIsSharedSettingsVariables}}open{{end}}>
			<summary>{{ctx.Locale.Tr "Actions"}}</summary>
			<div class="menu">
				<a class="{{if .PageIsSharedSettingsRunners}}active {{end}}item" href="{{AppSubUrl}}/user/settings/actions/runners">
					{{ctx.Locale.Tr "Runners"}}
				</a>
				<a class="{{if .PageIsSharedSettingsSecrets}}active {{end}}item" href="{{AppSubUrl}}/user/settings/actions/secrets">
					{{ctx.Locale.Tr "Secrets"}}
				</a>
				<a class="{{if .PageIsSharedSettingsVariables}}active {{end}}item" href="{{AppSubUrl}}/user/settings/actions/variables">
					{{ctx.Locale.Tr "Variables"}}
				</a>
			</div>
		</details>
		{{end}}
		{{if .EnablePackages}}
		<a class="{{if .PageIsSettingsPackages}}active {{end}}item" href="{{AppSubUrl}}/user/settings/packages">
			{{ctx.Locale.Tr "Packages"}}
		</a>
		{{end}}
		{{if not DisableWebhooks}}
		<a class="{{if .PageIsSettingsHooks}}active {{end}}item" href="{{AppSubUrl}}/user/settings/hooks">
			{{ctx.Locale.Tr "Webhooks"}}
		</a>
		{{end}}
		<a class="{{if .PageIsSettingsOrganization}}active {{end}}item" href="{{AppSubUrl}}/user/settings/organization">
			{{ctx.Locale.Tr "Organizations"}}
		</a>
		<a class="{{if .PageIsSettingsRepos}}active {{end}}item" href="{{AppSubUrl}}/user/settings/repos">
			{{ctx.Locale.Tr "Repositories"}}
		</a>
	</div>
</div>
