{{template "user/settings/layout_head" (dict "ctxData" . "pageClass" "user settings")}}
	<div class="user-setting-content">
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "Notifications"}}
		</h4>
		<div class="ui attached segment">
			<div class="ui list flex-items-block">
				<div class="item">
					<form class="ui form tw-w-full" action="{{AppSubUrl}}/user/settings/notifications/email" method="post">
						{{$.CsrfTokenHtml}}
						<div class="field">
							<label>{{ctx.Locale.Tr "Your primary email address will be used for notifications, password recovery and, provided that it is not hidden, web-based Git operations."}}</label>
							<div class="ui selection dropdown">
								<input name="preference" type="hidden" value="{{.EmailNotificationsPreference}}">
								{{svg "octicon-triangle-down" 14 "dropdown icon"}}
								<div class="text"></div>
								<div class="menu">
									<div data-value="enabled" class="{{if eq .EmailNotificationsPreference "enabled"}}active selected {{end}}item">{{ctx.Locale.Tr "Enable Email Notifications"}}</div>
									<div data-value="andyourown" class="{{if eq .EmailNotificationsPreference "andyourown"}}active selected {{end}}item">{{ctx.Locale.Tr "And Your Own Notifications"}}</div>
									<div data-value="onmention" class="{{if eq .EmailNotificationsPreference "onmention"}}active selected {{end}}item">{{ctx.Locale.Tr "Only Email on Mention"}}</div>
									<div data-value="disabled" class="{{if eq .EmailNotificationsPreference "disabled"}}active selected {{end}}item">{{ctx.Locale.Tr "Disable Email Notifications"}}</div>
								</div>
							</div>
						</div>
						<div class="field">
							<button class="ui primary button">{{ctx.Locale.Tr "Set Email Preference"}}</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		{{if .EnableActions}}
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "Actions"}}
		</h4>
		<div class="ui attached segment">
			<div class="ui list flex-items-block">
				<div class="item">
					<form class="ui form tw-w-full" action="{{AppSubUrl}}/user/settings/notifications/actions" method="post">
						{{$.CsrfTokenHtml}}
						<div class="field">
							<label>{{ctx.Locale.Tr "Notifications for workflow runs on repositories set up with <a target=\"_blank\" href=\"%s\">Gitea Actions</a>." "https://docs.gitea.com/usage/actions/overview/"}}</label>
							<div class="ui selection dropdown">
								<input name="preference" type="hidden" value="{{.ActionsEmailNotificationsPreference}}">
								{{svg "octicon-triangle-down" 14 "dropdown icon"}}
								<div class="text"></div>
								<div class="menu">
									<div data-value="all" class="item">{{ctx.Locale.Tr "All"}}</div>
									<div data-value="failure-only" class="item">{{ctx.Locale.Tr "Only notify for failed workflow runs"}}</div>
									<div data-value="disabled" class="item">{{ctx.Locale.Tr "Disabled"}}</div>
								</div>
							</div>
						</div>
						<div class="field">
							<button class="ui primary button">{{ctx.Locale.Tr "Set Email Preference"}}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		{{end}}
	</div>

{{template "user/settings/layout_footer" .}}
