<div class="flex-container-nav">
	<div class="ui fluid vertical menu">
		<div class="header item">{{ctx.Locale.Tr "Admin Settings"}}</div>

		<details class="item toggleable-item" {{if or .PageIsAdminDashboard .PageIsAdminSelfCheck}}open{{end}}>
			<summary>{{ctx.Locale.Tr "Maintenance"}}</summary>
			<div class="menu">
				<a class="{{if .PageIsAdminDashboard}}active {{end}}item" href="{{AppSubUrl}}/-/admin">
					{{ctx.Locale.Tr "Dashboard"}}
				</a>
				<a class="{{if .PageIsAdminSelfCheck}}active {{end}}item" href="{{AppSubUrl}}/-/admin/self_check">
					{{ctx.Locale.Tr "Self Check"}}
				</a>
			</div>
		</details>
		<details class="item toggleable-item" {{if or .PageIsAdminUsers .PageIsAdminEmails .PageIsAdminOrganizations .PageIsAdminAuthentications}}open{{end}}>
			<summary>{{ctx.Locale.Tr "Identity & Access"}}</summary>
			<div class="menu">
				<a class="{{if .PageIsAdminAuthentications}}active {{end}}item" href="{{AppSubUrl}}/-/admin/auths">
					{{ctx.Locale.Tr "Authentication Sources"}}
				</a>
				<a class="{{if .PageIsAdminOrganizations}}active {{end}}item" href="{{AppSubUrl}}/-/admin/orgs">
					{{ctx.Locale.Tr "Organizations"}}
				</a>
				<a class="{{if .PageIsAdminUsers}}active {{end}}item" href="{{AppSubUrl}}/-/admin/users">
					{{ctx.Locale.Tr "User Accounts"}}
				</a>
				<a class="{{if .PageIsAdminEmails}}active {{end}}item" href="{{AppSubUrl}}/-/admin/emails">
					{{ctx.Locale.Tr "User Email Addresses"}}
				</a>
			</div>
		</details>
		<details class="item toggleable-item" {{if or .PageIsAdminRepositories (and .EnablePackages .PageIsAdminPackages)}}open{{end}}>
			<summary>{{ctx.Locale.Tr "Code Assets"}}</summary>
			<div class="menu">
				{{if .EnablePackages}}
					<a class="{{if .PageIsAdminPackages}}active {{end}}item" href="{{AppSubUrl}}/-/admin/packages">
						{{ctx.Locale.Tr "Packages"}}
					</a>
				{{end}}
				<a class="{{if .PageIsAdminRepositories}}active {{end}}item" href="{{AppSubUrl}}/-/admin/repos">
					{{ctx.Locale.Tr "Repositories"}}
				</a>
			</div>
		</details>
		<!-- Webhooks and OAuth can be both disabled here, so add this if statement to display different ui -->
		{{if and (not DisableWebhooks) .EnableOAuth2}}
			<details class="item toggleable-item" {{if or .PageIsAdminDefaultHooks .PageIsAdminSystemHooks .PageIsAdminApplications}}open{{end}}>
				<summary>{{ctx.Locale.Tr "Integrations"}}</summary>
				<div class="menu">
					<a class="{{if .PageIsAdminApplications}}active {{end}}item" href="{{AppSubUrl}}/-/admin/applications">
						{{ctx.Locale.Tr "Applications"}}
					</a>
					<a class="{{if or .PageIsAdminDefaultHooks .PageIsAdminSystemHooks}}active {{end}}item" href="{{AppSubUrl}}/-/admin/hooks">
						{{ctx.Locale.Tr "Webhooks"}}
					</a>
				</div>
			</details>
		{{else}}
			{{if not DisableWebhooks}}
			<a class="{{if or .PageIsAdminDefaultHooks .PageIsAdminSystemHooks}}active {{end}}item" href="{{AppSubUrl}}/-/admin/hooks">
				{{ctx.Locale.Tr "Webhooks"}}
			</a>
			{{end}}
			{{if .EnableOAuth2}}
				<a class="{{if .PageIsAdminApplications}}active {{end}}item" href="{{AppSubUrl}}/-/admin/applications">
					{{ctx.Locale.Tr "Applications"}}
				</a>
			{{end}}
		{{end}}
		{{if .EnableActions}}
		<details class="item toggleable-item" {{if or .PageIsSharedSettingsRunners .PageIsSharedSettingsVariables}}open{{end}}>
			<summary>{{ctx.Locale.Tr "Actions"}}</summary>
			<div class="menu">
				<a class="{{if .PageIsSharedSettingsRunners}}active {{end}}item" href="{{AppSubUrl}}/-/admin/actions/runners">
					{{ctx.Locale.Tr "Runners"}}
				</a>
				<a class="{{if .PageIsSharedSettingsVariables}}active {{end}}item" href="{{AppSubUrl}}/-/admin/actions/variables">
					{{ctx.Locale.Tr "Variables"}}
				</a>
			</div>
		</details>
		{{end}}
		<details class="item toggleable-item" {{if or .PageIsAdminConfig}}open{{end}}>
			<summary>{{ctx.Locale.Tr "Configuration"}}</summary>
			<div class="menu">
				<a class="{{if .PageIsAdminConfigSummary}}active {{end}}item" href="{{AppSubUrl}}/-/admin/config">
					{{ctx.Locale.Tr "Summary"}}
				</a>
				<a class="{{if .PageIsAdminConfigSettings}}active {{end}}item" href="{{AppSubUrl}}/-/admin/config/settings">
					{{ctx.Locale.Tr "Settings"}}
				</a>
			</div>
		</details>
		<a class="{{if .PageIsAdminNotices}}active {{end}}item" href="{{AppSubUrl}}/-/admin/notices">
			{{ctx.Locale.Tr "System Notices"}}
		</a>
		<details class="item toggleable-item" {{if or .PageIsAdminMonitorStats .PageIsAdminMonitorCron .PageIsAdminMonitorQueue .PageIsAdminMonitorTrace}}open{{end}}>
			<summary>{{ctx.Locale.Tr "Monitoring"}}</summary>
			<div class="menu">
				<a class="{{if .PageIsAdminMonitorStats}}active {{end}}item" href="{{AppSubUrl}}/-/admin/monitor/stats">
					{{ctx.Locale.Tr "Stats"}}
				</a>
				<a class="{{if .PageIsAdminMonitorCron}}active {{end}}item" href="{{AppSubUrl}}/-/admin/monitor/cron">
					{{ctx.Locale.Tr "Cron Tasks"}}
				</a>
				<a class="{{if .PageIsAdminMonitorQueue}}active {{end}}item" href="{{AppSubUrl}}/-/admin/monitor/queue">
					{{ctx.Locale.Tr "Queues"}}
				</a>
				<a class="{{if .PageIsAdminMonitorTrace}}active {{end}}item" href="{{AppSubUrl}}/-/admin/monitor/stacktrace">
					{{ctx.Locale.Tr "Trace"}}
				</a>
			</div>
		</details>
	</div>
</div>
