{{template "admin/layout_head" (dict "ctxData" . "pageClass" "admin")}}

<div class="admin-setting-content">
	<h4 class="ui top attached header">
		{{ctx.Locale.Tr "Self Check"}}
	</h4>

	{{if .StartupProblems}}
	<div class="ui attached segment self-check-problem">
		<div class="ui warning message">
			<div>{{ctx.Locale.Tr "Startup warnings:"}}</div>
			<ul class="tw-w-full">{{range .StartupProblems}}<li>{{.}}</li>{{end}}</ul>
		</div>
	</div>
	{{end}}

	<div class="ui attached segment tw-hidden self-check-problem" id="self-check-by-frontend"></div>

	{{if .DatabaseCheckHasProblems}}
		<div class="ui attached segment self-check-problem">
			{{if .DatabaseType.IsMySQL}}
				<div class="tw-p-2">{{ctx.Locale.Tr "For MySQL/MariaDB users, you could use the \"gitea doctor convert\" command to fix the collation problems, or you could also fix the problem manually with \"ALTER ... COLLATE ...\" SQL queries."}}</div>
			{{else if .DatabaseType.IsMSSQL}}
				<div class="tw-p-2">{{ctx.Locale.Tr "For MSSQL users, you could only fix the problem manually with \"ALTER ... COLLATE ...\" SQL queries at the moment."}}</div>
			{{end}}
			{{if .DatabaseCheckCollationMismatch}}
				<div class="ui red message">{{ctx.Locale.Tr "Expect database to use collation: %s" .DatabaseCheckResult.ExpectedCollation}}</div>
			{{end}}
			{{if .DatabaseCheckCollationCaseInsensitive}}
				<div class="ui warning message">{{ctx.Locale.Tr "Database is using collation %s, which is a case-insensitive collation. Although Gitea could work with it, there might be some rare cases which don't work as expected." .DatabaseCheckResult.DatabaseCollation}}</div>
			{{end}}
			{{if .DatabaseCheckInconsistentCollationColumns}}
				<div class="ui red message">
					<details>
						<summary>{{ctx.Locale.Tr "Database is using collation %s, but these columns are using mismatched collations. This might cause some unexpected problems." .DatabaseCheckResult.DatabaseCollation}}</summary>
						<ul class="tw-w-full">
						{{range .DatabaseCheckInconsistentCollationColumns}}
							<li>{{.}}</li>
						{{end}}
						</ul>
					</details>
				</div>
			{{end}}
		</div>
	{{end}}

	{{if .CacheError}}
		<div class="ui red message">{{ctx.Locale.Tr "Failed to probe the cache: %v." .CacheError}}</div>
	{{end}}
	{{if .CacheSlow}}
		<div class="ui warning message">{{ctx.Locale.Tr "Cache test successful, but response is slow: %s." .CacheSlow}}</div>
	{{end}}

	{{/* only shown when there is no visible "self-check-problem" */}}
	<div class="ui attached segment tw-hidden self-check-no-problem">
		{{ctx.Locale.Tr "No problem found yet."}}
	</div>
</div>

{{template "admin/layout_footer" .}}
