<div class="flex-text-block">
	<div class="tw-flex-1">
		<div class="ui compact small menu">
			{{if .ShowAdminPerformanceTraceTab}}
			<a class="item {{Iif .PageIsAdminMonitorPerfTrace "active"}}" href="{{AppSubUrl}}/-/admin/monitor/perftrace">{{ctx.Locale.Tr "Performance Logs"}}</a>
			{{end}}
			<a class="item {{Iif (eq .ShowGoroutineList "process") "active"}}" href="{{AppSubUrl}}/-/admin/monitor/stacktrace?show=process">{{ctx.Locale.Tr "Running Processes"}}</a>
			<a class="item {{Iif (eq .ShowGoroutineList "stacktrace") "active"}}" href="{{AppSubUrl}}/-/admin/monitor/stacktrace?show=stacktrace">{{ctx.Locale.Tr "Stacktrace"}}</a>
		</div>
	</div>
	<form target="_blank" action="{{AppSubUrl}}/-/admin/monitor/diagnosis" class="ui form">
		<div class="ui inline field">
			<button class="ui primary small button">{{ctx.Locale.Tr "Download diagnosis report"}}</button>
			<input name="seconds" size="3" maxlength="3" value="10"> {{ctx.Locale.Tr "seconds"}}
		</div>
	</form>
</div>

<div class="divider"></div>
