{{if eq .PackageDescriptor.Package.Type "chef"}}
	<h4 class="ui top attached header">{{ctx.Locale.Tr "Installation"}}</h4>
	<div class="ui attached segment">
		<div class="ui form">
			<div class="field">
				<label>{{svg "octicon-code"}} {{ctx.Locale.Tr "Set up this registry in your <code>~/.chef/config.rb</code> file:"}}</label>
				<div class="markup"><pre class="code-block"><code>knife[:supermarket_site] = '<origin-url data-url="{{AppSubUrl}}/api/packages/{{.PackageDescriptor.Owner.Name}}/chef"></origin-url>'</code></pre></div>
			</div>
			<div class="field">
				<label>{{svg "octicon-terminal"}} {{ctx.Locale.Tr "To install the package, run the following command:"}}</label>
				<div class="markup"><pre class="code-block"><code>knife supermarket install {{.PackageDescriptor.Package.Name}} {{.PackageDescriptor.Version.Version}}</code></pre></div>
			</div>
			<div class="field">
				<label>{{ctx.Locale.Tr "For more information on the %s registry, see <a target=\"_blank\" rel=\"noopener noreferrer\" href=\"%s\">the documentation</a>." "Chef" "https://docs.gitea.com/usage/packages/chef/"}}</label>
			</div>
		</div>
	</div>

	{{if or .PackageDescriptor.Metadata.Description .PackageDescriptor.Metadata.LongDescription}}
		<h4 class="ui top attached header">{{ctx.Locale.Tr "About this package"}}</h4>
		<div class="ui attached segment">
			{{if .PackageDescriptor.Metadata.Description}}<p>{{.PackageDescriptor.Metadata.Description}}</p>{{end}}
			{{if .PackageDescriptor.Metadata.LongDescription}}{{ctx.RenderUtils.MarkdownToHtml .PackageDescriptor.Metadata.LongDescription}}{{end}}
		</div>
	{{end}}

	{{if .PackageDescriptor.Metadata.Dependencies}}
		<h4 class="ui top attached header">{{ctx.Locale.Tr "Dependencies"}}</h4>
		<div class="ui attached segment">
			<table class="ui single line very basic table">
				<thead>
					<tr>
						<th class="eleven wide">{{ctx.Locale.Tr "ID"}}</th>
						<th class="five wide">{{ctx.Locale.Tr "Version"}}</th>
					</tr>
				</thead>
				<tbody>
					{{range $dependency, $version := .PackageDescriptor.Metadata.Dependencies}}
					<tr>
						<td>{{$dependency}}</td>
						<td>{{$version}}</td>
					</tr>
					{{end}}
				</tbody>
			</table>
		</div>
	{{end}}
{{end}}
