{{if eq .PackageDescriptor.Package.Type "swift"}}
	<h4 class="ui top attached header">{{ctx.Locale.Tr "Installation"}}</h4>
	<div class="ui attached segment">
		<div class="ui form">
			<div class="field">
				<label>{{svg "octicon-terminal"}} {{ctx.Locale.Tr "Set up this registry from the command line:"}}</label>
				<div class="markup"><pre class="code-block"><code>swift package-registry set <origin-url data-url="{{AppSubUrl}}/api/packages/{{.PackageDescriptor.Owner.Name}}/swift"></origin-url></code></pre></div>
			</div>
			<div class="field">
				<label>{{svg "octicon-code"}} {{ctx.Locale.Tr "Add the package in your <code>Package.swift</code> file:"}}</label>
				<div class="markup"><pre class="code-block"><code>dependencies: [
	.package(id: "{{.PackageDescriptor.Package.Name}}", from:"{{.PackageDescriptor.Version.Version}}")
]</code></pre></div>
			</div>
			<div class="field">
				<label>{{svg "octicon-terminal"}} {{ctx.Locale.Tr "and run the following command:"}}</label>
				<div class="markup"><pre class="code-block"><code>swift package resolve</code></pre></div>
			</div>
			<div class="field">
				<label>{{ctx.Locale.Tr "For more information on the %s registry, see <a target=\"_blank\" rel=\"noopener noreferrer\" href=\"%s\">the documentation</a>." "Swift" "https://docs.gitea.com/usage/packages/swift/"}}</label>
			</div>
		</div>
	</div>

	{{if .PackageDescriptor.Metadata.Description}}
		<h4 class="ui top attached header">{{ctx.Locale.Tr "About this package"}}</h4>
		<div class="ui attached segment">
			{{if .PackageDescriptor.Metadata.Description}}{{.PackageDescriptor.Metadata.Description}}{{end}}
		</div>
	{{end}}

	{{if .PackageDescriptor.Metadata.Keywords}}
		<h4 class="ui top attached header">{{ctx.Locale.Tr "Keywords"}}</h4>
		<div class="ui attached segment">
			{{range .PackageDescriptor.Metadata.Keywords}}
				{{.}}
			{{end}}
		</div>
	{{end}}
{{end}}
