{{if eq .PackageDescriptor.Package.Type "npm"}}
	{{if .PackageDescriptor.Metadata.Author}}<div class="item" title="{{ctx.Locale.Tr "Author"}}">{{svg "octicon-person"}} {{.PackageDescriptor.Metadata.Author}}</div>{{end}}
	{{if .PackageDescriptor.Metadata.ProjectURL}}<div class="item">{{svg "octicon-link-external"}} <a href="{{.PackageDescriptor.Metadata.ProjectURL}}" target="_blank" rel="noopener noreferrer me">{{ctx.Locale.Tr "Project Site"}}</a></div>{{end}}
	{{if .PackageDescriptor.Metadata.License}}<div class="item" title="{{ctx.Locale.Tr "License"}}">{{svg "octicon-law"}} {{.PackageDescriptor.Metadata.License}}</div>{{end}}
	{{range .PackageDescriptor.VersionProperties}}
		{{if eq .Name "npm.tag"}}<div class="item" title="{{ctx.Locale.Tr "Tag"}}">{{svg "octicon-versions"}} {{.Value}}</div>{{end}}
	{{end}}
{{end}}
