{{template "admin/layout_head" (dict "ctxData" . "pageClass" "admin edit authentication")}}
	<div class="admin-setting-content">
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "Edit Authentication Source"}}
		</h4>
		<div class="ui attached segment">
			<form class="ui form" action="{{.Link}}" method="post">
				{{template "base/disable_form_autofill"}}
				{{.CsrfTokenHtml}}
				<input type="hidden" name="id" value="{{.Source.ID}}">
				<div class="inline field">
					<label>{{ctx.Locale.Tr "Authentication Type"}}</label>
					<input type="hidden" id="auth_type" name="type" value="{{.Source.Type.Int}}">
					<span>{{.Source.TypeName}}</span>
				</div>
				<div class="required inline field {{if .Err_Name}}error{{end}}">
					<label for="auth_name">{{ctx.Locale.Tr "Authentication Name"}}</label>
					<input id="auth_name" name="name" value="{{.Source.Name}}" required>
				</div>
				<div class="inline field">
					<div class="ui checkbox">
						<label ><strong>{{ctx.Locale.Tr "Skip local 2FA"}}</strong></label>
						<input name="two_factor_policy" type="checkbox" value="skip" {{if eq .Source.TwoFactorPolicy "skip"}}checked{{end}}>
						<p class="help">{{ctx.Locale.Tr "Leaving unset means local users with 2FA set will still have to pass 2FA to log on"}}</p>
					</div>
				</div>

				<!-- LDAP and DLDAP -->
				{{if or .Source.IsLDAP .Source.IsDLDAP}}
					{{$cfg:=.Source.Cfg}}
					<div class="inline required field {{if .Err_SecurityProtocol}}error{{end}}">
						<label>{{ctx.Locale.Tr "Security Protocol"}}</label>
						<div class="ui selection security-protocol dropdown">
							<input type="hidden" id="security_protocol" name="security_protocol" value="{{$cfg.SecurityProtocol.Int}}">
							<div class="text">{{$cfg.SecurityProtocolName}}</div>
							{{svg "octicon-triangle-down" 14 "dropdown icon"}}
							<div class="menu">
								{{range .SecurityProtocols}}
									<div class="item" data-value="{{.Type.Int}}">{{.Name}}</div>
								{{end}}
							</div>
						</div>
					</div>
					<div class="required field">
						<label for="host">{{ctx.Locale.Tr "Host"}}</label>
						<input id="host" name="host" value="{{$cfg.Host}}" placeholder="mydomain.com" required>
					</div>
					<div class="required field">
						<label for="port">{{ctx.Locale.Tr "Port"}}</label>
						<input id="port" name="port" value="{{$cfg.Port}}"  placeholder="636" required>
					</div>
					<div class="has-tls inline field {{if not .HasTLS}}tw-hidden{{end}}">
						<div class="ui checkbox">
							<label><strong>{{ctx.Locale.Tr "Skip TLS Verify"}}</strong></label>
							<input name="skip_verify" type="checkbox" {{if .Source.SkipVerify}}checked{{end}}>
						</div>
					</div>
					{{if .Source.IsLDAP}}
						<div class="field">
							<label for="bind_dn">{{ctx.Locale.Tr "Bind DN"}}</label>
							<input id="bind_dn" name="bind_dn" value="{{$cfg.BindDN}}" placeholder="cn=Search,dc=mydomain,dc=com">
						</div>
						<div class="field">
							<label for="bind_password">{{ctx.Locale.Tr "Bind Password"}}</label>
							<input id="bind_password" name="bind_password" type="password" value="{{$cfg.BindPassword}}">
						</div>
					{{end}}
					<div class="{{if .Source.IsLDAP}}required{{end}} field">
							<label for="user_base">{{ctx.Locale.Tr "User Search Base"}}</label>
							<input id="user_base" name="user_base" value="{{$cfg.UserBase}}" placeholder="ou=Users,dc=mydomain,dc=com" {{if .Source.IsLDAP}}required{{end}}>
					</div>
					{{if .Source.IsDLDAP}}
						<div class="required field">
							<label for="user_dn">{{ctx.Locale.Tr "User DN"}}</label>
							<input id="user_dn" name="user_dn" value="{{$cfg.UserDN}}" placeholder="uid=%s,ou=Users,dc=mydomain,dc=com" required>
						</div>
					{{end}}
					<div class="required field">
						<label for="filter">{{ctx.Locale.Tr "User Filter"}}</label>
						<input id="filter" name="filter" value="{{$cfg.Filter}}" placeholder="(&(objectClass=posixAccount)(|(uid=%[1]s)(mail=%[1]s)))" required>
					</div>
					<div class="field">
						<label for="admin_filter">{{ctx.Locale.Tr "Admin Filter"}}</label>
						<input id="admin_filter" name="admin_filter" value="{{$cfg.AdminFilter}}">
					</div>
					<div class="field">
						<label for="restricted_filter">{{ctx.Locale.Tr "Restricted Filter"}}</label>
						<input id="restricted_filter" name="restricted_filter" value="{{$cfg.RestrictedFilter}}">
						<p class="help">{{ctx.Locale.Tr "Leave empty to not set any users as restricted. Use an asterisk ('*') to set all users that do not match Admin Filter as restricted."}}</p>
					</div>
					<div class="field">
						<label for="attribute_username">{{ctx.Locale.Tr "Username Attribute"}}</label>
						<input id="attribute_username" name="attribute_username" value="{{$cfg.AttributeUsername}}" placeholder="{{ctx.Locale.Tr "Leave empty to use the username entered in Gitea."}}">
					</div>
					<div class="field">
						<label for="attribute_name">{{ctx.Locale.Tr "First Name Attribute"}}</label>
						<input id="attribute_name" name="attribute_name" value="{{$cfg.AttributeName}}">
					</div>
					<div class="field">
						<label for="attribute_surname">{{ctx.Locale.Tr "Surname Attribute"}}</label>
						<input id="attribute_surname" name="attribute_surname" value="{{$cfg.AttributeSurname}}">
					</div>
					<div class="required field">
						<label for="attribute_mail">{{ctx.Locale.Tr "Email Attribute"}}</label>
						<input id="attribute_mail" name="attribute_mail" value="{{$cfg.AttributeMail}}" placeholder="mail" required>
					</div>
					<div class="field">
						<label for="attribute_ssh_public_key">{{ctx.Locale.Tr "Public SSH Key Attribute"}}</label>
						<input id="attribute_ssh_public_key" name="attribute_ssh_public_key" value="{{$cfg.AttributeSSHPublicKey}}" placeholder="SshPublicKey">
					</div>
					<div class="field">
						<label for="attribute_avatar">{{ctx.Locale.Tr "Avatar Attribute"}}</label>
						<input id="attribute_avatar" name="attribute_avatar" value="{{$cfg.AttributeAvatar}}" placeholder="jpegPhoto">
					</div>

					<!-- ldap group begin -->
					<div class="inline field">
						<div class="ui checkbox">
							<label><strong>{{ctx.Locale.Tr "Enable LDAP groups"}}</strong></label>
							<input type="checkbox" name="groups_enabled" class="js-ldap-group-toggle" {{if $cfg.GroupsEnabled}}checked{{end}}>
						</div>
					</div>
					<div id="ldap-group-options" class="ui segment secondary {{if not $cfg.GroupsEnabled}}tw-hidden{{end}}">
						<div class="field">
							<label>{{ctx.Locale.Tr "Group Search Base DN"}}</label>
							<input name="group_dn" value="{{$cfg.GroupDN}}" placeholder="ou=group,dc=mydomain,dc=com">
						</div>
						<div class="field">
							<label>{{ctx.Locale.Tr "Group Attribute Containing List Of Users"}}</label>
							<input name="group_member_uid" value="{{$cfg.GroupMemberUID}}" placeholder="memberUid">
						</div>
						<div class="field">
							<label>{{ctx.Locale.Tr "User Attribute Listed In Group"}}</label>
							<input name="user_uid" value="{{$cfg.UserUID}}" placeholder="uid">
						</div>
						<div class="field">
							<label>{{ctx.Locale.Tr "Verify group membership in LDAP (leave the filter empty to skip)"}}</label>
							<input name="group_filter" value="{{$cfg.GroupFilter}}" placeholder="(|(cn=gitea_users)(cn=admins))">
						</div>
						<div class="field">
							<label>{{ctx.Locale.Tr "Map LDAP groups to Organization teams (leave the field empty to skip)"}}</label>
							<textarea name="group_team_map" rows="5" placeholder='{"cn=my-group,cn=groups,dc=example,dc=org": {"MyGiteaOrganization": ["MyGiteaTeam1", "MyGiteaTeam2"]}}'>{{$cfg.GroupTeamMap}}</textarea>
						</div>
						<div class="ui checkbox">
							<label>{{ctx.Locale.Tr "Remove users from synchronized teams if user does not belong to corresponding LDAP group"}}</label>
							<input name="group_team_map_removal" type="checkbox" {{if $cfg.GroupTeamMapRemoval}}checked{{end}}>
						</div>
					</div>
					<!-- ldap group end -->

					{{if .Source.IsLDAP}}
						<div class="inline field">
							<div class="ui checkbox">
								<label for="use_paged_search"><strong>{{ctx.Locale.Tr "Use Paged Search"}}</strong></label>
								<input id="use_paged_search" name="use_paged_search" type="checkbox" {{if $cfg.UsePagedSearch}}checked{{end}}>
							</div>
						</div>
						<div class="field required search-page-size{{if not $cfg.UsePagedSearch}} tw-hidden{{end}}">
							<label for="search_page_size">{{ctx.Locale.Tr "Page Size"}}</label>
							<input id="search_page_size" name="search_page_size" value="{{if $cfg.UsePagedSearch}}{{$cfg.SearchPageSize}}{{end}}">
						</div>
						<div class="inline field">
							<div class="ui checkbox">
								<label><strong>{{ctx.Locale.Tr "Fetch Attributes in Bind DN Context"}}</strong></label>
								<input name="attributes_in_bind" type="checkbox" {{if $cfg.AttributesInBind}}checked{{end}}>
							</div>
						</div>
					{{end}}
					<div class="inline field">
						<div class="ui checkbox">
							<label for="allow_deactivate_all"><strong>{{ctx.Locale.Tr "Allow an empty search result to deactivate all users"}}</strong></label>
							<input id="allow_deactivate_all" name="allow_deactivate_all" type="checkbox" {{if $cfg.AllowDeactivateAll}}checked{{end}}>
						</div>
					</div>
				{{end}}

				<!-- SMTP -->
				{{if .Source.IsSMTP}}
					{{$cfg:=.Source.Cfg}}
					<div class="inline required field">
						<label>{{ctx.Locale.Tr "SMTP Authentication Type"}}</label>
						<div class="ui selection type dropdown">
							<input type="hidden" id="smtp_auth" name="smtp_auth" value="{{$cfg.Auth}}" required>
							<div class="text">{{$cfg.Auth}}</div>
							{{svg "octicon-triangle-down" 14 "dropdown icon"}}
							<div class="menu">
								{{range .SMTPAuths}}
									<div class="item" data-value="{{.}}">{{.}}</div>
								{{end}}
							</div>
						</div>
					</div>
					<div class="required field">
						<label for="smtp_host">{{ctx.Locale.Tr "SMTP Host"}}</label>
						<input id="smtp_host" name="smtp_host" value="{{$cfg.Host}}" required>
					</div>
					<div class="required field">
						<label for="smtp_port">{{ctx.Locale.Tr "SMTP Port"}}</label>
						<input id="smtp_port" name="smtp_port" value="{{$cfg.Port}}" required>
					</div>
					<div class="field">
						<div class="ui checkbox">
							<label for="force_smtps"><strong>{{ctx.Locale.Tr "Force SMTPS"}}</strong></label>
							<input id="force_smtps" name="force_smtps" type="checkbox" {{if $cfg.ForceSMTPS}}checked{{end}}>
						</div>
						<p class="help">{{ctx.Locale.Tr "SMTPS is always used on port 465. Set this to force SMTPS on other ports. (Otherwise STARTTLS will be used on other ports if it is supported by the host.)"}}</p>
					</div>
					<div class="has-tls inline field {{if not .HasTLS}}tw-hidden{{end}}">
						<div class="ui checkbox">
							<label><strong>{{ctx.Locale.Tr "Skip TLS Verify"}}</strong></label>
							<input name="skip_verify" type="checkbox" {{if $cfg.SkipVerify}}checked{{end}}>
						</div>
					</div>
					<div class="field">
						<label for="helo_hostname">{{ctx.Locale.Tr "HELO Hostname"}}</label>
						<input id="helo_hostname" name="helo_hostname" value="{{$cfg.HeloHostname}}">
						<p class="help">{{ctx.Locale.Tr "Hostname sent with HELO. Leave blank to send current hostname."}}</p>
					</div>
					<div class="inline field">
						<div class="ui checkbox">
							<label for="disable_helo"><strong>{{ctx.Locale.Tr "Disable HELO"}}</strong></label>
							<input id="disable_helo" name="disable_helo" type="checkbox" {{if $cfg.DisableHelo}}checked{{end}}>
						</div>
					</div>
					<div class="field">
						<label for="allowed_domains">{{ctx.Locale.Tr "Allowed Domains"}}</label>
						<input id="allowed_domains" name="allowed_domains" value="{{$cfg.AllowedDomains}}">
						<p class="help">{{ctx.Locale.Tr "Leave empty to allow all domains. Separate multiple domains with a comma (',')."}}</p>
					</div>
				{{end}}

				<!-- PAM -->
				{{if .Source.IsPAM}}
					{{$cfg:=.Source.Cfg}}
					<div class="required field">
						<label for="pam_service_name">{{ctx.Locale.Tr "PAM Service Name"}}</label>
						<input id="pam_service_name" name="pam_service_name" value="{{$cfg.ServiceName}}" required>
					</div>
					<div class="field">
						<label for="pam_email_domain">{{ctx.Locale.Tr "PAM Email Domain (optional)"}}</label>
						<input id="pam_email_domain" name="pam_email_domain" value="{{$cfg.EmailDomain}}">
					</div>
				{{end}}

				<!-- OAuth2 -->
				{{if .Source.IsOAuth2}}
					{{$cfg:=.Source.Cfg}}
					<div class="inline required field">
						<label>{{ctx.Locale.Tr "OAuth2 Provider"}}</label>
						<div class="ui selection type dropdown">
							<input type="hidden" id="oauth2_provider" name="oauth2_provider" value="{{$cfg.Provider}}" required>
							<div class="text">{{.CurrentOAuth2Provider.DisplayName}}</div>
							{{svg "octicon-triangle-down" 14 "dropdown icon"}}
							<div class="menu">
								{{range .OAuth2Providers}}
									<div class="item" data-value="{{.Name}}">{{.DisplayName}}</div>
								{{end}}
							</div>
						</div>
					</div>
					<div class="required field">
						<label for="oauth2_key">{{ctx.Locale.Tr "Client ID (Key)"}}</label>
						<input id="oauth2_key" name="oauth2_key" value="{{$cfg.ClientID}}" required>
					</div>
					<div class="required field">
						<label for="oauth2_secret">{{ctx.Locale.Tr "Client Secret"}}</label>
						<input id="oauth2_secret" name="oauth2_secret" value="{{$cfg.ClientSecret}}" required>
					</div>
					<div class="optional field">
						<label for="oauth2_icon_url">{{ctx.Locale.Tr "Icon URL"}}</label>
						<input id="oauth2_icon_url" name="oauth2_icon_url" value="{{$cfg.IconURL}}">
					</div>
					<div class="open_id_connect_auto_discovery_url required field">
						<label for="open_id_connect_auto_discovery_url">{{ctx.Locale.Tr "OpenID Connect Auto Discovery URL"}}</label>
						<input id="open_id_connect_auto_discovery_url" name="open_id_connect_auto_discovery_url" value="{{$cfg.OpenIDConnectAutoDiscoveryURL}}">
					</div>
					<div class="oauth2_use_custom_url inline field">
						<div class="ui checkbox">
							<label><strong>{{ctx.Locale.Tr "Use Custom URLs Instead of Default URLs"}}</strong></label>
							<input id="oauth2_use_custom_url" name="oauth2_use_custom_url" type="checkbox" {{if $cfg.CustomURLMapping}}checked{{end}}>
						</div>
					</div>
					<div class="oauth2_use_custom_url_field oauth2_auth_url required field">
						<label for="oauth2_auth_url">{{ctx.Locale.Tr "Authorize URL"}}</label>
						<input id="oauth2_auth_url" name="oauth2_auth_url" value="{{if $cfg.CustomURLMapping}}{{$cfg.CustomURLMapping.AuthURL}}{{end}}">
					</div>
					<div class="oauth2_use_custom_url_field oauth2_token_url required field">
						<label for="oauth2_token_url">{{ctx.Locale.Tr "Token URL"}}</label>
						<input id="oauth2_token_url" name="oauth2_token_url" value="{{if $cfg.CustomURLMapping}}{{$cfg.CustomURLMapping.TokenURL}}{{end}}">
					</div>
					<div class="oauth2_use_custom_url_field oauth2_profile_url required field">
						<label for="oauth2_profile_url">{{ctx.Locale.Tr "Profile URL"}}</label>
						<input id="oauth2_profile_url" name="oauth2_profile_url" value="{{if $cfg.CustomURLMapping}}{{$cfg.CustomURLMapping.ProfileURL}}{{end}}">
					</div>
					<div class="oauth2_use_custom_url_field oauth2_email_url required field">
						<label for="oauth2_email_url">{{ctx.Locale.Tr "Email URL"}}</label>
						<input id="oauth2_email_url" name="oauth2_email_url" value="{{if $cfg.CustomURLMapping}}{{$cfg.CustomURLMapping.EmailURL}}{{end}}">
					</div>
					<div class="oauth2_use_custom_url_field oauth2_tenant required field">
						<label for="oauth2_tenant">{{ctx.Locale.Tr "Tenant"}}</label>
						<input id="oauth2_tenant" name="oauth2_tenant" value="{{if $cfg.CustomURLMapping}}{{$cfg.CustomURLMapping.Tenant}}{{end}}">
					</div>

					{{range .OAuth2Providers}}
						<input id="{{.Name}}_SupportSSHPublicKey" value="{{.SupportSSHPublicKey}}" type="hidden">
						{{if .CustomURLSettings}}
						<input id="{{.Name}}_customURLSettings" type="hidden" data-required="{{.CustomURLSettings.Required}}" data-available="true">
						<input id="{{.Name}}_token_url" value="{{.CustomURLSettings.TokenURL.Value}}" data-available="{{.CustomURLSettings.TokenURL.Available}}" data-required="{{.CustomURLSettings.TokenURL.Required}}" type="hidden">
						<input id="{{.Name}}_auth_url" value="{{.CustomURLSettings.AuthURL.Value}}" data-available="{{.CustomURLSettings.AuthURL.Available}}" data-required="{{.CustomURLSettings.AuthURL.Required}}" type="hidden">
						<input id="{{.Name}}_profile_url" value="{{.CustomURLSettings.ProfileURL.Value}}" data-available="{{.CustomURLSettings.ProfileURL.Available}}" data-required="{{.CustomURLSettings.ProfileURL.Required}}" type="hidden">
						<input id="{{.Name}}_email_url" value="{{.CustomURLSettings.EmailURL.Value}}" data-available="{{.CustomURLSettings.EmailURL.Available}}" data-required="{{.CustomURLSettings.EmailURL.Required}}" type="hidden">
						<input id="{{.Name}}_tenant" value="{{.CustomURLSettings.Tenant.Value}}" data-available="{{.CustomURLSettings.Tenant.Available}}" data-required="{{.CustomURLSettings.Tenant.Required}}" type="hidden">
						{{end}}
				{{end}}

					<div class="field">
						<label for="oauth2_scopes">{{ctx.Locale.Tr "Additional Scopes"}}</label>
						<input id="oauth2_scopes" name="oauth2_scopes" value="{{if $cfg.Scopes}}{{StringUtils.Join $cfg.Scopes ","}}{{end}}">
					</div>
					<div class="field">
						<label>{{ctx.Locale.Tr "Full Name Claim Name. (Optional — if set, the user's full name will always be synchronized with this claim)"}}</label>
						<input name="oauth2_full_name_claim_name" value="{{$cfg.FullNameClaimName}}" placeholder="name">
					</div>
					<div class="field oauth2_ssh_public_key_claim_name">
						<label>{{ctx.Locale.Tr "SSH Public Key Claim Name"}}</label>
						<input name="oauth2_ssh_public_key_claim_name" value="{{$cfg.SSHPublicKeyClaimName}}" placeholder="sshpubkey">
					</div>
					<div class="field">
						<label for="oauth2_required_claim_name">{{ctx.Locale.Tr "Required Claim Name"}}</label>
						<input id="oauth2_required_claim_name" name="oauth2_required_claim_name" value="{{$cfg.RequiredClaimName}}">
						<p class="help">{{ctx.Locale.Tr "Set this name to restrict login from this source to users with a claim with this name"}}</p>
					</div>
					<div class="field">
						<label for="oauth2_required_claim_value">{{ctx.Locale.Tr "Required Claim Value"}}</label>
						<input id="oauth2_required_claim_value" name="oauth2_required_claim_value" value="{{$cfg.RequiredClaimValue}}">
						<p class="help">{{ctx.Locale.Tr "Set this value to restrict login from this source to users with a claim with this name and value"}}</p>
					</div>
					<div class="field">
						<label for="oauth2_group_claim_name">{{ctx.Locale.Tr "Claim name providing group names for this source. (Optional)"}}</label>
						<input id="oauth2_group_claim_name" name="oauth2_group_claim_name" value="{{$cfg.GroupClaimName}}">
					</div>
					<div class="field">
						<label for="oauth2_admin_group">{{ctx.Locale.Tr "Group Claim value for administrator users. (Optional — requires claim name above)"}}</label>
						<input id="oauth2_admin_group" name="oauth2_admin_group" value="{{$cfg.AdminGroup}}">
					</div>
					<div class="field">
						<label for="oauth2_restricted_group">{{ctx.Locale.Tr "Group Claim value for restricted users. (Optional — requires claim name above)"}}</label>
						<input id="oauth2_restricted_group" name="oauth2_restricted_group" value="{{$cfg.RestrictedGroup}}">
					</div>
					<div class="field">
						<label>{{ctx.Locale.Tr "Map claimed groups to Organization teams. (Optional — requires claim name above)"}}</label>
						<textarea name="oauth2_group_team_map" rows="5" placeholder='{"Developer": {"MyGiteaOrganization": ["MyGiteaTeam1", "MyGiteaTeam2"]}}'>{{$cfg.GroupTeamMap}}</textarea>
					</div>
					<div class="ui checkbox">
						<label>{{ctx.Locale.Tr "Remove users from synchronized teams if user does not belong to corresponding group."}}</label>
						<input name="oauth2_group_team_map_removal" type="checkbox" {{if $cfg.GroupTeamMapRemoval}}checked{{end}}>
					</div>
				{{end}}

				<!-- SSPI -->
				{{if .Source.IsSSPI}}
					{{$cfg:=.Source.Cfg}}
					<div class="field">
						<div class="ui checkbox">
							<label for="sspi_auto_create_users"><strong>{{ctx.Locale.Tr "Automatically create users"}}</strong></label>
							<input id="sspi_auto_create_users" name="sspi_auto_create_users" class="sspi-auto-create-users" type="checkbox" {{if $cfg.AutoCreateUsers}}checked{{end}}>
							<p class="help">{{ctx.Locale.Tr "Allow SSPI auth method to automatically create new accounts for users that log in for the first time"}}</p>
						</div>
					</div>
					<div class="field">
						<div class="ui checkbox">
							<label for="sspi_auto_activate_users"><strong>{{ctx.Locale.Tr "Automatically activate users"}}</strong></label>
							<input id="sspi_auto_activate_users" name="sspi_auto_activate_users" class="sspi-auto-activate-users" type="checkbox" {{if $cfg.AutoActivateUsers}}checked{{end}}>
							<p class="help">{{ctx.Locale.Tr "Allow SSPI auth method to automatically activate new users"}}</p>
						</div>
					</div>
					<div class="field">
						<div class="ui checkbox">
							<label for="sspi_strip_domain_names"><strong>{{ctx.Locale.Tr "Remove domain names from usernames"}}</strong></label>
							<input id="sspi_strip_domain_names" name="sspi_strip_domain_names" class="sspi-strip-domain-names" type="checkbox" {{if $cfg.StripDomainNames}}checked{{end}}>
							<p class="help">{{ctx.Locale.Tr "If checked, domain names will be removed from logon names (e.g. \"DOMAIN\\user\" and \"user@example.org\" both will become just \"user\")."}}</p>
						</div>
					</div>
					<div class="required field">
						<label for="sspi_separator_replacement">{{ctx.Locale.Tr "Separator to use instead of \\, / and @"}}</label>
						<input id="sspi_separator_replacement" name="sspi_separator_replacement" value="{{$cfg.SeparatorReplacement}}" required>
						<p class="help">{{ctx.Locale.Tr "The character to use to replace the separators of down-level logon names (e.g. the \\ in \"DOMAIN\\user\") and user principal names (e.g. the @ in \"user@example.org\")."}}</p>
					</div>
					<div class="field">
						<label for="sspi_default_language">{{ctx.Locale.Tr "Default user language"}}</label>
						<div class="ui language selection dropdown" id="sspi_default_language">
							<input name="sspi_default_language" type="hidden" value="{{$cfg.DefaultLanguage}}">
							{{svg "octicon-triangle-down" 14 "dropdown icon"}}
							<div class="text">{{range .AllLangs}}{{if eq $cfg.DefaultLanguage .Lang}}{{.Name}}{{end}}{{end}}</div>
							<div class="menu">
								<div class="item{{if not $.SSPIDefaultLanguage}} active selected{{end}}" data-value="">-</div>
							{{range .AllLangs}}
								<div class="item{{if eq $cfg.DefaultLanguage .Lang}} active selected{{end}}" data-value="{{.Lang}}">{{.Name}}</div>
							{{end}}
							</div>
						</div>
						<p class="help">{{ctx.Locale.Tr "Default language for users automatically created by SSPI auth method. Leave empty if you prefer the language to be automatically detected."}}</p>
					</div>
				{{end}}
				{{if (or .Source.IsLDAP .Source.IsOAuth2)}}
					<div class="inline field">
						<div class="ui checkbox">
							<label><strong>{{ctx.Locale.Tr "Enable User Synchronization"}}</strong></label>
							<input name="is_sync_enabled" type="checkbox" {{if .Source.IsSyncEnabled}}checked{{end}}>
						</div>
					</div>
				{{end}}
				<div class="inline field">
					<div class="ui checkbox">
						<label><strong>{{ctx.Locale.Tr "This Authentication Source is Activated"}}</strong></label>
						<input name="is_active" type="checkbox" {{if .Source.IsActive}}checked{{end}}>
					</div>
				</div>

				<div class="field">
					<button class="ui primary button">{{ctx.Locale.Tr "Update Authentication Source"}}</button>
					<button class="ui red button link-action" data-url="{{$.Link}}/delete?id={{.Source.ID}}"
						data-modal-confirm-header="{{ctx.Locale.Tr "Delete Authentication Source"}}"
						data-modal-confirm-content="{{ctx.Locale.Tr "Deleting an authentication source prevents users from using it to sign in. Continue?"}}"
					>{{ctx.Locale.Tr "Delete Authentication Source"}}</button>
				</div>
			</form>
		</div>

		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "Tips"}}
		</h4>
		<div class="ui attached segment">
			<h5>GMail Settings:</h5>
			<p>Host: smtp.gmail.com, Port: 587, Enable TLS Encryption: true</p>

			<h5 class="oauth2">{{ctx.Locale.Tr "OAuth2 Authentication"}}:</h5>
			<p class="oauth2">{{ctx.Locale.Tr "When registering a new OAuth2 authentication, the callback/redirect URL should be:"}} <b id="oauth2-callback-url"></b></p>
		</div>
	</div>
{{template "admin/layout_footer" .}}
