<div class="sspi field {{if not (eq .type 7)}}tw-hidden{{end}}">
	<div class="field">
		<div class="ui checkbox">
			<label for="sspi_auto_create_users"><strong>{{ctx.Locale.Tr "Automatically create users"}}</strong></label>
			<input id="sspi_auto_create_users" name="sspi_auto_create_users" class="sspi-auto-create-users" type="checkbox" {{if .SSPIAutoCreateUsers}}checked{{end}}>
			<p class="help">{{ctx.Locale.Tr "Allow SSPI auth method to automatically create new accounts for users that log in for the first time"}}</p>
		</div>
	</div>
	<div class="field">
		<div class="ui checkbox">
			<label for="sspi_auto_activate_users"><strong>{{ctx.Locale.Tr "Automatically activate users"}}</strong></label>
			<input id="sspi_auto_activate_users" name="sspi_auto_activate_users" class="sspi-auto-activate-users" type="checkbox" {{if .SSPIAutoActivateUsers}}checked{{end}}>
			<p class="help">{{ctx.Locale.Tr "Allow SSPI auth method to automatically activate new users"}}</p>
		</div>
	</div>
	<div class="field">
		<div class="ui checkbox">
			<label for="sspi_strip_domain_names"><strong>{{ctx.Locale.Tr "Remove domain names from usernames"}}</strong></label>
			<input id="sspi_strip_domain_names" name="sspi_strip_domain_names" class="sspi-strip-domain-names" type="checkbox" {{if .SSPIStripDomainNames}}checked{{end}}>
			<p class="help">{{ctx.Locale.Tr "If checked, domain names will be removed from logon names (e.g. \"DOMAIN\\user\" and \"user@example.org\" both will become just \"user\")."}}</p>
		</div>
	</div>
	<div class="required field">
		<label for="sspi_separator_replacement">{{ctx.Locale.Tr "Separator to use instead of \\, / and @"}}</label>
		<input id="sspi_separator_replacement" name="sspi_separator_replacement" value="{{.SSPISeparatorReplacement}}">
		<p class="help">{{ctx.Locale.Tr "The character to use to replace the separators of down-level logon names (e.g. the \\ in \"DOMAIN\\user\") and user principal names (e.g. the @ in \"user@example.org\")."}}</p>
	</div>
	<div class="field">
		<label for="sspi_default_language">{{ctx.Locale.Tr "Default user language"}}</label>
		<div class="ui language selection dropdown" id="sspi_default_language">
			<input name="sspi_default_language" type="hidden" value="{{.SSPIDefaultLanguage}}">
			{{svg "octicon-triangle-down" 14 "dropdown icon"}}
			<div class="text">{{range .AllLangs}}{{if eq $.SSPIDefaultLanguage .Lang}}{{.Name}}{{end}}{{end}}</div>
			<div class="menu">
				<div class="item{{if not $.SSPIDefaultLanguage}} active selected{{end}}" data-value="">-</div>
			{{range .AllLangs}}
				<div class="item{{if eq $.SSPIDefaultLanguage .Lang}} active selected{{end}}" data-value="{{.Lang}}">{{.Name}}</div>
			{{end}}
			</div>
		</div>
		<p class="help">{{ctx.Locale.Tr "Default language for users automatically created by SSPI auth method. Leave empty if you prefer the language to be automatically detected."}}</p>
	</div>
</div>
