{{if .IsArchived}}
	<span class="ui label basic small" data-tooltip-content="{{ctx.Locale.Tr "Archived labels are excluded by default from the suggestions when searching by label."}}">
		{{ctx.Locale.Tr "Archived"}}
	</span>
{{end}}
