<h4 class="ui top attached header">
	{{ctx.Locale.Tr "Block a user"}}
</h4>
<div class="ui attached segment">
	<p>{{ctx.Locale.Tr "Blocking a user prevents the following actions on your account and your repositories:"}}</p>
	<ul>
		<li>{{ctx.Locale.Tr "following your account"}}</li>
		<li>{{ctx.Locale.Tr "send you notifications by @mentioning your username"}}</li>
		<li>{{ctx.Locale.Tr "inviting you as a collaborator to their repositories"}}</li>
		<li>{{ctx.Locale.Tr "starring, forking or watching on repositories"}}</li>
		<li>{{ctx.Locale.Tr "opening and commenting on issues or pull requests"}}</li>
		<li>{{ctx.Locale.Tr "reacting to your comments in issues or pull requests"}}</li>
	</ul>
</div>
<div class="ui segment">
	<form class="ui form ignore-dirty" action="{{$.Link}}" method="post">
		{{.CsrfTokenHtml}}
		<input type="hidden" name="action" value="block" />
		<div id="search-user-box" class="field ui fluid search input">
			<input class="prompt tw-mr-2" name="blockee" placeholder="{{ctx.Locale.Tr "Search users…"}}" autocomplete="off" required>
			<button class="ui red button">{{ctx.Locale.Tr "Block"}}</button>
		</div>
		<div class="field">
			<label>{{ctx.Locale.Tr "Optional note:"}}</label>
			<input name="note">
			<p class="help">{{ctx.Locale.Tr "The note is not visible to the blocked user."}}</p>
		</div>
	</form>
</div>
<h4 class="ui top attached header">
	{{ctx.Locale.Tr "Blocked users"}}
</h4>
<div class="ui attached segment">
	<div class="flex-list">
		{{range .UserBlocks}}
			<div class="flex-item">
				<div class="flex-item-leading">
					{{ctx.AvatarUtils.Avatar .Blockee}}
				</div>
				<div class="flex-item-main">
					<div class="flex-item-title">
						<a class="item" href="{{.Blockee.HomeLink}}">{{.Blockee.GetDisplayName}}</a>
					</div>
					{{if .Note}}
					<div class="flex-item-body">
						<i>{{ctx.Locale.Tr "Note"}}:</i> {{.Note}}
					</div>
					{{end}}
				</div>
				<div class="flex-item-trailing">
					<button class="ui compact mini button show-modal" data-modal="#block-user-note-modal" data-modal-modal-blockee="{{.Blockee.Name}}" data-modal-modal-note="{{.Note}}">{{ctx.Locale.Tr "Edit note"}}</button>
					<form action="{{$.Link}}" method="post">
						{{$.CsrfTokenHtml}}
						<input type="hidden" name="action" value="unblock" />
						<input type="hidden" name="blockee" value="{{.Blockee.Name}}" />
						<button class="ui compact mini button">{{ctx.Locale.Tr "Unblock"}}</button>
					</form>
				</div>
			</div>
		{{else}}
			<div class="item">{{ctx.Locale.Tr "You have not blocked any users."}}</div>
		{{end}}
	</div>
</div>
<div class="ui small modal" id="block-user-note-modal">
	<div class="header">{{ctx.Locale.Tr "Edit note"}}</div>
	<div class="content">
		<form class="ui form" action="{{$.Link}}" method="post">
			{{.CsrfTokenHtml}}
			<input type="hidden" name="action" value="note" />
			<input type="hidden" name="blockee" class="modal-blockee" />
			<div class="field">
				<label>{{ctx.Locale.Tr "Optional note:"}}</label>
				<input name="note" class="modal-note" />
				<p class="help">{{ctx.Locale.Tr "The note is not visible to the blocked user."}}</p>
			</div>
			<div class="actions">
				<button class="ui cancel button">{{ctx.Locale.Tr "Cancel"}}</button>
				<button class="ui primary button">{{ctx.Locale.Tr "Save"}}</button>
			</div>
		</form>
	</div>
</div>
