<div class="ui small secondary filter menu">
	<form id="repo-search-form" class="ui form ignore-dirty tw-flex-1 tw-flex tw-items-center tw-gap-x-2">
		{{if .Language}}<input type="hidden" name="language" value="{{.Language}}">{{end}}
		{{if .PageIsExploreRepositories}}<input type="hidden" name="only_show_relevant" value="{{.OnlyShowRelevant}}">{{end}}
		{{if .TabName}}<input type="hidden" name="tab" value="{{.TabName}}">{{end}}
		{{if .TopicOnly}}<input type="hidden" name="topic" value="{{.TopicOnly}}">{{end}}
		<div class="ui small fluid action input tw-flex-1">
			{{template "shared/search/input" dict "Value" .Keyword "Placeholder" (ctx.Locale.Tr "Search repos…")}}
			{{template "shared/search/button"}}
		</div>
		<!-- Filter -->
		<div class="item ui small dropdown jump">
			<span class="text">{{ctx.Locale.Tr "Filter"}}</span>
			{{svg "octicon-triangle-down" 14 "dropdown icon"}}
			<div class="menu flex-items-menu">
				<label class="item"><input type="radio" name="clear-filter"> {{ctx.Locale.Tr "Clear Filter"}}</label>
				<div class="divider"></div>
				<label class="item"><input type="radio" name="archived" {{if .IsArchived.Value}}checked{{end}} value="1"> {{ctx.Locale.Tr "Archived"}}</label>
				<label class="item"><input type="radio" name="archived" {{if (not (.IsArchived.ValueOrDefault true))}}checked{{end}} value="0"> {{ctx.Locale.Tr "Not Archived"}}</label>
				<div class="divider"></div>
				<label class="item"><input type="radio" name="fork" {{if .IsFork.Value}}checked{{end}} value="1"> {{ctx.Locale.Tr "Forked"}}</label>
				<label class="item"><input type="radio" name="fork" {{if (not (.IsFork.ValueOrDefault true))}}checked{{end}} value="0"> {{ctx.Locale.Tr "Not Forked"}}</label>
				<div class="divider"></div>
				<label class="item"><input type="radio" name="mirror" {{if .IsMirror.Value}}checked{{end}} value="1"> {{ctx.Locale.Tr "Mirrored"}}</label>
				<label class="item"><input type="radio" name="mirror" {{if (not (.IsMirror.ValueOrDefault true))}}checked{{end}} value="0"> {{ctx.Locale.Tr "Not Mirrored"}}</label>
				<div class="divider"></div>
				<label class="item"><input type="radio" name="template" {{if .IsTemplate.Value}}checked{{end}} value="1"> {{ctx.Locale.Tr "Template"}}</label>
				<label class="item"><input type="radio" name="template" {{if (not (.IsTemplate.ValueOrDefault true))}}checked{{end}} value="0"> {{ctx.Locale.Tr "Not Template"}}</label>
				<div class="divider"></div>
				<label class="item"><input type="radio" name="private" {{if .IsPrivate.Value}}checked{{end}} value="1"> {{ctx.Locale.Tr "Private"}}</label>
				<label class="item"><input type="radio" name="private" {{if (not (.IsPrivate.ValueOrDefault true))}}checked{{end}} value="0"> {{ctx.Locale.Tr "Public"}}</label>
			</div>
		</div>
		<!-- Sort -->
		<div class="item ui small dropdown jump">
			<span class="text">{{ctx.Locale.Tr "Sort"}}</span>
			{{svg "octicon-triangle-down" 14 "dropdown icon"}}
			<div class="menu">
				<label class="{{if eq .SortType "newest"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "newest"}}checked{{end}} value="newest"> {{ctx.Locale.Tr "Newest"}}</label>
				<label class="{{if eq .SortType "oldest"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "oldest"}}checked{{end}} value="oldest"> {{ctx.Locale.Tr "Oldest"}}</label>
				<label class="{{if eq .SortType "alphabetically"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "alphabetically"}}checked{{end}} value="alphabetically"> {{ctx.Locale.Tr "Alphabetically"}}</label>
				<label class="{{if eq .SortType "reversealphabetically"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "reversealphabetically"}}checked{{end}} value="reversealphabetically"> {{ctx.Locale.Tr "Reverse alphabetically"}}</label>
				<label class="{{if eq .SortType "recentupdate"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "recentupdate"}}checked{{end}} value="recentupdate"> {{ctx.Locale.Tr "Most recently updated"}}</label>
				<label class="{{if eq .SortType "leastupdate"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "leastupdate"}}checked{{end}} value="leastupdate"> {{ctx.Locale.Tr "Least recently updated"}}</label>
				{{if not .DisableStars}}
					<label class="{{if eq .SortType "moststars"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "moststars"}}checked{{end}} value="moststars"> {{ctx.Locale.Tr "Most stars"}}</label>
					<label class="{{if eq .SortType "feweststars"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "feweststars"}}checked{{end}} value="feweststars"> {{ctx.Locale.Tr "Fewest stars"}}</label>
				{{end}}
				<label class="{{if eq .SortType "mostforks"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "mostforks"}}checked{{end}} value="mostforks"> {{ctx.Locale.Tr "Most forks"}}</label>
				<label class="{{if eq .SortType "fewestforks"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "fewestforks"}}checked{{end}} value="fewestforks"> {{ctx.Locale.Tr "Fewest forks"}}</label>
				<label class="{{if eq .SortType "size"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "size"}}checked{{end}} value="size"> {{ctx.Locale.Tr "Smallest size"}}</label>
				<label class="{{if eq .SortType "reversesize"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "reversesize"}}checked{{end}} value="reversesize"> {{ctx.Locale.Tr "Largest size"}}</label>
			</div>
		</div>
	</form>
</div>
{{if and .PageIsExploreRepositories .OnlyShowRelevant}}
	<div class="ui message">
		<span data-tooltip-content="{{ctx.Locale.Tr "Repositories that are forks or that have no topic, no icon, and no description are hidden."}}">
			{{ctx.Locale.Tr "Only relevant repositories are being shown, <a href=\"%s\">show unfiltered results</a>." (printf "?only_show_relevant=0&sort=%s&q=%s&language=%s" $.SortType (QueryEscape $.Keyword) (QueryEscape $.Language))}}
		</span>
	</div>
{{end}}
<div class="divider"></div>
