{{template "org/settings/layout_head" (dict "ctxData" . "pageClass" "organization settings new webhook")}}
	<div class="org-setting-content">
		{{$CustomHeaderTitle := ctx.Locale.Tr "Update Webhook"}}
		{{if .PageIsSettingsHooksNew}}{{$CustomHeaderTitle = ctx.Locale.Tr "Add Webhook"}}{{end}}
		{{template "webhook/new" (dict "ctxData" . "CustomHeaderTitle" $CustomHeaderTitle)}}
	</div>
{{template "org/settings/layout_footer" .}}
