{{template "org/settings/layout_head" (dict "ctxData" . "pageClass" "organization settings labels")}}
<div class="org-setting-content">
	<div class="tw-flex tw-items-center">
		<div class="tw-flex-1">
			{{ctx.Locale.Tr "Add labels which can be used on issues for <strong>all repositories</strong> under this organization."}}
		</div>
		<button class="ui small primary new-label button">{{ctx.Locale.Tr "New Label"}}</button>
	</div>
	<div class="divider"></div>
	{{template "repo/issue/labels/label_list" .}}
	{{template "repo/issue/labels/label_edit_modal" .}}
</div>
{{template "org/settings/layout_footer" .}}
