{{template "org/settings/layout_head" (dict "ctxData" . "pageClass" "organization settings options")}}

<div class="ui segments org-setting-content">
	<h4 class="ui top attached header">
		{{ctx.Locale.Tr "Organization"}}
	</h4>
	<div class="ui attached segment">
		<form class="ui form" action="{{.Link}}" method="post">
			{{.CsrfTokenHtml}}
			<div class="field {{if .Err_FullName}}error{{end}}">
				<label for="full_name">{{ctx.Locale.Tr "Organization Full Name"}}</label>
				<input id="full_name" name="full_name" value="{{.Org.FullName}}" maxlength="100">
			</div>
			<div class="field {{if .Err_Email}}error{{end}}">
				<label for="email">{{ctx.Locale.Tr "Contact Email Address"}}</label>
				<input id="email" name="email" type="email" value="{{.Org.Email}}" maxlength="255">
			</div>
			<div class="field {{if .Err_Description}}error{{end}}">
				{{/* it is rendered as markdown, but the length is limited, so at the moment we do not use the markdown editor here */}}
				<label for="description">{{ctx.Locale.Tr "Description"}}</label>
				<textarea id="description" name="description" rows="2" maxlength="255">{{.Org.Description}}</textarea>
			</div>
			<div class="field {{if .Err_Website}}error{{end}}">
				<label for="website">{{ctx.Locale.Tr "Website"}}</label>
				<input id="website" name="website" type="url" value="{{.Org.Website}}" maxlength="255">
			</div>
			<div class="field">
				<label for="location">{{ctx.Locale.Tr "Location"}}</label>
				<input id="location" name="location"  value="{{.Org.Location}}" maxlength="50">
			</div>

			<div class="field" id="permission_box">
				<label>{{ctx.Locale.Tr "Permissions"}}</label>
				<div class="field">
					<div class="ui checkbox">
						<input type="checkbox" name="repo_admin_change_team_access" {{if .RepoAdminChangeTeamAccess}}checked{{end}}>
						<label>{{ctx.Locale.Tr "Repository admin can add and remove access for teams"}}</label>
					</div>
				</div>
			</div>

			{{if .SignedUser.IsAdmin}}
			<div class="divider"></div>

			<div class="inline field {{if .Err_MaxRepoCreation}}error{{end}}">
				<label for="max_repo_creation">{{ctx.Locale.Tr "Maximum Number of Repositories"}}</label>
				<input id="max_repo_creation" name="max_repo_creation" type="number" min="-1" value="{{.Org.MaxRepoCreation}}">
				<p class="help">{{ctx.Locale.Tr "(Enter -1 to use the global default limit.)"}}</p>
			</div>
			{{end}}

			<div class="field">
				<button class="ui primary button">{{ctx.Locale.Tr "Update Settings"}}</button>
			</div>
		</form>

		<div class="divider"></div>

		<form class="ui form" action="{{.Link}}/avatar" method="post" enctype="multipart/form-data">
			{{.CsrfTokenHtml}}
			<div class="inline field">
				{{template "shared/avatar_upload_crop" dict "LabelText" (ctx.Locale.Tr "Choose new avatar")}}
			</div>
			<div class="field">
				<button class="ui primary button">{{ctx.Locale.Tr "Update Avatar"}}</button>
				<button class="ui red button link-action" data-url="{{.Link}}/avatar/delete">{{ctx.Locale.Tr "Delete Current Avatar"}}</button>
			</div>
		</form>
	</div>
</div>

{{template "org/settings/options_dangerzone" .}}

{{template "org/settings/layout_footer" .}}
