<h4 class="ui top attached error header">
	{{ctx.Locale.Tr "Danger Zone"}}
</h4>
<div class="ui attached error danger segment">
	<div class="flex-list">
		<div class="flex-item tw-items-center">
			<div class="flex-item-main">
				<div class="flex-item-title">{{ctx.Locale.Tr "Visibility"}}</div>
				<div class="flex-item-body">{{ctx.Locale.Tr "Change who can view the organization and its repositories."}}</div>
			</div>
			<div class="flex-item-trailing">
				<button class="ui basic red show-modal button" data-modal="#change-visibility-org-modal">{{ctx.Locale.Tr "Change Visibility"}}</button>
			</div>
		</div>

		<div class="flex-item tw-items-center">
			<div class="flex-item-main">
				<div class="flex-item-title">{{ctx.Locale.Tr "Rename Organization"}}</div>
				<div class="flex-item-body">{{ctx.Locale.Tr "Changing the organization name will also change your organization's URL and free the old name."}}</div>
			</div>
			<div class="flex-item-trailing">
				<button class="ui basic red show-modal button" data-modal="#rename-org-modal">{{ctx.Locale.Tr "Rename Organization"}}</button>
			</div>
		</div>

		<div class="flex-item">
			<div class="flex-item-main">
				<div class="flex-item-title">{{ctx.Locale.Tr "Delete This Organization"}}</div>
				<div class="flex-item-body">{{ctx.Locale.Tr "The organization will be permanently removed. This <strong>CANNOT</strong> be undone!"}}</div>
			</div>
			<div class="flex-item-trailing">
				<button class="ui basic red show-modal button" data-modal="#delete-org-modal">{{ctx.Locale.Tr "Delete This Organization"}}</button>
			</div>
		</div>
	</div>
</div>

<div class="ui small modal" id="change-visibility-org-modal">
	<div class="header">
		{{ctx.Locale.Tr "Change Visibility"}}
	</div>
	<div class="content">
		<div class="ui warning message">
			<ul>
				<li>{{ctx.Locale.Tr "If the organization is converted to private, the repository stars will be removed and cannot be restored."}}</li>
				<li>{{ctx.Locale.Tr "Non-members will lose access to the organization’s repositories if visibility is changed to private."}}</li>
			</ul>
		</div>
		<form class="ui form form-fetch-action" action="{{.Link}}/visibility" method="post">
			{{.CsrfTokenHtml}}
			<input type="hidden" name="current_visibility" value="{{.CurrentVisibility}}">
			<div class="tw-flex tw-flex-col tw-gap-3">
				<label>{{ctx.Locale.Tr "Visibility"}}</label>
				<div class="ui radio checkbox">
					<input name="visibility" type="radio" value="public" {{if .CurrentVisibility.IsPublic}}checked{{end}}>
					<label>{{ctx.Locale.Tr "Public"}}</label>
				</div>
				<div class="ui radio checkbox">
					<input name="visibility" type="radio" value="limited" {{if .CurrentVisibility.IsLimited}}checked{{end}}>
					<label>{{ctx.Locale.Tr "Limited (Visible to authenticated users only)"}}</label>
				</div>
				<div class="ui radio checkbox">
					<input name="visibility" type="radio" value="private" {{if .CurrentVisibility.IsPrivate}}checked{{end}}>
					<label>{{ctx.Locale.Tr "Private (Visible only to organization members)"}}</label>
				</div>
			</div>

			<div class="actions">
				<button class="ui cancel button">{{ctx.Locale.Tr "Cancel"}}</button>
				<button class="ui red button">{{ctx.Locale.Tr "Change Visibility"}}</button>
			</div>
		</form>
	</div>
</div>

<div class="ui small modal" id="rename-org-modal">
	<div class="header">
		{{ctx.Locale.Tr "Rename Organization"}}
	</div>
	<div class="content">
		<div class="ui warning message">
			<ul>
				<li>{{ctx.Locale.Tr "This operation <strong>CANNOT</strong> be undone."}}</li>
				<li>{{ctx.Locale.Tr "The old name will redirect until it is claimed."}}</li>
			</ul>
		</div>
		<form class="ui form form-fetch-action" action="{{.Link}}/rename" method="post">
			{{.CsrfTokenHtml}}
			<div class="field">
				<label>
					{{ctx.Locale.Tr "Enter the organization name as confirmation:"}}
					<span class="text red">{{.Org.Name}}</span>
				</label>
			</div>
			<div class="required field">
				<label for="org_name_to_rename">{{ctx.Locale.Tr "Organization Name"}}</label>
				<input id="org_name_to_rename" name="org_name" required>
			</div>

			<div class="required field">
				<label>{{ctx.Locale.Tr "New Organization Name"}}</label>
				<input name="new_org_name" required>
			</div>

			<div class="actions">
				<button class="ui cancel button">{{ctx.Locale.Tr "Cancel"}}</button>
				<button class="ui red button">{{ctx.Locale.Tr "Rename Organization"}}</button>
			</div>
		</form>
	</div>
</div>

<div class="ui small modal" id="delete-org-modal">
	<div class="header">
		{{ctx.Locale.Tr "Delete This Organization"}}
	</div>
	<div class="content">
		<div class="ui warning message">
			<ul>
				<li>{{ctx.Locale.Tr "This operation <strong>CANNOT</strong> be undone."}}</li>
				<li>{{ctx.Locale.Tr "This operation will permanently delete all the <strong>repositories</strong> of <strong>%s</strong>, including code, issues, comments, wiki data and collaborator settings." .Org.Name}}</li>
				<li>{{ctx.Locale.Tr "This operation will permanently delete all the <strong>packages</strong> of <strong>%s</strong>." .Org.Name}}</li>
				<li>{{ctx.Locale.Tr "This operation will permanently delete all the <strong>projects</strong> of <strong>%s</strong>." .Org.Name}}</li>
			</ul>
		</div>
		<form class="ui form form-fetch-action" action="{{.Link}}/delete" method="post">
			{{.CsrfTokenHtml}}
			<div class="field">
				<label>
					{{ctx.Locale.Tr "Enter the organization name as confirmation:"}}
					<span class="text red">{{.Org.Name}}</span>
				</label>
			</div>
			<div class="required field">
				<label>{{ctx.Locale.Tr "Organization Name"}}</label>
				<input name="org_name" required>
			</div>

			<div class="actions">
				<button class="ui cancel button">{{ctx.Locale.Tr "Cancel"}}</button>
				<button class="ui red button">{{ctx.Locale.Tr "Delete This Organization"}}</button>
			</div>
		</form>
	</div>
</div>
