{{template "repo/settings/layout_head" (dict "ctxData" . "pageClass" "repository settings edit githook")}}
	<div class="repo-setting-content">
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "Git Hooks"}}
		</h4>
		<div class="ui attached segment">
			<p>{{ctx.Locale.Tr "If the hook is inactive, sample content will be presented. Leaving content to an empty value will disable this hook."}}</p>
			<form class="ui form" action="{{.Link}}" method="post">
				{{.CsrfTokenHtml}}
				{{with .Hook}}
					<div class="inline field">
						<label>{{ctx.Locale.Tr "Hook Name"}}</label>
						<span class="hook-filename">{{.Name}}</span>
					</div>
					<div class="field">
						<label for="content">{{ctx.Locale.Tr "Hook Content"}}</label>
						<textarea id="content" name="content" class="tw-hidden">{{if .IsActive}}{{.Content}}{{else}}{{.Sample}}{{end}}</textarea>
						<div class="editor-loading is-loading"></div>
					</div>
					<div class="inline field">
						<button class="ui primary button">{{ctx.Locale.Tr "Update Hook"}}</button>
					</div>
				{{end}}
			</form>
		</div>
	</div>
{{template "repo/settings/layout_footer" .}}
