{{template "repo/settings/layout_head" (dict "ctxData" . "pageClass" "repository settings lfs")}}
	<div class="repo-setting-content">
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "Found %d blob pointer(s) — %d associated, %d unassociated (%d missing from store)" .NumPointers .NumAssociated .NumNotAssociated .NumNoExist}}
			{{if gt .NumAssociatable 0}}
				<div class="ui right">
					<form class="ui form" method="post" action="{{$.Link}}/associate">
						{{.CsrfTokenHtml}}
						{{range .Pointers}}
							{{if .Associatable}}
								<input type="hidden" name="oid" value="{{.Oid}} {{.Size}}">
							{{end}}
						{{end}}
						<button class="ui primary tiny button">{{ctx.Locale.Tr "Associate accessible %d OIDs" $.NumAssociatable}}</button>
					</form>
				</div>
			{{end}}
		</h4>
		<div class="ui attached segment">
			<table id="lfs-files-table" class="ui fixed single line table">
				<thead>
					<tr>
						<th class="three wide">{{ctx.Locale.Tr "Blob SHA"}}</th>
						<th class="four wide">{{ctx.Locale.Tr "OID"}}</th>
						<th class="two wide">{{ctx.Locale.Tr "In Repo"}}</th>
						<th class="two wide">{{ctx.Locale.Tr "Exists in store"}}</th>
						<th class="two wide" data-tooltip-content="{{ctx.Locale.Tr "Accessible to User"}}">{{ctx.Locale.Tr "Accessible to User"}}</th>
						<th class="three wide"></th>
					</tr>
				</thead>
				<tbody>
					{{range .Pointers}}
						<tr>
							<td>
								<a href="{{$.RepoLink}}/raw/blob/{{.SHA}}" rel="nofollow" target="_blank" title="{{.SHA}}" class="ui button tw-font-mono">
									{{ShortSha .SHA}}
								</a>
							</td>
							<td>
								<a {{if and .Exists .InRepo}}href="{{$.LFSFilesLink}}/show/{{.Oid}}" rel="nofollow" target="_blank"{{end}} title="{{.Oid}}" class="ui button tw-font-mono">
									{{ShortSha .Oid}}
								</a>
							</td>
							<td>{{svg (Iif .InRepo "octicon-check" "octicon-x")}}</td>
							<td>{{svg (Iif .Exists "octicon-check" "octicon-x")}}</td>
							<td>{{svg (Iif .Accessible "octicon-check" "octicon-x")}}</td>
							<td class="tw-text-right">
								<a class="ui primary button" href="{{$.LFSFilesLink}}/find?oid={{.Oid}}&size={{.Size}}&sha={{.SHA}}">{{ctx.Locale.Tr "Find commits"}}</a>
							</td>
						</tr>
					{{end}}
				</tbody>
			</table>
		</div>
	</div>
{{template "repo/settings/layout_footer" .}}
