{{template "repo/settings/layout_head" (dict "ctxData" . "pageClass" "repository settings")}}
<div class="repo-setting-content">
	<h4 class="ui top attached header">
		{{ctx.Locale.Tr "Public Access"}}
	</h4>
	<div class="ui attached segment">
		<p>
			{{ctx.Locale.Tr "Configure public visitor's access permissions to override the defaults of this repository."}}
		</p>
		{{$paNotSet := "not-set"}}
		{{$paAnonymousRead := "anonymous-read"}}
		{{$paEveryoneRead := "everyone-read"}}
		{{$paEveryoneWrite := "everyone-write"}}
		<form class="ui form" method="post">
			{{.CsrfTokenHtml}}
			<table class="ui table unstackable tw-my-2">
				<thead>
					<tr>
						<th>{{ctx.Locale.Tr "Unit"}}</th>
						<th class="tw-text-center">{{ctx.Locale.Tr "Not set"}}</th>
						<th class="tw-text-center">{{ctx.Locale.Tr "Anonymous Read"}}</th>
						<th class="tw-text-center">{{ctx.Locale.Tr "Everyone Read"}}</th>
						<th class="tw-text-center">{{ctx.Locale.Tr "Everyone Write"}}</th>
					</tr>
				</thead>
				<tbody>
				{{range $ua := .RepoUnitPublicAccesses}}
					<tr>
						<td>{{$ua.DisplayName}}</td>
						<td class="tw-text-center"><label><input type="radio" name="{{$ua.FormKey}}" value="{{$paNotSet}}" {{Iif (eq $paNotSet $ua.UnitPublicAccess) "checked"}}></label></td>
						<td class="tw-text-center"><label><input type="radio" name="{{$ua.FormKey}}" value="{{$paAnonymousRead}}" {{Iif (eq $paAnonymousRead $ua.UnitPublicAccess) "checked"}}></label></td>
						<td class="tw-text-center"><label><input type="radio" name="{{$ua.FormKey}}" value="{{$paEveryoneRead}}" {{Iif (eq $paEveryoneRead $ua.UnitPublicAccess) "checked"}}></label></td>
						<td class="tw-text-center">
							{{if SliceUtils.Contains $ua.PublicAccessTypes $paEveryoneWrite}}
								<label><input type="radio" name="{{$ua.FormKey}}" value="{{$paEveryoneWrite}}" {{Iif (eq $paEveryoneWrite $ua.UnitPublicAccess) "checked"}}></label>
							{{else}}
								-
							{{end}}
						</td>
					</tr>
				{{end}}
				</tbody>
			</table>
			<ul class="tw-my-3 tw-pl-5 tw-flex tw-flex-col tw-gap-3">
				<li>{{ctx.Locale.Tr "Not Set: no extra public access permission. The visitor's permission follows the repository's visibility and member permissions."}}</li>
				<li>{{ctx.Locale.Tr "Anonymous Read: users who are not logged in can access the unit with read permission."}}</li>
				<li>{{ctx.Locale.Tr "Everyone Read: all logged-in users can access the unit with read permission. Read permission of issue/pull-request units also means users can create new issues/pull requests."}}</li>
				<li>{{ctx.Locale.Tr "Everyone Write: all logged-in users have write permission to the unit. Only Wiki unit supports this permission."}}</li>
			</ul>
			<button class="ui primary button {{if .GlobalForcePrivate}}disabled{{end}}">{{ctx.Locale.Tr "Update Settings"}}</button>
		</form>
	</div>
</div>
{{template "repo/settings/layout_footer" .}}
