{{template "repo/settings/layout_head" (dict "ctxData" . "pageClass" "repository settings edit")}}
	<div class="repo-setting-content">
		{{if .Repository.IsArchived}}
			<div class="ui warning message tw-text-center">
				{{ctx.Locale.Tr "Tag settings are not available if the repo is archived."}}
			</div>
		{{else}}
			<h4 class="ui top attached header">
				{{ctx.Locale.Tr "Tag Protection"}}
			</h4>

			<div class="ui attached segment">
				<div class="ui grid">
					<div class="sixteen wide column">
						<div class="ui segment">
							<form class="ui form" action="{{.Link}}" method="post">
								{{.CsrfTokenHtml}}
								<div class="field">
									<label>{{ctx.Locale.Tr "Tag Pattern"}}</label>
									<div id="search-tag-box" class="ui search">
										<div class="ui input">
											<input class="prompt" name="name_pattern" autocomplete="off" value="{{.name_pattern}}" placeholder="v*" autofocus required>
										</div>
										<div class="help">{{ctx.Locale.Tr "You can use a single name or a glob pattern or regular expression to match multiple tags. Read more in the <a target=\"_blank\" rel=\"noopener\" href=\"%s\">protected tags guide</a>." "https://docs.gitea.com/usage/protected-tags"}}</div>
									</div>
								</div>
								<div class="whitelist field">
									<label>{{ctx.Locale.Tr "Allowed users"}}</label>
									<div class="ui multiple search selection dropdown">
										<input type="hidden" name="allowlist_users" value="{{.allowlist_users}}">
										<div class="default text">{{ctx.Locale.Tr "Search users…"}}</div>
										<div class="menu">
											{{range .Users}}
												<div class="item" data-value="{{.ID}}">
													{{ctx.AvatarUtils.Avatar . 28 "mini"}}{{template "repo/search_name" .}}
												</div>
											{{end}}
										</div>
									</div>
								</div>
								{{if .Owner.IsOrganization}}
									<div class="whitelist field">
										<label>{{ctx.Locale.Tr "Allowed teams"}}</label>
										<div class="ui multiple search selection dropdown">
											<input type="hidden" name="allowlist_teams" value="{{.allowlist_teams}}">
											<div class="default text">{{ctx.Locale.Tr "Search teams…"}}</div>
											<div class="menu">
												{{range .Teams}}
													<div class="item" data-value="{{.ID}}">
														{{svg "octicon-people"}}
														{{.Name}}
													</div>
												{{end}}
											</div>
										</div>
									</div>
								{{end}}
								<div class="field">
									{{if .PageIsEditProtectedTag}}
									<button class="ui primary button">
										{{ctx.Locale.Tr "Save"}}
									</button>
									<a class="ui primary button" href="{{$.RepoLink}}/settings/tags">
										{{ctx.Locale.Tr "Cancel"}}
									</a>
									{{else}}
									<button class="ui primary button">
										{{ctx.Locale.Tr "Protect Tag"}}
									</button>
									{{end}}
								</div>
							</form>
						</div>
					</div>

					<div class="sixteen wide column">
						<table class="ui single line table">
							<thead>
								<th>{{ctx.Locale.Tr "Tag Pattern"}}</th>
								<th>{{ctx.Locale.Tr "Allowed"}}</th>
								<th></th>
							</thead>
							<tbody>
								{{range .ProtectedTags}}
									<tr>
										<td><pre>{{.NamePattern}}</pre></td>
										<td>
											{{if or .AllowlistUserIDs (and $.Owner.IsOrganization .AllowlistTeamIDs)}}
												{{$userIDs := .AllowlistUserIDs}}
												{{range $.Users}}
													{{if SliceUtils.Contains $userIDs .ID}}
														<a class="ui basic label" href="{{.HomeLink}}">{{ctx.AvatarUtils.Avatar . 26}} {{.GetDisplayName}}</a>
													{{end}}
												{{end}}
												{{if $.Owner.IsOrganization}}
													{{$teamIDs := .AllowlistTeamIDs}}
													{{range $.Teams}}
														{{if SliceUtils.Contains $teamIDs .ID}}
															<a class="ui basic label" href="{{$.Owner.OrganisationLink}}/teams/{{PathEscape .LowerName}}">{{.Name}}</a>
														{{end}}
													{{end}}
												{{end}}
											{{else}}
												{{ctx.Locale.Tr "No One"}}
											{{end}}
										</td>
										<td class="tw-text-right">
											<a class="ui tiny primary button" href="{{$.RepoLink}}/settings/tags/{{.ID}}">{{ctx.Locale.Tr "Edit"}}</a>
											<form class="tw-inline-block" action="{{$.RepoLink}}/settings/tags/delete" method="post">
												{{$.CsrfTokenHtml}}
												<input type="hidden" name="id" value="{{.ID}}">
												<button class="ui tiny red button">{{ctx.Locale.Tr "Remove"}}</button>
											</form>
										</td>
									</tr>
								{{else}}
									<tr class="tw-text-center"><td colspan="3">{{ctx.Locale.Tr "There are no protected tags."}}</td></tr>
								{{end}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		{{end}}
	</div>
{{template "repo/settings/layout_footer" .}}
