<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{.Subject}}</title>
</head>

{{$repo_url := HTMLFormat "<a href='%s'>%s</a>" .Issue.Repo.HTMLURL .Issue.Repo.FullName}}
{{$link := HTMLFormat "<a href='%s'>#%d</a>" .Link .Issue.Index}}
<body>
	<p>
		{{if .IsPull}}
			{{.locale.Tr "@%[1]s assigned you to pull request %[2]s in repository %[3]s." .Doer.Name $link $repo_url}}
		{{else}}
			{{.locale.Tr "@%[1]s assigned you to issue %[2]s in repository %[3]s." .Doer.Name $link $repo_url}}
		{{end}}
	</p>
	<div style="font-size:small; color:#666;">
		<p>
			---
			<br>
			<a href="{{.Link}}">{{.locale.Tr "View it on %s" AppName}}</a>.
		</p>
	</div>
</body>
</html>
