<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{.Subject}}</title>

	<style>
		blockquote { padding-left: 1em; margin: 1em 0; border-left: 1px solid grey; color: #777}
	</style>

</head>

<body>
	{{if .IsMention}}<p>{{.locale.Tr "<b>@%s</b> mentioned you:" .Doer.Name}}</p>{{end}}
	{{if eq .ActionName "push"}}
		<p>
			{{if .Comment.IsForcePush}}
				{{$oldCommitUrl := printf "%s/commit/%s" .Comment.Issue.PullRequest.BaseRepo.HTMLURL .Comment.OldCommit}}
				{{$oldShortSha := ShortSha .Comment.OldCommit}}
				{{$oldCommitLink := HTMLFormat "<a href='%[1]s'><b>%[2]s</b></a>" $oldCommitUrl $oldShortSha}}

				{{$newCommitUrl := printf "%s/commit/%s" .Comment.Issue.PullRequest.BaseRepo.HTMLURL .Comment.NewCommit}}
				{{$newShortSha := ShortSha .Comment.NewCommit}}
				{{$newCommitLink := HTMLFormat "<a href='%[1]s'><b>%[2]s</b></a>" $newCommitUrl $newShortSha}}

				{{.locale.Tr "<b>%[1]s</b> force-pushed the <b>%[2]s</b> from %[3]s to %[4]s." .Doer.Name .Comment.Issue.PullRequest.HeadBranch $oldCommitLink $newCommitLink}}
			{{else}}
				{{.locale.TrN (len .Comment.Commits) "<b>@%[1]s</b> pushed %[3]d commit to %[2]s" "<b>@%[1]s</b> pushed %[3]d commits to %[2]s" .Doer.Name .Comment.Issue.PullRequest.HeadBranch (len .Comment.Commits)}}
			{{end}}
		</p>
	{{end}}
	<p>
		{{if eq .ActionName "close"}}
			{{.locale.Tr "<b>@%[1]s</b> closed #%[2]d." .Doer.Name .Issue.Index}}
		{{else if eq .ActionName "reopen"}}
			{{.locale.Tr "<b>@%[1]s</b> reopened #%[2]d." .Doer.Name .Issue.Index}}
		{{else if eq .ActionName "merge"}}
			{{.locale.Tr "<b>@%[1]s</b> merged #%[2]d into %[3]s." .Doer.Name .Issue.Index .Issue.PullRequest.BaseBranch}}
		{{else if eq .ActionName "approve"}}
			{{.locale.Tr "<b>@%[1]s</b> approved this pull request." .Doer.Name}}
		{{else if eq .ActionName "reject"}}
			{{.locale.Tr "<b>@%[1]s</b> requested changes on this pull request." .Doer.Name}}
		{{else if eq .ActionName "review"}}
			{{.locale.Tr "<b>@%[1]s</b> commented on this pull request." .Doer.Name}}
		{{else if eq .ActionName "review_dismissed"}}
			{{.locale.Tr "<b>@%[1]s</b> dismissed last review from %[2]s for this pull request." .Doer.Name .Comment.Review.Reviewer.Name}}
		{{else if eq .ActionName "ready_for_review"}}
			{{.locale.Tr "<b>@%[1]s</b> marked this pull request ready for review." .Doer.Name}}
		{{end}}

		{{- if eq .Body ""}}
			{{if eq .ActionName "new"}}
				{{.locale.Tr "<b>@%[1]s</b> created #%[2]d." .Doer.Name .Issue.Index}}
			{{end}}
		{{else}}
			{{.Body}}
		{{end -}}
		{{- range .ReviewComments}}
			<hr>
			{{$.locale.Tr "In %s:" .TreePath}}
			<div style="padding-left: 1em; margin: 1em 0;">
				<pre style="padding: 1em; border-left: 1px solid grey;">{{.Patch}}</pre>
				<div>{{.RenderedContent}}</div>
			</div>
		{{end -}}
		{{if eq .ActionName "push"}}
			<ul>
			{{range .Comment.Commits}}
				<li>
					<a href="{{$.Comment.Issue.PullRequest.BaseRepo.HTMLURL}}/commit/{{.ID}}">
						{{ShortSha .ID.String}}
					</a>  -  {{.Summary}}
				</li>
			{{end}}
			</ul>
		{{end}}
	</p>
	<div style="font-size:small; color:#666;">
		<p>
			---
			<br>
			<a href="{{.Link}}">{{.locale.Tr "View it on %s" AppName}}</a>{{if .CanReply}}&nbsp;{{.locale.Tr "or reply to this email directly"}}{{end}}.
		</p>
	</div>
</body>
</html>
