<div id="activity-feed" class="flex-list">
	{{range .Feeds}}
		<div class="flex-item">
			<div class="flex-item-leading">
				{{ctx.AvatarUtils.AvatarByAction .}}
			</div>
			<div class="flex-item-main tw-gap-2">
				<div>
					{{if gt .ActUser.ID 0}}
						<a href="{{AppSubUrl}}/{{(.GetActUserName ctx) | PathEscape}}" title="{{.GetActDisplayNameTitle ctx}}">{{.GetActDisplayName ctx}}</a>
					{{else}}
						{{.ShortActUserName ctx}}
					{{end}}
					{{if .GetOpType.InActions "create_repo"}}
						{{ctx.Locale.Tr "created repository <a href=\"%s\">%s</a>" (.GetRepoLink ctx) (.ShortRepoPath ctx)}}
					{{else if .GetOpType.InActions "rename_repo"}}
						{{ctx.Locale.Tr "renamed repository from <code>%[1]s</code> to <a href=\"%[2]s\">%[3]s</a>" .GetContent (.GetRepoLink ctx) (.ShortRepoPath ctx)}}
					{{else if .GetOpType.InActions "commit_repo"}}
						{{if .Content}}
							{{ctx.Locale.Tr "pushed to <a href=\"%[2]s\">%[3]s</a> at <a href=\"%[1]s\">%[4]s</a>" (.GetRepoLink ctx) (.GetRefLink ctx) .GetBranch (.ShortRepoPath ctx)}}
						{{else}}
							{{ctx.Locale.Tr "created branch <a href=\"%[2]s\">%[3]s</a> in <a href=\"%[1]s\">%[4]s</a>" (.GetRepoLink ctx) (.GetRefLink ctx) .GetBranch (.ShortRepoPath ctx)}}
						{{end}}
					{{else if .GetOpType.InActions "create_issue"}}
						{{$index := index .GetIssueInfos 0}}
						{{ctx.Locale.Tr "opened issue <a href=\"%[1]s\">%[3]s#%[2]s</a>" (printf "%s/issues/%s" (.GetRepoLink ctx) $index) $index (.ShortRepoPath ctx)}}
					{{else if .GetOpType.InActions "create_pull_request"}}
						{{$index := index .GetIssueInfos 0}}
						{{ctx.Locale.Tr "created pull request <a href=\"%[1]s\">%[3]s#%[2]s</a>" (printf "%s/pulls/%s" (.GetRepoLink ctx) $index) $index (.ShortRepoPath ctx)}}
					{{else if .GetOpType.InActions "transfer_repo"}}
						{{ctx.Locale.Tr "transferred repository <code>%s</code> to <a href=\"%s\">%s</a>" .GetContent (.GetRepoLink ctx) (.ShortRepoPath ctx)}}
					{{else if .GetOpType.InActions "push_tag"}}
						{{ctx.Locale.Tr "pushed tag <a href=\"%[2]s\">%[3]s</a> to <a href=\"%[1]s\">%[4]s</a>" (.GetRepoLink ctx) (.GetRefLink ctx) .GetTag (.ShortRepoPath ctx)}}
					{{else if .GetOpType.InActions "comment_issue"}}
						{{$index := index .GetIssueInfos 0}}
						{{ctx.Locale.Tr "commented on issue <a href=\"%[1]s\">%[3]s#%[2]s</a>" (printf "%s/issues/%s" (.GetRepoLink ctx) $index) $index (.ShortRepoPath ctx)}}
					{{else if .GetOpType.InActions "merge_pull_request"}}
						{{$index := index .GetIssueInfos 0}}
						{{ctx.Locale.Tr "merged pull request <a href=\"%[1]s\">%[3]s#%[2]s</a>" (printf "%s/pulls/%s" (.GetRepoLink ctx) $index) $index (.ShortRepoPath ctx)}}
					{{else if .GetOpType.InActions "close_issue"}}
						{{$index := index .GetIssueInfos 0}}
						{{ctx.Locale.Tr "closed issue <a href=\"%[1]s\">%[3]s#%[2]s</a>" (printf "%s/issues/%s" (.GetRepoLink ctx) $index) $index (.ShortRepoPath ctx)}}
					{{else if .GetOpType.InActions "reopen_issue"}}
						{{$index := index .GetIssueInfos 0}}
						{{ctx.Locale.Tr "reopened issue <a href=\"%[1]s\">%[3]s#%[2]s</a>" (printf "%s/issues/%s" (.GetRepoLink ctx) $index) $index (.ShortRepoPath ctx)}}
					{{else if .GetOpType.InActions "close_pull_request"}}
						{{$index := index .GetIssueInfos 0}}
						{{ctx.Locale.Tr "closed pull request <a href=\"%[1]s\">%[3]s#%[2]s</a>" (printf "%s/pulls/%s" (.GetRepoLink ctx) $index) $index (.ShortRepoPath ctx)}}
					{{else if .GetOpType.InActions "reopen_pull_request"}}
						{{$index := index .GetIssueInfos 0}}
						{{ctx.Locale.Tr "reopened pull request <a href=\"%[1]s\">%[3]s#%[2]s</a>" (printf "%s/pulls/%s" (.GetRepoLink ctx) $index) $index (.ShortRepoPath ctx)}}
					{{else if .GetOpType.InActions "delete_tag"}}
						{{$index := index .GetIssueInfos 0}}
						{{ctx.Locale.Tr "deleted tag %[2]s from <a href=\"%[1]s\">%[3]s</a>" (.GetRepoLink ctx) .GetTag (.ShortRepoPath ctx)}}
					{{else if .GetOpType.InActions "delete_branch"}}
						{{$index := index .GetIssueInfos 0}}
						{{ctx.Locale.Tr "deleted branch %[2]s from <a href=\"%[1]s\">%[3]s</a>" (.GetRepoLink ctx) .GetBranch (.ShortRepoPath ctx)}}
					{{else if .GetOpType.InActions "mirror_sync_push"}}
						{{ctx.Locale.Tr "synced commits to <a href=\"%[2]s\">%[3]s</a> at <a href=\"%[1]s\">%[4]s</a> from mirror" (.GetRepoLink ctx) (.GetRefLink ctx) .GetBranch (.ShortRepoPath ctx)}}
					{{else if .GetOpType.InActions "mirror_sync_create"}}
						{{ctx.Locale.Tr "synced new reference <a href=\"%[2]s\">%[3]s</a> to <a href=\"%[1]s\">%[4]s</a> from mirror" (.GetRepoLink ctx) (.GetRefLink ctx) .GetBranch (.ShortRepoPath ctx)}}
					{{else if .GetOpType.InActions "mirror_sync_delete"}}
						{{ctx.Locale.Tr "synced and deleted reference <code>%[2]s</code> at <a href=\"%[1]s\">%[3]s</a> from mirror" (.GetRepoLink ctx) .GetBranch (.ShortRepoPath ctx)}}
					{{else if .GetOpType.InActions "approve_pull_request"}}
						{{$index := index .GetIssueInfos 0}}
						{{ctx.Locale.Tr "approved <a href=\"%[1]s\">%[3]s#%[2]s</a>" (printf "%s/pulls/%s" (.GetRepoLink ctx) $index) $index (.ShortRepoPath ctx)}}
					{{else if .GetOpType.InActions "reject_pull_request"}}
						{{$index := index .GetIssueInfos 0}}
						{{ctx.Locale.Tr "suggested changes for <a href=\"%[1]s\">%[3]s#%[2]s</a>" (printf "%s/pulls/%s" (.GetRepoLink ctx) $index) $index (.ShortRepoPath ctx)}}
					{{else if .GetOpType.InActions "comment_pull"}}
						{{$index := index .GetIssueInfos 0}}
						{{ctx.Locale.Tr "commented on pull request <a href=\"%[1]s\">%[3]s#%[2]s</a>" (printf "%s/pulls/%s" (.GetRepoLink ctx) $index) $index (.ShortRepoPath ctx)}}
					{{else if .GetOpType.InActions "publish_release"}}
						{{$linkText := .Content | ctx.RenderUtils.RenderEmoji}}
						{{ctx.Locale.Tr "released <a href=\"%[2]s\">%[4]s</a> at <a href=\"%[1]s\">%[3]s</a>" (.GetRepoLink ctx) (printf "%s/releases/tag/%s" (.GetRepoLink ctx) .GetTag) (.ShortRepoPath ctx) $linkText}}
					{{else if .GetOpType.InActions "pull_review_dismissed"}}
						{{$index := index .GetIssueInfos 0}}
						{{$reviewer := index .GetIssueInfos 1}}
						{{ctx.Locale.Tr "dismissed review from <b>%[4]s</b> for <a href=\"%[1]s\">%[3]s#%[2]s</a>" (printf "%s/pulls/%s" (.GetRepoLink ctx) $index) $index (.ShortRepoPath ctx) $reviewer}}
					{{else if .GetOpType.InActions "auto_merge_pull_request"}}
						{{$index := index .GetIssueInfos 0}}
						{{ctx.Locale.Tr "automatically merged pull request <a href=\"%[1]s\">%[3]s#%[2]s</a>" (printf "%s/pulls/%s" (.GetRepoLink ctx) $index) $index (.ShortRepoPath ctx)}}
					{{end}}
					{{DateUtils.TimeSince .GetCreate}}
				</div>
				{{if .GetOpType.InActions "commit_repo" "mirror_sync_push"}}
					{{$push := ActionContent2Commits .}}
					{{$repoLink := (.GetRepoLink ctx)}}
					{{$repo := .Repo}}
					<div class="tw-flex tw-flex-col tw-gap-1">
						{{range $push.Commits}}
							{{$commitLink := printf "%s/commit/%s" $repoLink .Sha1}}
							<div class="flex-text-block">
								<img loading="lazy" alt class="ui avatar" src="{{$push.AvatarLink ctx .AuthorEmail}}" title="{{.AuthorName}}" width="16" height="16">
								<a class="ui sha label" href="{{$commitLink}}">{{ShortSha .Sha1}}</a>
								<span class="text truncate">
									{{ctx.RenderUtils.RenderCommitMessage .Message $repo}}
								</span>
							</div>
						{{end}}
					</div>
					{{if and (gt $push.Len 1) $push.CompareURL}}
						<a href="{{AppSubUrl}}/{{$push.CompareURL}}">{{ctx.Locale.Tr "Compare %d commits" $push.Len}} »</a>
					{{end}}
				{{else if .GetOpType.InActions "create_issue"}}
					<span class="text truncate issue title">{{index .GetIssueInfos 1 | ctx.RenderUtils.RenderIssueSimpleTitle}}</span>
				{{else if .GetOpType.InActions "create_pull_request"}}
					<span class="text truncate issue title">{{index .GetIssueInfos 1 | ctx.RenderUtils.RenderIssueSimpleTitle}}</span>
				{{else if .GetOpType.InActions "comment_issue" "approve_pull_request" "reject_pull_request" "comment_pull"}}
					<a href="{{.GetCommentLink ctx}}" class="text truncate issue title">{{(.GetIssueTitle ctx) | ctx.RenderUtils.RenderIssueSimpleTitle}}</a>
					{{$comment := index .GetIssueInfos 1}}
					{{if $comment}}
						<div class="render-content markup tw-text-14">{{ctx.RenderUtils.MarkdownToHtml $comment}}</div>
					{{end}}
				{{else if .GetOpType.InActions "merge_pull_request"}}
					<div class="flex-item-body text black">{{index .GetIssueInfos 1}}</div>
				{{else if .GetOpType.InActions "close_issue" "reopen_issue" "close_pull_request" "reopen_pull_request"}}
					<span class="text truncate issue title">{{(.GetIssueTitle ctx) | ctx.RenderUtils.RenderIssueSimpleTitle}}</span>
				{{else if .GetOpType.InActions "pull_review_dismissed"}}
				<div class="flex-item-body text black">{{ctx.Locale.Tr "Reason:"}}</div>
				<div class="flex-item-body text black">{{index .GetIssueInfos 2 | ctx.RenderUtils.RenderEmoji}}</div>
				{{end}}
			</div>
			<div class="flex-item-trailing">
				{{svg (printf "octicon-%s" (ActionIcon .GetOpType)) 32 "text grey tw-mr-1"}}
			</div>
		</div>
	{{end}}
	{{template "base/paginate" .}}
</div>
