<div class="tw-text-center tw-p-8">
	{{svg "octicon-package" 24 "tw-text-placeholder-text"}}
	<h3 class="tw-my-4">{{ctx.Locale.Tr "No Activity"}}</h3>
	<p class="tw-text-placeholder-text">{{ctx.Locale.Tr "You are currently not following any repositories or users, so there is no content to display. You can explore repositories or users of interest from the links below."}}</p>
	<div>
		<a href="{{AppSubUrl}}/explore/repos">{{ctx.Locale.Tr "Explore repositories"}}</a>
		<span>·</span>
		<a href="{{AppSubUrl}}/explore/users">{{ctx.Locale.Tr "Explore users"}}</a>
	</div>
</div>
