<script type="module">
const data = {
	...window.config.pageData.dashboardRepoList, // it only contains searchLimit and uid

	isMirrorsEnabled: {{.MirrorsEnabled}},
	isStarsEnabled: {{not .IsDisableStars}},

	canCreateMigrations: {{not .DisableMigrations}},

	textNoOrg: {{ctx.Locale.Tr "There are no organizations yet."}},
	textNoRepo: {{ctx.Locale.Tr "There are no repositories yet."}},
	textRepository: {{ctx.Locale.Tr "Repository"}},
	textOrganization: {{ctx.Locale.Tr "Organization"}},
	textMyRepos: {{ctx.Locale.Tr "Repositories"}},
	textNewRepo: {{ctx.Locale.Tr "New Repository"}},
	textSearchRepos: {{ctx.Locale.Tr "Search repos…"}},
	textFilter: {{ctx.Locale.Tr "Other Filters"}},
	textShowArchived: {{ctx.Locale.Tr "Archived"}},
	textShowPrivate: {{ctx.Locale.Tr "Private"}},

	textShowBothArchivedUnarchived: {{ctx.Locale.Tr "Showing both archived and unarchived"}},
	textShowOnlyUnarchived: {{ctx.Locale.Tr "Showing only unarchived"}},
	textShowOnlyArchived: {{ctx.Locale.Tr "Showing only archived"}},

	textShowBothPrivatePublic: {{ctx.Locale.Tr "Showing both public and private"}},
	textShowOnlyPublic: {{ctx.Locale.Tr "Showing only public"}},
	textShowOnlyPrivate: {{ctx.Locale.Tr "Showing only private"}},

	textAll: {{ctx.Locale.Tr "All"}},
	textSources: {{ctx.Locale.Tr "Sources"}},
	textForks: {{ctx.Locale.Tr "Forks"}},
	textMirrors: {{ctx.Locale.Tr "Mirrors"}},
	textCollaborative: {{ctx.Locale.Tr "Collaborative"}},

	textFirstPage: {{ctx.Locale.Tr "First"}},
	textPreviousPage: {{ctx.Locale.Tr "Previous"}},
	textNextPage: {{ctx.Locale.Tr "Next"}},
	textLastPage: {{ctx.Locale.Tr "Last"}},

	textMyOrgs: {{ctx.Locale.Tr "My Organizations"}},
	textNewOrg: {{ctx.Locale.Tr "New Organization"}},

	textOrgVisibilityLimited: {{ctx.Locale.Tr "Limited"}},
	textOrgVisibilityPrivate: {{ctx.Locale.Tr "Private"}},
};

{{if .Team}}
data.teamId = {{.Team.ID}};
{{end}}

{{if not .ContextUser.IsOrganization}}
data.organizations = [{{range .Orgs}}{'name': {{.Name}}, 'full_name': {{.FullName}}, 'num_repos': {{.NumRepos}}, 'org_visibility': {{.Visibility}}},{{end}}];
data.isOrganization = false;
data.organizationsTotalCount = {{.UserOrgsCount}};
data.canCreateOrganization = {{.SignedUser.CanCreateOrganization}};
{{else}}
data.organizationId = {{.ContextUser.ID}};
{{end}}

window.config.pageData.dashboardRepoList = data;
</script>

<div id="dashboard-repo-list" class="flex-container-sidebar"></div>
