{{if and .IsRepoAdmin (not .Repository.IsArchived)}}
	<div class="divider"></div>

	{{/* Pin issue */}}
	{{if or .PinEnabled .Issue.IsPinned}}
		<form class="tw-mt-1 form-fetch-action single-button-form" method="post" {{if $.NewPinAllowed}}action="{{.Issue.Link}}/pin"{{else}}data-tooltip-content="{{ctx.Locale.Tr "You can't pin more issues"}}"{{end}}>
			{{$.CsrfTokenHtml}}
			<button class="fluid ui button {{if not $.NewPinAllowed}}disabled{{end}}">
				{{if not .Issue.IsPinned}}
					{{svg "octicon-pin"}}
					{{ctx.Locale.Tr "Pin"}}
				{{else}}
					{{svg "octicon-pin-slash"}}
					{{ctx.Locale.Tr "Unpin"}}
				{{end}}
			</button>
		</form>
	{{end}}

	{{/* Lock/unlock conversation */}}
	<button class="tw-mt-1 fluid ui show-modal button{{if .Issue.IsLocked}} red{{end}}" data-modal="#lock-conversation">
		{{if .Issue.IsLocked}}
			{{svg "octicon-key"}} {{ctx.Locale.Tr "Unlock conversation"}}
		{{else}}
			{{svg "octicon-lock"}} {{ctx.Locale.Tr "Lock conversation"}}
		{{end}}
	</button>
	<div class="ui tiny modal" id="lock-conversation">
		<div class="header">
			{{if .Issue.IsLocked}}
				{{ctx.Locale.Tr "Unlock conversation on this issue."}}
			{{else}}
				{{ctx.Locale.Tr "Lock conversation on this issue."}}
			{{end}}
		</div>
		<div class="content">
			<div class="ui warning message">
				{{if .Issue.IsLocked}}
					{{ctx.Locale.Tr "- Everyone would be able to comment on this issue once more."}}<br>
					{{ctx.Locale.Tr "- You can always lock this issue again in the future."}}<br>
				{{else}}
					{{ctx.Locale.Tr "- Other users cannot add new comments to this issue."}}<br>
					{{ctx.Locale.Tr "- You and other collaborators with access to this repository can still leave comments that others can see."}}<br>
					{{ctx.Locale.Tr "- You can always unlock this issue again in the future."}}<br>
				{{end}}
			</div>

			<form class="ui form form-fetch-action" method="post" action="{{.Issue.Link}}{{if .Issue.IsLocked}}/unlock{{else}}/lock{{end}}">
				{{.CsrfTokenHtml}}

				{{if not .Issue.IsLocked}}
					<div class="field">
						<strong>{{ctx.Locale.Tr "Reason for locking"}}</strong>
					</div>

					<div class="field">
						<div class="ui fluid dropdown selection">
							<input type="hidden" name="reason">
							<div class="text"></div> {{svg "octicon-triangle-down" 14 "dropdown icon"}}
							<div class="menu">
								<div class="item" data-value=""></div>
								{{range .LockReasons}}
									<div class="item" data-value="{{.}}">{{.}}</div>
								{{end}}
							</div>
						</div>
					</div>
				{{end}}

				<div class="actions">
					<button class="ui cancel button">{{ctx.Locale.Tr "Cancel"}}</button>
					{{/* explicitly focus the submit button, to avoid Fomantic modal focuses and popups the dropdown */}}
					<button class="ui red button" autofocus>
						{{if .Issue.IsLocked}}
							{{ctx.Locale.Tr "Unlock"}}
						{{else}}
							{{ctx.Locale.Tr "Lock"}}
						{{end}}
					</button>
				</div>
			</form>
		</div>
	</div>
	<button class="tw-mt-1 fluid ui show-modal button" data-modal="#sidebar-delete-issue">
		{{svg "octicon-trash"}}
		{{ctx.Locale.Tr "Delete"}}
	</button>
	<div class="ui g-modal-confirm modal" id="sidebar-delete-issue">
		<div class="header">
			{{if .Issue.IsPull}}
				{{ctx.Locale.Tr "Delete this pull request?"}}
			{{else}}
				{{ctx.Locale.Tr "Delete this issue?"}}
			{{end}}
		</div>
		<div class="content">
			<p>
				{{if .Issue.IsPull}}
					{{ctx.Locale.Tr "Do you really want to delete this pull request? (This will permanently remove all content. Consider closing it instead, if you intend to keep it archived)"}}
				{{else}}
					{{ctx.Locale.Tr "Do you really want to delete this issue? (This will permanently remove all content. Consider closing it instead, if you intend to keep it archived)"}}
				{{end}}
			</p>
		</div>
		<form action="{{.Issue.Link}}/delete" method="post">
			{{.CsrfTokenHtml}}
			{{template "base/modal_actions_confirm" .}}
		</form>
	</div>
{{end}}
