{{if and (or .HasIssuesOrPullsWritePermission .IsIssuePoster) (not .HasMerged) (not .Issue.IsClosed) (not .IsPullWorkInProgress)}}
	<a data-global-init="initPullRequestWipToggle" data-title="{{.Issue.Title}}" data-wip-prefix="{{index .PullRequestWorkInProgressPrefixes 0}}" data-update-url="{{.Issue.Link}}/title">
		{{ctx.Locale.Tr "Still in progress?"}} {{ctx.Locale.Tr "Add <strong>%s</strong> prefix" (index .PullRequestWorkInProgressPrefixes 0)}}
	</a>
{{end}}
