<style>
.gridjs-wrapper {
    border-color: var(--color-input-border) !important;
}
.gridjs-th, .gridjs-td {
    color: var(--color-text) !important;
    border-color: var(--color-input-border) !important;
    background-color: var(--color-input-background) !important;
}
.gridjs-th, .gridjs-td {
  width: auto;
}
input.gridjs-input {
    color: var(--color-text);
    background-color: var(--color-input-background);
}
</style>
<br>
<div id="report" class="ui container fluid tw-hidden">
    <div class="ui input tiny">
        <input type="search" class="ui small" v-model="orig" title="Organization" placeholder="Organization" style="width:100px">
        <input placeholder="yyyy-mm-dd" type="date" v-model="startDate" title="Start Date">
        <input placeholder="yyyy-mm-dd" type="date" v-model="endDate" title="End Date">
        <select v-model="by" class="ui small"><option value="created_by">created_by</option><option value="assigned_by" selected>assigned_by</option><option value="mentioned_by" class="tw-hidden">mentioned_by</option></select>
        <select v-model="type" class="ui small" title="Type"><option value="all">All</option><option value="issue">Issue</option><option value="pr">PR</option></select>
        <select v-model="state" class="ui small" title="State"><option value="all">All</option><option value="open" selected>open</option><option value="closed">closed</option></select>
        <select v-model="onlyself" class="ui small tw-hidden" title="Self or follow"><option value="all">All</option><option value="self" selected>Self</option><option value="follow">Follow</option></select>
        <input type="search" class="ui small" v-model="labels" title="Labels" placeholder="Labels" style="width:100px">
        <input type="search" v-model="q" class="ui button small" placeholder="Query" style="width:100px">

        <div class="ui floating jump dropdown" tabindex="0">
            <div class="filter menu transition" tabindex="-1">
                <div class="ui icon search input">
                    <i class="icon df ac jc"><svg viewBox="0 0 16 16" class="svg octicon-search" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M11.5 7a4.499 4.499 0 1 1-8.998 0A4.499 4.499 0 0 1 11.5 7zm-.82 4.74a6 6 0 1 1 1.06-1.06l3.04 3.04a.75.75 0 1 1-1.06 1.06l-3.04-3.04z"></path></svg></i>
                    <input type="text" placeholder="Filter Assignee" tabindex="0">
                </div>
                <div class="scrolling menu">
                    <a class="item muted" tabindex="-1" v-for="assignee in assignees" @click="selectAssignee(assignee.username)">
                        <img class="ui avatar image mr-3" width="28" height="28" :src="assignee.avatar_url"><span class="gt-ellipsis">[[assignee.username]]</span>
                    </a>
                </div>
            </div>
            <input type="search" v-model="username" class="combo-value ui button small" placeholder="username" style="width:100px">
        </div>

        <input type="button" class="ui small" @click="queryReport" value="OK">
    </div>
    <div class="ui divider"></div>
    <div id="reposdetailtmeplate" class="tw-hidden">
        <div style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis"><a class="reponame" style="font-size:xx-small"></a></div>
        <div><div class="ui yellow small label tooltip" title="Open">0</div><div class="ui green small label tooltip" title="Solved">0</div><div class="ui grey small label tooltip" title="Close">0</div><div class="ui blue small label tooltip" title="Total">0</div></div>
    </div>
    <div id="reposcardtemplate" class="tw-hidden">
        <div style="min-width:6em;width:8em">
            <div class="text"><a class="author"><img class="ui avatar image" style="width:6em;height:6em"></a></div>
            <div style="width:6em;height:22px;display:grid;margin-top:3px">
                <progress class="progress"></progress>
            </div>
            <div class="allcount"><div class="ui yellow small label tooltip" title="Open">0</div><div class="ui green small label tooltip" title="Solved">0</div><div class="ui grey small label tooltip" title="Close">0</div><div class="ui blue small label tooltip" title="Total">0</div></div>
            <div class="reposdetail"></div>
        </div>
    </div>
    <div id="reposcards" class="ui board"></div>
    <div class="ui divider"></div>
    <div id="column-controls" class="mb-4 p-4 bg-white rounded shadow"></div>
    <div id="grid-container">
        <div id="wrapper"></div>
    </div>
</div>
