<br>
<div id="report" class="ui container fluid tw-hidden" v-cloak>
    <div class="ui input tiny">
        <input placeholder="yyyy-mm-dd" type="date" class="ui tiny" v-model="startDate" @click="dateCtrl(-1)" :max="endDateMax" title="Start Date">
        <input placeholder="yyyy-mm-dd" type="date" class="ui tiny" v-model="endDate" @click="dateCtrl(-1)" :max="endDateMax" title="End Date">
        <input type="button" :class="{primary: quickday === 0}" class="ui button" @click="dateCtrl(0)" value="Today">
        <input type="button" :class="{primary: quickday === 1}" class="ui button" @click="dateCtrl(1)" value="Yesterday">
        <input type="button" :class="{primary: quickday === 7}" class="ui button" @click="dateCtrl(7)" value="Week">
        <input type="button" :class="{primary: quickday === 30}" class="ui button" @click="dateCtrl(30)" value="Month">
    </div>
    <div class="ui input tiny tw-pt-2">
        <input type="search" class="ui tiny" v-model="orig" @keyup.enter="queryReport" placeholder="{{ctx.Locale.Tr "organization"}}" style="width:100px">
        <select v-model="by" class="ui tiny"><option value="created_by">{{ctx.Locale.Tr "repo.issues.filter_type.created_by_you"}}</option><option value="assigned_by" selected>{{ctx.Locale.Tr "repo.issues.filter_type.assigned_to_you"}}</option><option value="mentioned_by">{{ctx.Locale.Tr "repo.issues.filter_type.mentioning_you"}}</option><option value="myself">Myself</option></select>
        <select v-model="type" class="ui tiny" title="Type"><option value="all">All</option><option value="issue">{{ctx.Locale.Tr "repo.issues"}}</option><option value="pr">{{ctx.Locale.Tr "repo.pulls"}}</option></select>
        <select v-model="state" class="ui tiny" title="State"><option value="all">All</option><option value="open" selected>{{ctx.Locale.Tr "repo.issues.open_title"}}</option><option value="closed">{{ctx.Locale.Tr "repo.issues.closed_title"}}</option></select>
        <input type="search" v-model="q" @keyup.enter="queryReport" class="ui button tiny" placeholder="{{ctx.Locale.Tr "packages.keywords"}}" style="field-sizing:content">

        <div class="ui floating jump dropdown" tabindex="0">
            <div class="filter menu transition" tabindex="-1">
                <div class="ui icon search input">
                    <i class="icon df ac jc"><svg viewBox="0 0 16 16" class="svg octicon-search" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M11.5 7a4.499 4.499 0 1 1-8.998 0A4.499 4.499 0 0 1 11.5 7zm-.82 4.74a6 6 0 1 1 1.06-1.06l3.04 3.04a.75.75 0 1 1-1.06 1.06l-3.04-3.04z"></path></svg></i>
                    <input type="text" placeholder="Filter Assignee" tabindex="0">
                </div>
                <div class="scrolling menu">
                    <a class="item muted" tabindex="-1" v-for="assignee in assignees" @click="selectAssignee(assignee.full_name, assignee.username)">
                        <img class="ui avatar image mr-3" width="28" height="28" :src="assignee.avatar_url"><span class="gt-ellipsis">[[assignee.full_name]]</span>
                    </a>
                </div>
            </div>
            <input type="search" v-model="userTitle" @keyup.enter="queryReport" @dblclick="userTitle = ''" class="combo-value ui button" style="field-sizing:content">
        </div>

        <input type="button" class="ui button primary tiny" @click="okCount++;queryReport()" value="{{ctx.Locale.Tr "ok"}}">
    </div>
    <div class="ui divider"></div>
    <div><span v-for="(value, key) in reposSummary" :key="key" class="ui label tw-mr-2 tw-cursor-pointer" @click="filterRepos(key)" :data-tooltip-content="`Total: ${value.count}, Open: ${value.open}, Closed: ${value.closed}`"><span class="ui tw-mr-1">[[value.count]]</span><span class="ui label">[[key]]</span><span>([[value.open]] / [[value.closed]])</span></div>
    <div class="ui divider"></div>
    <div><span v-for="(value, key) in labelsSummary" :key="key" class="ui label tw-mr-2 tw-cursor-pointer" @click="filterLabel(key)"><span class="ui tw-mr-1">[[value.count]]</span><span class="ui label" :style="{backgroundColor: value.color}" :data-tooltip-content="key">[[key]]</span></span></div>
    <div class="ui divider"></div>
    <div><span v-for="(value, key) in usersSummary" :key="key" class="ui label tw-mr-2" :data-tooltip-content="`Created: ${value.created}, Assigned: ${value.assigned}`"><span class="ui tw-mr-1 tw-cursor-pointer" @click="filterUser(key)">[[value.created]]</span><span class="ui label">[[key]]</span><span class="ui tw-mr-1 tw-cursor-pointer" @click="filterUser(null, key)">[[value.assigned]]</span></span>
    <div class="ui divider"></div></div>

    <div id="column-controls" class="mb-4 p-4 bg-white rounded shadow"></div>
    <div id="grid-container">
        <div id="wrapper"></div>
    </div>
</div>
<div id="releaseFilterBar" class="tw-hidden center">
    <div class="ui floating jump dropdown" tabindex="0">
        <div class="filter menu transition" tabindex="-1">
            <div class="ui icon search input">
                <i class="icon df ac jc"><svg viewBox="0 0 16 16" class="svg octicon-search" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M11.5 7a4.499 4.499 0 1 1-8.998 0A4.499 4.499 0 0 1 11.5 7zm-.82 4.74a6 6 0 1 1 1.06-1.06l3.04 3.04a.75.75 0 1 1-1.06 1.06l-3.04-3.04z"></path></svg></i>
                <input type="text" placeholder="Filter" tabindex="0">
            </div>
            <div class="scrolling menu">
                <a class="item muted" tabindex="-1" v-for="release in releaselists" @click="selectRelease(release.html_url)">
                    <span class="gt-ellipsis">[[release.name]]</span>
                </a>
            </div>
        </div>
        <input type="button" @click="queryRelease" class="ui button tiny" value="Filter Releases">
    </div>
</div>
