<br>
<div id="report" class="ui container fluid tw-hidden" v-cloak>
    <div class="ui input tiny">
        <input placeholder="yyyy-mm-dd" type="date" class="ui tiny" v-model="startDate" @click="dateCtrl(-1)" min="2020-01-01" :max="endDateMax" title="Start Date">
        <input placeholder="yyyy-mm-dd" type="date" class="ui tiny" v-model="endDate" @click="dateCtrl(-1)" min="2020-01-01" :max="endDateMax" title="End Date">
        <input type="button" :class="{primary: quickday === 0}" class="ui button" @click="dateCtrl(0)" value="Today">
        <input type="button" :class="{primary: quickday === 1}" class="ui button" @click="dateCtrl(1)" value="Yesterday">
        <input type="button" :class="{primary: quickday === 7}" class="ui button" @click="dateCtrl(7)" value="Week">
        <input type="button" :class="{primary: quickday === 30}" class="ui button" @click="dateCtrl(30)" value="Month">
    </div>
    <div class="ui input tiny tw-pt-2">
        <input type="search" class="ui tiny" v-model="orig" @keyup.enter="queryReport" placeholder="{{ctx.Locale.Tr "organization"}}" style="width:100px">
        <select v-model="by" class="ui tiny"><option value="created_by">{{ctx.Locale.Tr "repo.issues.filter_type.created_by_you"}}</option><option value="assigned_by" selected>{{ctx.Locale.Tr "repo.issues.filter_type.assigned_to_you"}}</option><option value="mentioned_by">{{ctx.Locale.Tr "repo.issues.filter_type.mentioning_you"}}</option><option value="myself">Myself</option></select>
        <select v-model="type" class="ui tiny" title="Type"><option value="all">All</option><option value="issue">{{ctx.Locale.Tr "repo.issues"}}</option><option value="pr">{{ctx.Locale.Tr "repo.pulls"}}</option></select>
        <select v-model="state" class="ui tiny" title="State"><option value="all">All</option><option value="open" selected>{{ctx.Locale.Tr "repo.issues.open_title"}}</option><option value="closed">{{ctx.Locale.Tr "repo.issues.closed_title"}}</option></select>
        <input type="search" v-model="q" @keyup.enter="queryReport" class="ui button tiny" placeholder="{{ctx.Locale.Tr "packages.keywords"}}" style="field-sizing:content">

        <div class="ui floating jump dropdown" tabindex="0">
            <div class="filter menu transition" tabindex="-1">
                <div class="ui icon search input">
                    <i class="icon df ac jc"><svg viewBox="0 0 16 16" class="svg octicon-search" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M11.5 7a4.499 4.499 0 1 1-8.998 0A4.499 4.499 0 0 1 11.5 7zm-.82 4.74a6 6 0 1 1 1.06-1.06l3.04 3.04a.75.75 0 1 1-1.06 1.06l-3.04-3.04z"></path></svg></i>
                    <input type="text" placeholder="Filter Assignee" tabindex="0">
                </div>
                <div class="scrolling menu">
                    <a class="item muted" tabindex="-1" v-for="assignee in assignees" @click="selectAssignee(assignee.full_name, assignee.username)">
                        <img class="ui avatar image mr-3" width="28" height="28" :src="assignee.avatar_url"><span class="gt-ellipsis">[[assignee.full_name]]</span>
                    </a>
                </div>
            </div>
            <input type="search" v-model="userTitle" @keyup.enter="queryReport" @dblclick="userTitle = ''" class="combo-value ui button" style="field-sizing:content">
        </div>

        <input type="button" class="ui button primary tiny" @click="okCount++;queryReport()" :disabled="loading" value="{{ctx.Locale.Tr "ok"}}">
    </div>
    <div class="ui divider"></div>
    <details @toggle="onToggle('repos', $event)" :open="isReposOpen">
        <summary>{{ctx.Locale.Tr "repository"}}</summary>
        <span class="ui label tw-mr-2 primary" :data-tooltip-content="`Total: ${reposCounts.count}, Open: ${reposCounts.open}, Closed: ${reposCounts.closed}`"><b class="ui tw-px-3 tw-text-white">[[reposCounts.count]]</b> = <span class="ui label tw-px-3 tw-text-white tw-cursor-pointer" :class="{'border': isSelected['null-open']}" @click="filterRepos(null, 1, $event)">[[reposCounts.open]]</span> + <span class="ui label tw-px-3 tw-text-white tw-cursor-pointer" :class="{'border': isSelected['null-closed']}" @click="filterRepos(null, 0, $event)">[[reposCounts.closed]]</span></span>
        <span v-for="(value, key) in reposSummary" :key="key" class="ui label tw-mr-2 primary tw-text-white" :data-tooltip-content="`${key}: Open ${value.open}, Closed ${value.closed}`"><span class="tw-w-24 tw-ellipsis-start">[[key]]</span><span class="ui label number tw-text-white tw-px-3" :class="{'border': isSelected[`${key}-open`], 'tw-cursor-pointer': value.open}" @click="value.open && filterRepos(`${key}`, 1, $event)">[[value.open]]</span><span class="ui label number tw-text-white tw-px-3" :class="{'border': isSelected[`${key}-closed`], 'tw-cursor-pointer': value.closed}" @click="value.closed && filterRepos(`${key}`, 0, $event)">[[value.closed]]</span></span>
    </details>
    <div class="ui divider"></div>
    <details @toggle="onToggle('labels', $event)" :open="isLabelsOpen">
        <summary>{{ctx.Locale.Tr "repo.labels"}}</summary>
        <span v-for="(value, key) in labelsSummary" :key="key" class="ui label tw-mr-2"><span class="tw-pl-2 tw-w-24 tw-rounded tw-ellipsis" :style="{backgroundColor: value.color, color: textColorFor(value.color)}" :data-tooltip-content="`${key}: ${value.count}`">[[key]]</span><span class="ui label number tw-px-3 tw-cursor-pointer" :class="{'border': isSelected[key]}" @click="value.count && filterLabel(key, $event)">[[value.count]]</span></span>
    </details>
    <div class="ui divider"></div>
    <details @toggle="onToggle('users', $event)" :open="isUsersOpen">
        <summary>{{ctx.Locale.Tr "explore.users"}}</summary>
        <span v-for="(value, key) in usersSummary" :key="key" class="ui label tw-mr-2" :data-tooltip-content="`${key}: Created ${value.created}, Assigned ${value.assigned}`"><span class="tw-w-24 tw-ellipsis">[[key]]</span><span class="ui label number tw-px-3" :class="{'border': isSelected[`${key}-created`], 'tw-cursor-pointer': value.created}" @click="value.created && filterUser(`${key}`, null, $event)">[[value.created]]</span><span class="ui label number tw-px-3" :class="{'border': isSelected[`${key}-assigned`], 'tw-cursor-pointer': value.assigned}" @click="value.assigned && filterUser(null, `${key}`, $event)">[[value.assigned]]</span></span>
    </details>
    <div class="ui divider"></div></div>

    <div id="column-controls" class="mb-4 p-4 bg-white rounded shadow"></div>
    <div id="grid-container">
        <div id="wrapper"></div>
    </div>
</div>
<div id="releaseFilterBar" class="tw-hidden center">
    <div class="ui floating jump dropdown" tabindex="0">
        <div class="filter menu transition" tabindex="-1">
            <div class="ui icon search input">
                <i class="icon df ac jc"><svg viewBox="0 0 16 16" class="svg octicon-search" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M11.5 7a4.499 4.499 0 1 1-8.998 0A4.499 4.499 0 0 1 11.5 7zm-.82 4.74a6 6 0 1 1 1.06-1.06l3.04 3.04a.75.75 0 1 1-1.06 1.06l-3.04-3.04z"></path></svg></i>
                <input type="text" placeholder="Filter" tabindex="0">
            </div>
            <div class="scrolling menu">
                <a class="item muted" tabindex="-1" v-for="release in releaselists" @click="selectRelease(release.html_url)">
                    <span class="gt-ellipsis">[[release.name]]</span>
                </a>
            </div>
        </div>
        <input type="button" @click="queryRelease" class="ui button tiny" value="Filter Releases">
    </div>
</div>
