{{if .SignedUser}}

<a class="gotocontrol up tw-hidden" style="right:30px;bottom:70px">▲</a>
<a class="gotocontrol down tw-hidden" style="right:30px;bottom:30px">▼</a>

<script nonce="{{ctx.CspScriptNonce}}" src="{{AppSubUrl}}/assets/js/custom.min.js"></script>
{{end}}
