<div class="breadcrumb">
	<a class="section" href="{{$.BranchLink}}">{{.Repository.Name}}</a>
	{{$n := len .TreeNames}}
	{{$l := Eval $n "-" 1}}
	{{range $i, $v := .TreeNames}}
		<div class="breadcrumb-divider">/</div>
		{{if eq $i $l}}
			<input id="file-name" maxlength="255" value="{{$v}}" placeholder="{{ctx.Locale.Tr (Iif $.PageIsUpload "Add a directory…" "Name your file…")}}" data-editorconfig="{{$.EditorconfigJson}}" {{Iif $.PageIsUpload "" "required"}} autofocus>
			<span data-tooltip-content="{{ctx.Locale.Tr "Add a directory by typing its name followed by a slash ('/'). Remove a directory by typing backspace at the beginning of the input field."}}">{{svg "octicon-info"}}</span>
		{{else}}
			<span class="section"><a href="{{$.BranchLink}}/{{index $.TreePaths $i | PathEscapeSegments}}">{{$v}}</a></span>
		{{end}}
	{{end}}
	<span>{{ctx.Locale.Tr "or"}} <a href="{{or .ReturnURI (print $.BranchLink "/" (PathEscapeSegments .TreePath))}}">{{ctx.Locale.Tr "Cancel"}}</a></span>
	<input type="hidden" id="tree_path" name="tree_path" value="{{.TreePath}}">
</div>
