{{template "base/head" .}}
<div role="main" aria-label="{{if .IsSigned}}{{ctx.Locale.Tr "Dashboard"}}{{else}}{{ctx.Locale.Tr "Home"}}{{end}}" class="page-content home">
	<div class="tw-mb-8 tw-px-8">
		<div class="center">
			<img class="logo" width="220" height="220" src="{{AssetUrlPrefix}}/img/logo.svg" alt="{{ctx.Locale.Tr "Logo"}}">
			<div class="hero">
				<h1 class="ui icon header title tw-text-balance">
					{{AppName}}
				</h1>
				<h2 class="tw-text-balance">{{ctx.Locale.Tr "A painless, self-hosted Git service"}}</h2>
			</div>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-flame"}} {{ctx.Locale.Tr "Easy to install"}}
			</h1>
			<p class="large tw-text-balance">
				{{ctx.Locale.Tr "Simply <a target=\"_blank\" rel=\"noopener noreferrer\" href=\"%[1]s\">run the binary</a> for your platform, ship it with <a target=\"_blank\" rel=\"noopener noreferrer\" href=\"%[2]s\">Docker</a>, or get it <a target=\"_blank\" rel=\"noopener noreferrer\" href=\"%[3]s\">packaged</a>." "https://docs.gitea.com/installation/install-from-binary" "https://github.com/go-gitea/gitea/tree/master/docker" "https://docs.gitea.com/installation/install-from-package"}}
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-device-desktop"}} {{ctx.Locale.Tr "Cross-platform"}}
			</h1>
			<p class="large tw-text-balance">
				{{ctx.Locale.Tr "Gitea runs anywhere <a target=\"_blank\" rel=\"noopener noreferrer\" href=\"%s\">Go</a> can compile for: Windows, macOS, Linux, ARM, etc. Choose the one you love!" "https://go.dev/"}}
			</p>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-rocket"}} {{ctx.Locale.Tr "Lightweight"}}
			</h1>
			<p class="large tw-text-balance">
				{{ctx.Locale.Tr "Gitea has low minimal requirements and can run on an inexpensive Raspberry Pi. Save your machine energy!"}}
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-code"}} {{ctx.Locale.Tr "Open Source"}}
			</h1>
			<p class="large tw-text-balance">
				{{ctx.Locale.Tr "Go get <a target=\"_blank\" rel=\"noopener noreferrer\" href=\"%[1]s\">%[2]s</a>! Join us by <a target=\"_blank\" rel=\"noopener noreferrer\" href=\"%[3]s\">contributing</a> to make this project even better. Don't be shy to be a contributor!" "https://code.gitea.io/gitea" "code.gitea.io/gitea" "https://github.com/go-gitea/gitea"}}
			</p>
		</div>
	</div>
</div>
{{template "base/footer" .}}
