<h4 class="ui top attached header">{{if .IsEditRule}}{{ctx.Locale.Tr "Edit Cleanup Rule"}}{{else}}{{ctx.Locale.Tr "Add Cleanup Rule"}}{{end}}</h4>
<div class="ui attached segment">
	<form class="ui form" action="{{.Link}}" method="post">
		{{.CsrfTokenHtml}}
		<input name="id" type="hidden" value="{{.CleanupRule.ID}}">
		<div class="field">
			<div class="ui checkbox">
				<label>{{ctx.Locale.Tr "Enabled"}}</label>
				<input type="checkbox" name="enabled" {{if .CleanupRule.Enabled}}checked{{end}}>
			</div>
		</div>
		<div class="{{if .IsEditRule}}disabled {{end}}field {{if .Err_Type}}error{{end}}">
			<label>{{ctx.Locale.Tr "Type"}}</label>
			<select class="ui selection dropdown" name="type">
				{{range $type := .AvailableTypes}}
				<option{{if eq $.CleanupRule.Type $type}} selected="selected"{{end}} value="{{$type}}">{{$type.Name}}</option>
				{{end}}
			</select>
		</div>
		<div class="field">
			<div class="ui checkbox">
				<label>{{ctx.Locale.Tr "Apply pattern to full package name"}}</label>
				<input type="checkbox" name="match_full_name" {{if .CleanupRule.MatchFullName}}checked{{end}}>
			</div>
		</div>
		<div class="divider"></div>
		<p>{{ctx.Locale.Tr "Versions that match these rules are kept, even if they match a removal rule below."}}</p>
		<div class="field {{if .Err_KeepCount}}error{{end}}">
			<label>{{ctx.Locale.Tr "Keep the most recent"}}:</label>
			<select class="ui selection dropdown" name="keep_count">
				<option{{if eq .CleanupRule.KeepCount 0}} selected="selected"{{end}} value="0"></option>
				<option{{if eq .CleanupRule.KeepCount 1}} selected="selected"{{end}} value="1">{{ctx.Locale.Tr "1 version per package"}}</option>
				<option{{if eq .CleanupRule.KeepCount 5}} selected="selected"{{end}} value="5">{{ctx.Locale.Tr "%d versions per package" 5}}</option>
				<option{{if eq .CleanupRule.KeepCount 10}} selected="selected"{{end}} value="10">{{ctx.Locale.Tr "%d versions per package" 10}}</option>
				<option{{if eq .CleanupRule.KeepCount 25}} selected="selected"{{end}} value="25">{{ctx.Locale.Tr "%d versions per package" 25}}</option>
				<option{{if eq .CleanupRule.KeepCount 50}} selected="selected"{{end}} value="50">{{ctx.Locale.Tr "%d versions per package" 50}}</option>
				<option{{if eq .CleanupRule.KeepCount 100}} selected="selected"{{end}} value="100">{{ctx.Locale.Tr "%d versions per package" 100}}</option>
			</select>
		</div>
		<div class="field {{if .Err_KeepPattern}}error{{end}}">
			<label>{{ctx.Locale.Tr "Keep versions matching"}}:</label>
			<input name="keep_pattern" type="text" value="{{.CleanupRule.KeepPattern}}">
			<p>{{ctx.Locale.Tr "The <code>latest</code> version is always kept for Container packages."}}</p>
		</div>
		<div class="divider"></div>
		<p>{{ctx.Locale.Tr "Versions that match these rules are removed, unless a rule above says to keep them."}}</p>
		<div class="field {{if .Err_RemoveDays}}error{{end}}">
			<label>{{ctx.Locale.Tr "Remove versions older than"}}:</label>
			<select class="ui selection dropdown" name="remove_days">
				<option{{if eq .CleanupRule.RemoveDays 0}} selected="selected"{{end}} value="0"></option>
				<option{{if eq .CleanupRule.RemoveDays 7}} selected="selected"{{end}} value="7">{{ctx.Locale.Tr "%d days" 7}}</option>
				<option{{if eq .CleanupRule.RemoveDays 14}} selected="selected"{{end}} value="14">{{ctx.Locale.Tr "%d days" 14}}</option>
				<option{{if eq .CleanupRule.RemoveDays 30}} selected="selected"{{end}} value="30">{{ctx.Locale.Tr "%d days" 30}}</option>
				<option{{if eq .CleanupRule.RemoveDays 60}} selected="selected"{{end}} value="60">{{ctx.Locale.Tr "%d days" 60}}</option>
				<option{{if eq .CleanupRule.RemoveDays 90}} selected="selected"{{end}} value="90">{{ctx.Locale.Tr "%d days" 90}}</option>
				<option{{if eq .CleanupRule.RemoveDays 180}} selected="selected"{{end}} value="180">{{ctx.Locale.Tr "%d days" 180}}</option>
			</select>
		</div>
		<div class="field {{if .Err_RemovePattern}}error{{end}}">
			<label>{{ctx.Locale.Tr "Remove versions matching"}}:</label>
			<input name="remove_pattern" type="text" value="{{.CleanupRule.RemovePattern}}">
		</div>
		<div class="field">
			{{if .IsEditRule}}
			<button class="ui primary button" name="action" value="save">{{ctx.Locale.Tr "Save"}}</button>
			<button class="ui red button" name="action" value="remove">{{ctx.Locale.Tr "Remove"}}</button>
			<a class="ui button" href="{{.Link}}/preview">{{ctx.Locale.Tr "Cleanup Rule Preview"}}</a>
			{{else}}
			<button class="ui primary button" name="action" value="save">{{ctx.Locale.Tr "Add"}}</button>
			{{end}}
		</div>
	</form>
</div>
