<h4 class="ui top attached header">
	{{ctx.Locale.Tr "Manage Cleanup Rules"}}
	<div class="ui right">
		<a class="ui primary tiny button" href="{{.Link}}/rules/add">{{ctx.Locale.Tr "Add Cleanup Rule"}}</a>
	</div>
</h4>
<div class="ui attached segment">
	<div class="flex-list">
		{{range .CleanupRules}}
			<div class="flex-item">
				<div class="flex-item-leading">
					{{svg .Type.SVGName 32}}
				</div>
				<div class="flex-item-main">
					<div class="flex-item-title">
						<a class="item" href="{{$.Link}}/rules/{{.ID}}">{{.Type.Name}}</a>
					</div>
					<div class="flex-item-body">
						<i>{{if .Enabled}}{{ctx.Locale.Tr "Enabled"}}{{else}}{{ctx.Locale.Tr "Disabled"}}{{end}}</i>
					</div>
					{{if .KeepCount}}
					<div class="flex-item-body">
						<i>{{ctx.Locale.Tr "Keep the most recent"}}:</i> {{if eq .KeepCount 1}}{{ctx.Locale.Tr "1 version per package"}}{{else}}{{ctx.Locale.Tr "%d versions per package" .KeepCount}}{{end}}
					</div>
					{{end}}
					{{if .KeepPattern}}
					<div class="flex-item-body">
						<i>{{ctx.Locale.Tr "Keep versions matching"}}:</i> {{StringUtils.EllipsisString .KeepPattern 100}}
					</div>
					{{end}}
					{{if .RemoveDays}}
					<div class="flex-item-body">
						<i>{{ctx.Locale.Tr "Remove versions older than"}}:</i> {{ctx.Locale.Tr "%d days" .RemoveDays}}
					</div>
					{{end}}
					{{if .RemovePattern}}
					<div class="flex-item-body">
						<i>{{ctx.Locale.Tr "Remove versions matching"}}:</i> {{StringUtils.EllipsisString .RemovePattern 100}}
					</div>
					{{end}}
				</div>
				<div class="flex-item-trailing">
					<div class="ui dropdown tiny basic button">
						{{svg "octicon-kebab-horizontal"}}
						<div class="menu">
							<a class="item" href="{{$.Link}}/rules/{{.ID}}">{{ctx.Locale.Tr "Edit"}}</a>
							<a class="item" href="{{$.Link}}/rules/{{.ID}}/preview">{{ctx.Locale.Tr "Cleanup Rule Preview"}}</a>
						</div>
					</div>
				</div>
			</div>
		{{else}}
			<div class="item">{{ctx.Locale.Tr "No cleanup rules available. Please consult the documentation."}}</div>
		{{end}}
	</div>
</div>
