<h4 class="ui top attached header">{{ctx.Locale.Tr "Cleanup Rule Preview"}}</h4>
<div class="ui attached segment">
	<p>{{ctx.Locale.Tr "%d packages are scheduled to be removed." (len .VersionsToRemove)}}</p>
</div>
<div class="ui attached table segment">
	<table class="ui very basic striped table unstackable">
		<thead>
			<tr>
				<th>{{ctx.Locale.Tr "Type"}}</th>
				<th>{{ctx.Locale.Tr "Name"}}</th>
				<th>{{ctx.Locale.Tr "Version"}}</th>
				<th>{{ctx.Locale.Tr "Creator"}}</th>
				<th>{{ctx.Locale.Tr "Size"}}</th>
				<th>{{ctx.Locale.Tr "Published"}}</th>
			</tr>
		</thead>
		<tbody>
			{{range .VersionsToRemove}}
				<tr>
					<td>{{.Package.Type.Name}}</td>
					<td>{{.Package.Name}}</td>
					<td><a href="{{.VersionWebLink}}">{{.Version.Version}}</a></td>
					<td><a href="{{.Creator.HomeLink}}">{{.Creator.Name}}</a></td>
					<td>{{FileSize .CalculateBlobSize}}</td>
					<td>{{DateUtils.AbsoluteShort .Version.CreatedUnix}}</td>
				</tr>
			{{else}}
				<tr>
					<td colspan="6">{{ctx.Locale.Tr "Cleanup rule does not match any packages."}}</td>
				</tr>
			{{end}}
		</tbody>
	</table>
</div>
