<div class="file-not-rendered-prompt">
	{{ctx.Locale.Tr "The file is too large to be shown."}}
	{{if .RawFileLink}}<a href="{{.RawFileLink}}" rel="nofollow">{{ctx.Locale.Tr "View Raw"}}</a>{{end}}
</div>
