<form class="ui form ignore-dirty">
	{{template "shared/search/combo" (dict
	"Disabled" .CodeIndexerUnavailable
	"Value" .Keyword
	"Placeholder" (ctx.Locale.Tr "Search code…")
	"SearchModes" .SearchModes
	"SelectedSearchMode" .SelectedSearchMode
	)}}
</form>
<div class="divider"></div>
<div class="ui list">
	{{template "base/alert" .}}
	{{if .CodeIndexerUnavailable}}
		<div class="ui error message">
			<p>{{ctx.Locale.Tr "Code search is currently not available. Please contact the site administrator."}}</p>
		</div>
	{{else}}
		{{if not .IsRepoIndexerEnabled}}
			<div class="ui message">
				<p>{{ctx.Locale.Tr "Current code search results are provided by \"git grep\". There might be better results if site administrator enables Repository Indexer."}}</p>
			</div>
		{{end}}
		{{if .SearchResults}}
			{{template "shared/search/code/results" .}}
		{{else if .Keyword}}
			<div>{{ctx.Locale.Tr "No matching results found."}}</div>
		{{end}}
	{{end}}
</div>
