{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content organization new org">
	<div class="ui container medium-width">
		{{template "base/alert" .}}
		<h3 class="ui top attached header">
			{{ctx.Locale.Tr "New Organization"}}
		</h3>
		<div class="ui attached segment">
			<form class="ui form left-right-form" action="{{.Link}}" method="post">
				{{.CsrfTokenHtml}}
				<div class="inline required field {{if .Err_OrgName}}error{{end}}">
					<label for="org_name">{{ctx.Locale.Tr "Organization Name"}}</label>
					<input id="org_name" name="org_name" value="{{.org_name}}" autofocus required maxlength="40">
					<span class="help">{{ctx.Locale.Tr "Organization names should be short and memorable."}}</span>
				</div>

				<div class="inline field required {{if .Err_OrgVisibility}}error{{end}}">
					<label for="visibility">{{ctx.Locale.Tr "Visibility"}}</label>
					<div class="inline-right">
						<div class="ui radio checkbox">
							<input class="enable-system-radio" name="visibility" type="radio" value="0" {{if .visibility.IsPublic}}checked{{end}}>
							<label>{{ctx.Locale.Tr "Public"}}</label>
						</div>
						<div class="ui radio checkbox">
							<input class="enable-system-radio" name="visibility" type="radio" value="1" {{if .visibility.IsLimited}}checked{{end}}>
							<label>{{ctx.Locale.Tr "Limited (Visible to authenticated users only)"}}</label>
						</div>
						<div class="ui radio checkbox">
							<input class="enable-system-radio" name="visibility" type="radio" value="2" {{if .visibility.IsPrivate}}checked{{end}}>
							<label>{{ctx.Locale.Tr "Private (Visible only to organization members)"}}</label>
						</div>
					</div>
				</div>

				<div class="inline field" id="permission_box">
					<label>{{ctx.Locale.Tr "Permissions"}}</label>
					<div class="ui checkbox">
						<input type="checkbox" name="repo_admin_change_team_access" {{if .repo_admin_change_team_access}}checked{{end}}>
						<label>{{ctx.Locale.Tr "Repository admin can add and remove access for teams"}}</label>
					</div>
				</div>

				<div class="inline field">
					<label></label>
					<button class="ui primary button">
						{{ctx.Locale.Tr "Create Organization"}}
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
{{template "base/footer" .}}
