<button class="ui basic button tw-mr-0" hx-post="{{.Org.HomeLink}}?action={{if $.IsFollowing}}unfollow{{else}}follow{{end}}">
	{{if $.IsFollowing}}
		{{ctx.Locale.Tr "Unfollow"}}
	{{else}}
		{{ctx.Locale.Tr "Follow"}}
	{{end}}
</button>
