<p><a href="{{.PackageDescriptor.PackageWebLink}}">{{.PackageDescriptor.Package.Name}}</a> / <strong>{{ctx.Locale.Tr "Versions"}}</strong></p>
<form class="ui form ignore-dirty">
	<div class="ui small fluid action input">
		{{template "shared/search/input" dict "Value" .Query "Placeholder" (ctx.Locale.Tr "Search packages…")}}
		<select class="ui small dropdown" name="sort">
			<option value="version_asc"{{if eq .Sort "version_asc"}} selected="selected"{{end}}>{{ctx.Locale.Tr "A–Z"}}</option>
			<option value="version_desc"{{if eq .Sort "version_desc"}} selected="selected"{{end}}>{{ctx.Locale.Tr "Z–A"}}</option>
			<option value="created_asc"{{if eq .Sort "created_asc"}} selected="selected"{{end}}>{{ctx.Locale.Tr "Oldest"}}</option>
			<option value="created_desc"{{if or (eq .Sort "") (eq .Sort "created_desc")}} selected="selected"{{end}}>{{ctx.Locale.Tr "Newest"}}</option>
		</select>
		{{if eq .PackageDescriptor.Package.Type "container"}}
		<select class="ui small dropdown" name="tagged">
			{{$isTagged := or (eq .Tagged "") (eq .Tagged "tagged")}}
			<option value="tagged"{{if $isTagged}} selected="selected"{{end}}>{{ctx.Locale.Tr "Tagged"}}</option>
			<option value="untagged"{{if not $isTagged}} selected="selected"{{end}}>{{ctx.Locale.Tr "Untagged"}}</option>
		</select>
		{{end}}
		{{template "shared/search/button"}}
	</div>
</form>
<div>
	{{range .PackageDescriptors}}
	<div class="flex-list">
		<div class="flex-item">
			<div class="flex-item-main">
				<a class="flex-item-title" href="{{.VersionWebLink}}">{{.Version.LowerVersion}}</a>
				<div class="flex-item-body">
					{{ctx.Locale.Tr "Published %[1]s by <a href=\"%[2]s\">%[3]s</a>" (DateUtils.TimeSince .Version.CreatedUnix) .Creator.HomeLink .Creator.GetDisplayName}}
				</div>
			</div>
		</div>
	</div>
	{{else}}
		<p class="tw-py-4">{{ctx.Locale.Tr "Your filter produced no results."}}</p>
	{{end}}
	{{template "base/paginate" .}}
</div>
